<link href="/css/record-savefiles/new.css" rel="stylesheet">
<div class="layout--content-primary layout--content-primary-readable">
  <h1>Automatically submit scores by uploading your save file</h1>

  <p>
    Upload your save file to automatically detect and submit scores.
    You will have the opportunity to review the scores before submitting them.
    <strong>This tool is still work in progress, use at your own peril</strong>
  </p>

  <div id='auto-proof-tool'></div>
</div>
<script type="module">
import { render, h, Component } from "/js/preact.js";
import { compare_with_previous, render_score } from "/js/record-comparison.js";
import htm from 'https://unpkg.com/htm?module';
const sleep = ms => new Promise(r => setTimeout(r, ms));
const html = htm.bind(h);

async function loadSavefileParser(game) {
  switch (game.savefile_module) {
    case "melvoridle":
      const melvor = await import("/js/melvor-savefile/melvor_wasm.js?v=1.1");
      await melvor.default();

      return async function(file) {
        const bytes = new Uint8Array(await file.arrayBuffer());
        return melvor.scores_wasm(bytes);
      };
    case "pokeclicker":
      return async function(file) {
        const data = new FormData();
        data.append('file', file)

        const response = await fetch("https://pokeclicker.cyberscore.me.uk", { method: "POST", body: data });
        const { scores } = await response.json();

        console.log(scores);

        return scores;
      };
  }
}

const response = await fetch(`/game/${new URLSearchParams(window.location.search).get('game_id')}.json`);
const game = await response.json();

const detectScores = await loadSavefileParser(game);

class App extends Component {
  constructor() {
    super();
    this.state = { scores: [] };
  }
  render() {
    if (this.state.parsing == undefined) {
      return html`
        <form class='proof-form'>
          <div class='proof-form-drag-area'>
            <input id='proof-form-field' type="file" onChange="${(ev) => this.parseSave(ev)}" />
            <p>Drag your save file here or click in this area</p>
          </div>
        </form>
      `;
    } else if (this.state.parsing === "loading") {
      return html`<${Loading} failures=${[]} error=${null} />`;
    } else if (this.state.parsing === "failed") {
      return html`<${Loading} failures=${this.state.failures} error=${this.state.error} />`;
    } else {
      return html`
        <${ScoresTable} game=${this.props.game} scores=${this.state.scores} scoreIndex=${this.state.scoreIndex} scoresByGroup=${this.state.scoresByGroup} />
        ${this.props.submitting !== undefined && html`<${Submitting} />`}
        ${this.props.submitting === undefined && html`
          <div class='proof-scores-form'>
            <div>
              <select onChange=${(e) => this.updatePlatform(e)}>
                <option value="-1">Platform:</option>
                ${this.props.game.platforms.map((platform) => html`
                  <option value="${platform.platform_id}">${platform.platform_name}</option>
                `)}
              </select>
            </div>
            <button onClick=${() => this.submit()} disabled=${this.state.platform === undefined}>
              Submit Records
            </button>
          </div>
        `}
      `;
    }
  }

  async updatePlatform(ev) {
    if (ev.target.value == -1) {
      this.setState({ platform: undefined });
    } else {
      this.setState({ platform: ev.target.value });
    }
  }

  async submit() {
    this.setState({ submitting: true });

    const charts = {};
    this.props.game.chart_groups.forEach(chart_group => {
      charts[chart_group.english_group_name] = {};
      chart_group.charts.forEach(chart => {
        charts[chart_group.english_group_name][chart.english_chart_name.toLowerCase()] = chart;
      });
    });

    const body = {
      records: this.state
        .scores
        .map(score => [score, charts[score.group][score.chart.toLowerCase()]])
        .filter(([score, chart]) => compare_with_previous(score, chart) == 1)
        .map(([score, chart]) => ({
          chart_id:    chart.chart_id,
          submission:  score.value1,
          submission2: score.value2,
          platform_id: this.state.platform,
        })),
    };

    const response = await fetch('/record-auto-submissions', {
      method: 'POST',
      body: JSON.stringify(body),
      headers: { 'Content-Type': 'application/json' },
    });

    window.location.reload();
  }

  async parseSave(ev) {
    this.setState({ parsing: "loading" });
    try {
      const file   = ev.target.files[0];
      const scores = await detectScores(file);
      await sleep(2000);

      const scoreIndex = {};
      this.props.game.chart_groups.forEach(chart_group => {
        scoreIndex[chart_group.english_group_name] = {};
        chart_group.charts.forEach(chart => {
          scoreIndex[chart_group.english_group_name][chart.english_chart_name.toLowerCase()] = null;
        });
      });

      const failures = [];
      scores.forEach(score => {
        if (scoreIndex[score.group] && scoreIndex[score.group].hasOwnProperty(score.chart.toLowerCase())) {
          scoreIndex[score.group][score.chart.toLowerCase()] = score;
        } else {
          failures.push(score);
        }
      });

      if (failures.length > 0) {
        this.setState({ parsing: "failed", failures, error: "Unknown charts:" });
      } else {
        const scoresByGroup = Object.groupBy(scores, s => s.group);

        this.setState({
          parsing: "done",
          scores,
          scoresByGroup,
          scoreIndex,
        });
      }
    } catch (e) {
      this.setState({ parsing: "failed", failures: [], error: e.toString() });
    }
  }
}

class ScoresTable extends Component {
  constructor() {
    super();
    this.state = {
      showWorse: true,
      showSame: true,
      showBetter: true,
    }
  }
  toggleWorse(ev) { this.setState({ showWorse: ev.target.checked }); }
  toggleSame(ev) { this.setState({ showSame: ev.target.checked }); }
  toggleBetter(ev) { this.setState({ showBetter: ev.target.checked }); }

  render() {
    return html`
      <label style='display: block'><input type='checkbox' onChange=${(ev) => this.toggleWorse(ev)}  checked=${this.state.showWorse} /> show worse scores</label>
      <label style='display: block'><input type='checkbox' onChange=${(ev) => this.toggleSame(ev)}   checked=${this.state.showSame} /> show same scores</label>
      <label style='display: block'><input type='checkbox' onChange=${(ev) => this.toggleBetter(ev)} checked=${this.state.showBetter} /> show better scores</label>
      <p>(these filters won't affect what's submitted; only better scores are submitted)</p>

      <table class='proof-scores ${this.state.showWorse && 'proof-scores--show-worse'} ${this.state.showSame && 'proof-scores--show-same'} ${this.state.showBetter && 'proof-scores--show-better'}'>
        ${this.props.game.chart_groups.map((chart_group) => (
          html`
            <tr class='proof-chart-group ${chart_group.colour}'>
              <td>${chart_group.english_group_name} (${(this.props.scoresByGroup[chart_group.english_group_name] || []).length} / ${chart_group.charts.length})</td>
              <td>Detected</td>
              <td>Current</td>
              <td></td>
            </tr>
            ${chart_group.charts.map((chart) => {
              const score = this.props.scoreIndex[chart_group.english_group_name][chart.english_chart_name.toLowerCase()];
              if (score) {
                return html`
                  <tr class='proof-chart proof-chart--change${compare_with_previous(score, chart)}'>
                    <td><a href="${chart.chart_url.html}">${score.chart}</a></td>
                    <td>${render_score(score, chart)}</td>
                    <td>${render_score({ value1: chart.record.submission, value2: chart.record.submission2 }, chart)}</td>
                    <td class="proof-chart-comparison"></td>
                  </tr>
                `;
              } else { return html``; }
            })}
          `
        ))}
      </table>
    `;
  }
}

class Submitting extends Component {
  render() {
    return html`<div class="scoreboard-widget" style='position: fixed; top: calc(50vh - min(200px, 80vh) / 2); left: calc(50vw - min(600px, 80vw) / 2); width: min(600px, 80vw); height: min(200px, 80vh); background-color: white; box-shadow: 2px 2px 6px #333; z-index: 4;'>
      <div class="scoreboard-widget-header" style='display: flex; justify-content: space-between; padding-left: 1em'>
        <div>Submitting scores...</div>
      </div>

      <p style='text-align: center;'>This page will refresh automatically when submission finishes.</p>
    </div>`;
  }
}

class Loading extends Component {
  render() {
    if (this.props.error === null) {
      return html`<div class="scoreboard-widget" style='position: fixed; top: calc(50vh - min(400px, 80vh) / 2); left: calc(50vw - min(600px, 80vw) / 2); width: min(600px, 80vw); height: min(400px, 80vh); background-color: white; box-shadow: 2px 2px 6px #333; z-index: 4;'>
        <div class="scoreboard-widget-header" style='display: flex; justify-content: space-between; padding-left: 1em'>
          <div>Processing save file...</div>
        </div>

        <div class='proof-form proof-form--loading'>
          <div class="loading-bar standard"></div>
          <div class="loading-bar arcade"></div>
          <div class="loading-bar speedrun"></div>
          <div class="loading-bar solution"></div>
          <div class="loading-bar challenge"></div>
          <div class="loading-bar collectible"></div>
          <div class="loading-bar incremental"></div>
        </div>
      </div>`;
    } else {
      return html`<div class="scoreboard-widget" style='position: fixed; top: calc(50vh - min(600px, 80vh) / 2); left: calc(50vw - min(600px, 80vw) / 2); width: min(600px, 80vw); height: min(600px, 80vh); background-color: white; box-shadow: 2px 2px 6px #333; z-index: 4;'>
        <div class="scoreboard-widget-header" style='display: flex; justify-content: space-between; padding-left: 1em'>
          <div>Errors found processing save file!</div>
        </div>

        <div style='overflow: scroll; padding: 1rem;'>
          <p>${this.props.error}</p>
          ${this.props.failures.length > 0 && html`<ul>${this.props.failures.map((score) => (html`<li>${score.group} - ${score.chart}</li>`))}</ul>` || html``}
        </div>
      </div>`;
    }
  }
}

render(
  html`<${App} game=${game} />`,
  document.getElementById('auto-proof-tool')
);

function measure(fn) {
  const startTime = performance.now();
  const result = fn();
  const endTime = performance.now();
  console.log(`took ${endTime - startTime} ms`);
  return result;
}
</script>
