<div class="layout--content-primary">
  <div id="breadcrumb">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    <a href="/games">{{ t('general_games') }}</a> &rarr;
    {{ link_to_game(game) }} &rarr;
    {{ type_name }} proofs

    {{ render_component_with("games/language-selection", {game_id: game.game_id}) }}
  </div>

  <h2>{{ type_name }} proofs for {{ link_to_game(game) }}</h2>

  {% if proof_type == 'v' %}
    <small><a href="{{ current_url_with_query({'type': 'p'}) }}">View image proofs</a></small>
  {% else %}
    <small><a href="{{ current_url_with_query({'type': 'v'}) }}">View video proofs</a></small>
  {% endif %}

  {% if users|length == 0 %}
    <p>{{ type_name }} proofs haven't been submitted to this game yet.</p>
  {% else %}
    <div class='warning'>
      This page no longer shows the actual proofs. Some games have tens of
      thousands of proofs, and it was causing us infrastructure issues.
      It's now a list of users by number of proofs.
      In the future it might come back, but in a different way.
    </div>

    <table class='user-proofs scoreboard'>
      {% for user in users %}
        <tr>
          <td>
            {{ user_avatar_image_tag(user, {'class': 'userpic', 'style': 'width: 50px'}) }}
            <a href="/user/{{ user.user_id }}">{{ user.username }}</a>
          </td>
          <td>
            <span class="num_proofs">{{ user.record_count }} proofs</span>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
</div>
