<div class="layout--content-primary">
  <div id="breadcrumb">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    {{ t('gamerequests_view_tool') }}
  </div>
  <h2>{{ t('gamerequests_view_tool') }} ({{ requests|length }} Pending)</h2>

  <div class="submit_button">
    <a href="/game_requests/new" style="text-decoration:none;">
      <img src="/development/submit_record.png" width="150" height="25" alt="{{ t('gamerequests_gr') }}" />
      <span><b>{{ t('gamerequests_make') }}</b></span>
    </a>
  </div>
  {% if has_access('GameMod') %}
    <div class="submit_button">
      <a href="/handled-game-requests" style="text-decoration:none;">
        <img src="/development/handled.png" width="200" height="25" alt="{{ t('gamerequests_complete_tool') }}" />
        <span><b>{{ t('gamerequests_handle') }}</b></span>
      </a>
    </div>
  {% endif %}

  <table class='zebra'>
    <tr>
      <th>Game name</th>
      <th>Existing game?</th>
      <th>Added by</th>
      <th>Requested on</th>
      <th>Comments</th>
      <th>Last comment</th>
    </tr>
    {% for request in requests %}
      <tr>
        <td><a href="/game_requests/{{ request.gamereq_id }}">{{ request.game_name }}</strong></td>
        <td>
          {% if request.game_id %}
            Yes: {{ link_to_game(request) }}
          {% endif %}
        </td>
        <td>{{ link_to_user(request) }}</td>
        <td>{{ request.date_requested }}</td>
        <td>
          {% if request.last_comment_time == 0 %}
            -
          {% else %}
            {{ request.comment_count }}
          {% endif %}
        </td>
        <td>{{ request.last_comment_time }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
