<style>
table input[type='text'] { width: calc(100% - 10px); }
table textarea { width: calc(100% - 10px); }
table.recordtable, table.recordtable th {
  border: 2px solid #0077b2;
  padding: 5px;
  text-align: center;
}

table.recordtable td {
  border: 2px solid #0077b2;
  padding: 5px;
  text-align: center;
}

.success { background-color: #aaffaa; padding: 2em 1em; }
.error { background-color: #ffaaaa; padding: 2em 1em; }

.actions input[type=submit] { margin: 5px; }

</style>
<div class="layout--content-primary">
  <div id="breadcrumb">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    <a href="/game_requests">{{ t('gamerequests_view_tool') }}</a> &rarr;
    {{ request.game_name }}
  </div>

  <h2>{{ request.game_name }}</h2>

  {% if request.handled == 1 %}
    <p class="success">This game request has already been approved.</p>
  {% elseif request.handled == 2 %}
    <p class="error">This game request has been denied.</p>
  {% endif %}

  <form action="/game_requests/{{ request.gamereq_id }}" method="post">
    <table class="recordtable zebra">
      <tr>
        <th>{{ t('gamerequests_submitter') }}</th>
        <td>
          {{ user_avatar_image_tag(request, {'style': 'max-width: 30px;'}) }}
          {{ link_to_user(request) }},
          {{ t('gamerequests_date', {'date': request.date_requested }) }}
        </td>
        <th>{{ t('gamerequests_charts') }}</th>
      </tr>
      <tr>
        <th>{{ t('gamerequests_game_name') }}</th>
        <td><input type='text' name="game_name" value="{{ request.game_name }}" {% if not can_edit %}readonly{% endif %} /></td>

        <td rowspan="11">
          <textarea name="charts" style="min-height: 600px;">{{ request.charts }}</textarea>
          <p>{{ t('gamerequests_chartcount') }}</p>
          <input type='text' name="chartcount" value="{{ request.chartcount }}" {% if not can_edit %}readonly{% endif %} />
        </td>
      </tr>
      <tr>
        <th>{{ t('gamerequests_game_id_add') }}</th>
        <td><input type="text" name="game_id" size="10" value="{{ request.game_id }}"></td>
      </tr>
      <tr>
        <th>{{ t('gamerequests_platforms') }}</th>
        <!-- Checkboxes would be nice. Currently the database table only supports text. Later revision on this: seems super hard and not worth it. Text is fine. -->
        <td><input type='text' name="platforms" value="{{ request.platforms }}" {% if not can_edit %}readonly{% endif %} /></td>
      </tr>
      <tr>
        <th>{{ t('gamerequests_boxart_link') }}</th>
        <td>
          <!--Boxart. It would be nice to be able to remove the image error if the image doesn't exist.-->
          <a href="{{ request.boxart }}"><img src="{{ request.boxart }}" style="width: 150px; border: 1px solid black;"></a>
          <input type='text' name="boxart" value="{{ request.boxart }}" {% if not can_edit %}readonly{% endif %} />
        </td>
      </tr>

      <tr>
        <th>{{ t('gamerequests_entities') }}</th>
        <td><textarea name="entities" {% if not can_edit %}readonly{% endif %}>{{ request.entities }}</textarea></td>
      </tr>

      <tr>
        <th>{{ t('gamerequests_rules') }}</th>
        <td><textarea name="rules" {% if not can_edit %}readonly{% endif %}>{{ request.rules }}</textarea></td>
      </tr>

      <!-- Region Differences, Platform Differences and Version/Patch/Update Differences -->
      <tr>
        <th>{{ t('gamerequests_regiondiff') }}</th>
        <td><textarea name="regiondiff" {% if not can_edit %}readonly{% endif %}>{{ request.regiondiff }}</textarea></td>
      </tr>

      <tr>
        <th>{{ t('gamerequests_region_platformdiff') }}</th>
        <td><textarea name="platformdiff" {% if not can_edit %}readonly{% endif %}>{{ request.platformdiff }}</textarea></td>
      </tr>

      <tr>
        <th>{{ t('gamerequests_patches') }}</th>
        <td><textarea name="patches" {% if not can_edit %}readonly{% endif %}>{{ request.patches }}</textarea></td>
      </tr>

      <tr>
        <th>{{ t('gamerequests_extra_info') }}</th>
        <td><textarea name="extra_info" {% if not can_edit %}readonly{% endif %}>{{ request.extra_info }}</textarea></td>
      </tr>

      <tr>
        <th>{{ t('gamerequests_exampleproof') }}</th>
        <td>
          {% if request.exampleproof != null %}
            <a href="{{ request.exampleproof }}"><img src="{{ request.exampleproof }}" width="250px"></a>
          {% endif %}
          <input type="text" name="exampleproof" value="{{ request.exampleproof }}" />
        </td>
      </tr>

      <!-- submit the changes to game request; also options to mark game request as complete or denied.-->
      {% if can_edit %}
        <tr>
          <td colspan="3"><input type="submit" name="submit" value="{{ t('gamerequests_submit') }}" /></td>
        </tr>
      {% endif %}
    </table>
  </form>

  {% if has_access('GameMod') and request.handled == 0 %}
    <div class='actions'>
      <h3>Extra actions</h3>
      <form action="/game_requests/{{ request.gamereq_id }}" method="post">
        <input type="hidden" name="handled" value="complete" />
        <input type="submit" value="{{ t('gamerequests_complete') }}" />
      </form>

      <form action="/game_requests/{{ request.gamereq_id }}" method="post">
        <input type="hidden" name="handled" value="denied" />
        <input type="submit" value="{{ t('gamerequests_denied') }}" />
      </form>

      <form action="/game_requests/{{ request.gamereq_id }}" method="post">
        <input type="hidden" name="handled" value="deleted" />
        <input type="submit" value="{{ t('gamerequests_deleted') }}" onclick="return confirm('Deleting Game Request. Are you sure?')" />
      </form>
    </div>
  {% endif %}

  {% if comments|length > 0 %}
    <h3>{{ comments|length }} {{ t('news_article_comments') }}</h3>

    <div class="comments">
      {% for comment in comments %}
        {{ render_component_with('articles/comment', {'comment': comment}) }}
      {% endfor %}
    </div>
  {% endif %}

  {% if has_access('User') and request.handled == 0 %}
    <h3>{{ t('news_article_leave_comment') }}</h3>

    <form action="/comments/create" method="post" onsubmit="this.elements['submit'].disabled=true;">
      {{ hidden_field('commentable_type', {'commentable_type': 'game_requests'}) }}
      {{ hidden_field('commentable_id', {'commentable_id': request.gamereq_id}) }}

      <textarea name="comment" rows="10" cols="75"></textarea><br />
      <input type="submit" name="submit" value="{{ t('general_post_comment') }}" />
    </form>
  {% endif %}

  {% if request.handled == 1 %}
    <p class="success">This game request has already been approved.</p>
  {% elseif request.handled == 2 %}
    <p class="error">This game request has been denied.</p>
  {% endif %}
</div>
<script type="text/javascript">
function toggle_comment_mode(element, mode) {
  let comment = element.closest('.comments-comment')
  comment.classList.remove('display');
  comment.classList.remove('edit');
  comment.classList.remove('reply');
  comment.classList.add(mode);
}
</script>
