{% if scoreboard|length > 0 %}
  <div class='sidebar-section small-scoreboard small-scoreboard--arcade'>
    <h2 class="sidebar-title sidebar-title--arcade">
      <a href="/game_scoreboard?game_id={{ game.game_id }}&board=arcade">{{ t('game_arcadeboard_leader') }}</a>
    </h2>
    <div class='sidebar-section-body'>
      <table>
        <tr>
          <th></th>
          <th><img src="{{ skin_image_url('scoreboards/arcade.png') }}" alt="{{ t('general_ap') }}" title="{{ t('general_ap') }}"/></th>
          <th><img src="{{ skin_image_url('scoreboards/subs.png') }}" alt="{{ t('general_submissions') }}" title="{{ t('general_submissions') }}"></th>
        </tr>
        {% for leader in scoreboard %}
          <tr>
            <td class="username">
              {{ user_avatar_image_tag(leader, {'link': true}) }}
              {{ country_flag_image_tag(leader) }}
              {{ link_to_user(leader) }}
            </td>
            <td class="medal">{{ leader.tokens  |number_format(0) }}</td>
            <td class="medal">{{ leader.num_subs|number_format(0) }}</td>
          </tr>
        {% endfor %}
      </table>

      <div class='small-scoreboard-more'>
        <a href="/game_scoreboard?game_id={{ game.game_id }}&board=arcade">{{ t('game_full_arcadeboard') }}</a>
      </div>
    </div>
  </div>
{% endif %}
