{% if scoreboard|length > 0 %}
  <div class='sidebar-section small-scoreboard small-scoreboard--standard'>
    <h2 class="sidebar-title sidebar-title--standard">
      <a href="/game_scoreboard?game_id={{ game.game_id }}&board=medal">{{ t('general_medal_table') }}</a>
    </h2>
    <div class='sidebar-section-body'>
      <table>
        <tr>
          <th></th>
          <th><img src="/images/icon-platinumstar.png" alt="platinum medal" /></th>
          <th><img src="/images/icon-goldstar-v2.png" alt="gold medal" /></th>
          <th><img src="/images/icon-silverstar-v2.png" alt="silver medal" /></th>
          <th><img src="/images/icon-bronzestar-v2.png" alt="bronze medal" /></th>
        </tr>
        {% for leader in scoreboard %}
          <tr>
            <td class="username">
              {{ user_avatar_image_tag(leader, {'link': true}) }}
              {{ country_flag_image_tag(leader) }}
              {{ link_to_user(leader) }}
            </td>
            <td class="medal">{{ leader.platinum }}</td>
            <td class="medal">{{ leader.gold }}</td>
            <td class="medal">{{ leader.silver }}</td>
            <td class="medal">{{ leader.bronze }}</td>
          </tr>
        {% endfor %}
      </table>

      <div class='small-scoreboard-more'>
        <a href="/game_scoreboard?game_id={{ game.game_id }}&board=medal">{{ t('game_full_medal_table') }}</a>
      </div>
    </div>
  </div>
{% endif %}
