<div class="layout--content-primary layout--content-primary-readable">
  <nav id="breadcrumb">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    <a href='/community'>{{ t('general_community') }}</a> &rarr;
    {{ t('news_archive') }}
  </nav>

  <h1>
    {{ t('news_archive') }}
    {% if has_access('Newswriter') %}
      <a title="Add News" href="/articles/new">
        <img src="{{ skin_image_url('plus_icon.gif') }}" width="11" height="11" alt="add" />
      </a>
    {% endif %}
  </h1>

  <table class="zebra">
    {% for article in news %}
      <tr>
        <td>
          {% if has_access('Newswriter') %}
            <a title="Edit news" href="/articles/{{ article.news_id }}/edit">
              <img src="/skins4/default/images/edit.png" style="width:12px; height:12px;" alt="edit" />
            </a>
          {% endif %}

          {% if has_access('GlobalMod') %}
            <form style="display: inline-block"
                  action="/articles/{{ article.news_id }}/delete"
                  method="post">
              <input type="image"
                     title="Delete article"
                     name="delete_article"
                     src="/images/delete.png"
                     style="width:12px; height:12px;"
                     alt="delete"
                     onclick="return confirm('Are you sure you want to delete this news article?')" />
            </form>
          {% endif %}

          <a href="/articles/{{ article.news_id }}">{{ article.headline }}</a>

          {% for star in article.stars %}
            <img src="{{ star.src }}" style="display:inline-block;" title="{{ star.title }}" alt="{{ star.alt }}" />
          {% endfor %}
        </td>
        <td style='text-align: right'>
          {{ article.num_comments }} comment(s)
        </td>
        <td style="text-align:right">
          {{ format_date(article.news_date) }}
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
