h1 { text-align: center; }

#proof-form-files { display: none; }
#proof-form.uploaded { display: none; }

.proof-form {
  border: 2px dashed var(--color-standard);
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
  margin: 0px auto;
  margin-bottom: 20px;
}

.proof-chart-group {
  border: 1px solid white;
  color: white;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.75);
  background-color: var(--color-flavor);
  font-family: Ubuntu;
  font-weight: bold;
}

.proof-chart-group td {
  padding: 0.25em 0.5em;
}

.proof-chart-group.standard { --color-flavor: var(--color-standard); }
.proof-chart-group.arcade { --color-flavor: var(--color-arcade); }
.proof-chart-group.speedrun { --color-flavor: var(--color-speedrun); }
.proof-chart-group.solution { --color-flavor: var(--color-solution); }
.proof-chart-group.challenge { --color-flavor: var(--color-challenge); }
.proof-chart-group.collectible { --color-flavor: var(--color-collectible); }
.proof-chart-group.incremental { --color-flavor: var(--color-incremental); }

.proof-form--loading {
  align-items: center;
  gap: 0px;
}
.loading-bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-flavor);
  animation: delay 1.8s infinite ease-in-out;
}
.loading-bar.standard    { animation-delay: 0.0s; --color-flavor: var(--color-standard); }
.loading-bar.arcade      { animation-delay: 0.1s; --color-flavor: var(--color-arcade); }
.loading-bar.speedrun    { animation-delay: 0.2s; --color-flavor: var(--color-speedrun); }
.loading-bar.solution    { animation-delay: 0.3s; --color-flavor: var(--color-solution); }
.loading-bar.challenge   { animation-delay: 0.4s; --color-flavor: var(--color-challenge); }
.loading-bar.collectible { animation-delay: 0.5s; --color-flavor: var(--color-collectible); }
.loading-bar.incremental { animation-delay: 0.6s; --color-flavor: var(--color-incremental); }
@keyframes delay {
  0%, 40%, 100% {
    transform: scaleX(0.05);
  }  20% {
    transform: scaleX(1.0);
  }
}

.proof-scores { margin-bottom: 2em; }
.proof-scores td { padding: 0.25em 0.5em; text-align: right; }
.proof-scores td:first-child { text-align: left; }
.proof-chart:nth-child(2n) {
  background-color: #eeeeee;
}
.proof-chart:hover { background-color: #ccc; }

.proof-scores:not(.proof-scores--show-worse)  .proof-chart--change-1 { display: none; }
.proof-scores:not(.proof-scores--show-same)   .proof-chart--change0  { display: none; }
.proof-scores:not(.proof-scores--show-better) .proof-chart--change1  { display: none; }

.proof-chart--change1  .proof-chart-comparison::before { content: "▲"; margin-left: 5px; padding: 2px; color: white; background-color: green; }
.proof-chart--change-1 .proof-chart-comparison::before { content: "▼"; margin-left: 5px; padding: 2px; color: white; background-color: red; }

.proof-scores-form {
  text-align: center;
  margin-bottom: 2em;
}

.proof-form-drag-area {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.proof-form-drag-area p {
  padding: 10px;
  padding-bottom: 6px;
  text-align: center;
  margin: 0px;
}

#proof-form-field {
  outline: none;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.scoreboard-widget-header { grid-area: header; }
