<p>Hi {{ username|e }}</p>

<p>
  You have requested a password reset, so we are e-mailing you this code as an
  identity check. Please enter it in the space provided on the password reset
  form.
</p>

<p>
  This verifies you are the owner of this e-mail address and therefore the
  account.
</p>

<p>PASSWORD RESET VERIFICATION CODE: {{ vcode }}</p>

{{ signature }}

<hr />

{{ automated_warning }}
