<div class="layout--content-primary">
  <div id="breadcrumb">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    {{ page_title }}
  </div>

  <h1>
    {% if game %}
      {{ t('general_latest_subs_game', {game: link_to_game(game) })|raw }}
    {% else %}
      {{ t('general_latest_subs') }}
    {% endif %}
  </h1>

  <table id="latest_records_table" class="zebra">
    <thead>
      <tr>
        <th style="padding-left: 10px;"></th>
        <th>{{ t('general_user') }}</th>
        {% if not game %}<th>{{ t('general_game') }}</th>{% endif %}
        <th>{{ t('general_group_and_chart') }}</th>
        <th>{{ t('general_record') }}</th>
        <th colspan="3">{{ t('general_position') }}</th>
        <th>Award</th>
        <th style="text-align: right; padding-right: 15px;">{{ t('general_date') }}</th>
      </tr>
    </thead>
    {% for latest in latest_subs %}
      <tr>
        <!-- User -->
        <td class="flag" style="padding-top: 4px; padding-left: 10px;">
          {{ country_flag_image_tag(latest) }}
        </td>
        <td>
          {{ link_to_user(latest) }}
          {{ user_star_image_tags(latest) }}
        </td>

        <!-- game -->
        {% if not game %}
          <td><a href="/game/{{ latest.game_id }}"><strong>{{ latest.game_name }}</strong></a></td>
        {% endif %}

        <!-- chart & group -->
        <td>
          {% if latest.group_id > 0 %}
            <span class="chartname_{{ latest.group_colour }}"><a href="/group/{{ latest.game_id }}/{{ latest.group_id }}">{{ latest.group_name }}</a></span> &rarr;
          {% endif %}
          <span class="chartname_{{ latest.colour }}"><a href="/chart/{{ latest.level_id }}">{{ latest.chart_name }}</a></span>
        </td>

        <!-- submission -->
        <td>
          <span class="chartname_{{ latest.colour }}"><a href="/record/{{ latest.record_id }}">{{ format_submission(latest) }}</a></span>
          {% if latest.comment != '' %}
            <img src="/images/comment.png" alt="{{ latest.comment }}" title="{{ latest.comment }}" />
          {% endif %}
        </td>

        <!-- medal & position -->
        <td style="padding-top: 6px;">
          {% if latest.awards.medals %}
            {% if latest.chart_pos == 1 and latest.platinum == 1 %}
              <img src="/images/icon-platinumstar.png" title="Platinum" />
            {% elseif latest.chart_pos == 1 %}
              <img src="/images/icon-goldstar-v2.png" title="Gold" />
            {% elseif latest.chart_pos == 2 %}
              <img src="/images/icon-silverstar-v2.png" title="Silver" />
            {% elseif latest.chart_pos == 3 %}
              <img src="/images/icon-bronzestar-v2.png" title="Bronze" />
            {% endif %}
          {% endif %}
        </td>
        <td>{{ latest.chart_pos }} / {{ latest.chart_subs }}</td>
        <td></td>

        <!-- Awards! -->
        <td style="font-size: 80%; width: 125px;">
          <!-- CSP & CSR -->
          {% if latest.awards.csp %}
            <span class="chartname_standard"><strong> {{ latest.csr|number_format(2) }} CSR</strong> - {{ latest.csp|number_format(2) }} CSP</span><br />
          {% endif %}

          <!-- Chart-flag awards -->
          {% if latest.awards.arcade_points %}
            <span class="chartname_arcade"><a href="/record/{{ latest.record_id }}">{{ latest.arcade_points|number_format(0) }} Tokens</a></span><br />
          {% endif %}

          {% if latest.awards.brain_power %}
            <span class="chartname_solution"><a href="/record/{{ latest.record_id }}">{{ latest.brain_power|number_format(0) }} Brain Power</a></span><br />
          {% endif %}

          {% if latest.awards.speedrun_points %}
            <span class="chartname_speedrun"><a href="/record/{{ latest.record_id }}">{{ latest.medal_points|number_format(0) }} Speedrun Points</a></span><br />
          {% endif %}

          {% if latest.awards.style_points %}
            <span class="chartname_challenge"><a href="/record/{{ latest.record_id }}">{{ latest.style_points|number_format(1) }} Style Points</a></span><br />
          {% endif %}

          {% if latest.awards.cyberstars %}
            <span class="chartname_collectible"><a href="/record/{{ latest.record_id }}">{{ latest.cyberstars|number_format(0) }} Cyberstars</a></span><br />
          {% endif %}

          {% if latest.awards.cxp %}
            <span class="chartname_incremental"><a href="/record/{{ latest.record_id }}">{{ latest.cxp|number_format(0) }} CXP [<b>{{ latest.vs_cxp|number_format(0) }} VXP</b>]</a></span><br />
          {% endif %}
        </td>

        <!-- Date/time -->
        <td style="text-align: right; padding-right: 15px;">{{ format_datetime(latest.last_update) }}</td>
      </tr>
    {% endfor %}
  </table>
</div>
