<?php

require_once('includes/base_repository.php');

class {{ repository }} extends BaseRepository {
  protected static $table_name = '{{ pvar }}';
  protected static $primary_key = '{{ svar }}_id';
}
