<div class="layout--content-primary">
  <div class="charts-show-title-header">
    <div id="breadcrumb" class="clearfix">
        {{ link_to_game(chart) }}
        &rarr;
        {% if group_id > 0 %}
          {{ link_to_game_group(chart) }}
          &rarr;
        {% endif %}
        <a href="/chart/{{ chart.level_id }}">{{ chart_name }}</a>
    </div>
  </div>

  {% if num_records == 0 %}
    <p>{{ t('chart_notice_no_recs') }}</p>
  {% else %}
    <table class="charts-show-scoreboard">
      <tr>
        <th></th>
        <th>#</th>
        <th>User</th>
        <th class="data">{{ chart_info.name_pri }}</th>
        {% if chart_info.chart_type2 != 0 %}
          <th class="data2">{{ chart_info.name_sec }}</th>
        {% endif %}
        <th></th>
        <th class="points">Awards</th>
        {% if not current_user or current_user.show_entity_icons %}
          <th></th>
        {% endif %}
      </tr>

      <tbody>
      {% for g in get_chart %}
        <tr class="{{ classnames({
          'proven': g.rec_status == 3,
          'unproven': g.rec_status != 3,
          'is-me': current_user and g.user_id == current_user.user_id,
          'is-friend': g.user_id in user_friends,
          'not-friend': not current_user or (g.user_id != current_user.user_id and g.user_id not in user_friends),
          'top10': g.chart_pos <= 10,
          'has-award': g.award != null,
          }) }} chart-{{ rank }} medal-{{ g.award.value ?? 'none' }}" id="record_{{ g.record_id }}">
          <td class="award">
            {{ award_image_tag(g.award) }}
          </td>
          <td class="pos">
            {{ g.chart_pos }}
          </td>

          <td class="name">
            {{ user_avatar_image_tag(g, {'class': 'user-avatar'}) }}
            {{ chart_icon_image_tag(g) }}
            <div class="user-identification">
              <a href="/scoreboards/medal?country={{ g.country_id }}" class="country-flag">
                {{ country_flag_image_tag(g) }}
              </a>
              {{ g.user_display|raw }}
              {% if awards.cxp %}
                <b>[{{ t('general_level') }} {{ g.base_level }}]</b>
              {% endif %}
              {{ user_star_image_tags(g) }}
            </div>
            <div class="details">
              <small>
                {{ format_date(g.last_update) }}
                &ndash;
                {% if g.entity_names|length %}
                  {{ t('chart_using_entity_platform', {'entity': g.entity_names|join(', '), 'platform': g.platform_name}) }}
                {% else %}
                  {{ t('chart_using_platform', {'platform': g.platform_name}) }}
                {% endif %}
                {% if g.game_patch != '' %}
                  {{ t('chart_playing_on') }} {{ g.game_patch }}
                {% endif %}
              </small>
            </div>
          </td>

          <td class="data">
            {% if g.comment != '' %}
              <small class="charts-show-comment-text"><b style="padding-right: 2px;">"</b>{{ prettify(g.comment) }}<b style="padding-left: 2px;">"</b></small>
              <img
                onclick="toggleComment(this)"
                data-row="record_{{ g.record_id }}"
                src="/images/comment.png"
                alt="{{ g.comment }}"
                title="{{ g.comment }}"
              />
            {% endif %}

            {{ g.linked_proof_display|raw }}
            {{ g.rec_status_display|raw }}

            {% if g.ugh.submission1 is not same as NULL %}
              <a href="/record/{{ g.record_id }}" style='font-weight: bold; {% if g.submission is same as NULL %} font-style: italic;{% endif %}'>
                <span class="bigger" {% if g.submission is same as NULL %}title="{{ g.submission2 }} / {{ chart_info.conversion_factor }} = {{ g.submission2 / chart_info.conversion_factor }}"{% endif %}>
                  {{ chart_info.score_prefix }}{{ g.ugh.formatted_submission1 }}{{ chart_info.score_suffix }}
                </span>
              </a>

              {% if g.chart_pos != 1 %}
                <br />
                <small>({{ g.ugh.distance1 }})</small>
              {% endif %}
            {% endif %}
          </td>

          {% if chart_info.chart_type2 != 0 %}
            <td class="data2">
              {% if g.ugh.submission2 is not same as NULL %}
                <a href="/record/{{ g.record_id }}" style='font-weight: bold; {% if g.submission2 is same as NULL %} font-style: italic;{% endif %}'>
                  <span class="bigger" {% if g.submission2 is same as NULL %}title="{{ g.submission }} * {{ chart_info.conversion_factor }} = {{ g.submission * chart_info.conversion_factor }}"{% endif %}>
                    {{ chart_info.score_prefix2 }}{{ g.ugh.formatted_submission2 }}{{ chart_info.score_suffix2 }}
                  </span>
                </a>

                {% if g.chart_pos != 1 %}
                  <br />
                  <small>({{ g.ugh.distance2 }})</small>
                {% endif %}
              {% endif %}
            </td>
          {% endif %}

          <td class="extras">
            {% for extra in g.extras %}
              <small>{{ extra.name }}: {{ extra.value }}</small><br />
            {% endfor %}
          </td>

          <td class="points">
            {% if awards.csp %}
              <div class="points--csp-csr">
                <span title="{{ g.ucsp|round(2) }} UCSP">{{ g.csp|round(2) }} {{ t('general_csp') }} [<b>{{ g.csr }} {{ t('general_csr') }}</b>]</span>
              </div>
            {% endif %}

            {% if awards.arcade_points %}
              <div class="points--arcade">
                {{ g.arcade_points|number_format(0) }} {{ t('general_ap_acronym') }}
              </div>
            {% endif %}

            {% if awards.brain_power %}
              <div class="points--solution">
                {{ t('general_brain_power') }}:
                {{ g.brain_power|number_format(0) }}
              </div>
            {% endif %}

            {% if awards.style_points %}
              <div class="points--userchallenge">
                {{ g.style_points|number_format(1) }}
                {% if g.style_points == 1 %}{{ t('general_challenge_points_singular') }}{% else %}{{ t('general_challenge_points_plural') }}{% endif %}
              </div>
            {% endif %}

            {% if awards.cyberstars %}
              <div class="points--collectible">
                {% if g.proof_type == 'v' or g.proof_type == 's' or g.proof_type == 'r' %}
                {{ (g.cyberstars + 2)|number_format(0)}}
                {% elseif g.rec_status == 3 or g.rec_status == 4 %}
                {{ (g.cyberstars + 1)|number_format(0)}}
                {% else %}
                {{ g.cyberstars|number_format(0)}}
                {% endif %}
                {{ t('general_cyberstars') }}
                [
                <img src="{{ skin_image_url('Dropdown_icons/icon_cyberstar.png') }}" width="12" height="12" alt="{{ t('general_cyberstars') }}" title="{{ t('general_cyberstars') }}"/>
                {{ g.cyberstars|number_format(0) }}
                {% if g.rec_status == 3 or g.rec_status == 4 %}
                  <img src="{{ skin_image_url('scoreboards/proof.png') }}" height="12" width="12" alt="{{ t('viewrecords_records_approved') }}" title="{{ t('viewrecords_records_approved') }}">
                  {{ 1}}
                {% endif %}
                {% if g.proof_type == 'v' or g.proof_type == 's' or g.proof_type == 'r' %}
                  <img src="{{ skin_image_url('scoreboards/vproof.png') }}" height="12" width="12" alt="{{ t('scoreboards_total_subs_video_approved') }}" title="{{ t('scoreboards_total_subs_video_approved') }}">
                  {{ 1}}
                {% endif %}
                ]
              </div>
            {% endif %}

            {% if awards.speedrun_points %}
              <div class="points--speedrun">
                {{ g.medal_points|number_format(0) }}
                {{ t('general_speedrun_points') }}
              </div>
            {% endif %}

            {% if awards.cxp %}
              <div class="points--incremental">
                {{ g.cxp|number_format(1) }} {{ t('general_cxp') }} [<b>{{ g.vs_cxp|number_format(0) }} {{ t('general_vxp') }}</b>]
              </div>
            {% endif %}
          </td>

          {% if not current_user or current_user.show_entity_icons %}
            {% for entity in g.entities %}
              <td class="entity">
                {% if entity and entity.image_path %}
                  <img src="{{ entity.image_path }}" alt="{{ entity.name }}" title="{{ entity.name }}" />
                {% endif %}
              </td>
            {% endfor %}
          {% endif %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endif %}
</div>

<div class="layout--sidebar-primary">
  {{ render_component_with("games/rhs-game-info", {
       'game': game,
       'rank': rank,
       'chart_id': chart.level_id,
       'chart_name': chart_name,
       'group_id': group_id
  }) }}
  <details class="sidebar-section" data-id="chart-info" open="" ontoggle="rememberDetailsState(this)">
    <summary class="sidebar-title sidebar-title--{{ rank }}">Chart information</summary>

    <div class='sidebar-section-body'>

    <!-- Primary submission -->
    {% if chart_info.chart_type != 0 %}
      <p><b>{{ prettify(t('chart_primary_submission')) }}: </b>

      {% if chart_info.chart_type == 1 %}
        {{ prettify(t('chart_timed_lower')) }}
      {% elseif chart_info.chart_type == 2 %}
        {{ prettify(t('chart_timed_higher')) }}
      {% elseif chart_info.chart_type == 3 %}
        {{ prettify(t('chart_scored_lower')) }}
      {% elseif chart_info.chart_type == 4 %}
        {{ prettify(t('chart_scored_higher')) }}
      {% elseif chart_info.chart_type == 5 %}
        {{ prettify(t('chart_discrete_rank')) }}
      {% endif %}
      </p>
    {% endif %}

    <!-- Secondary submission -->
    {% if chart_info.chart_type2 != 0 %}
      <p><b>{{ prettify(t('chart_secondary_submission')) }}: </b>

      {% if chart_info.chart_type2 == 1 %}
        {{ prettify(t('chart_timed_lower')) }}
      {% elseif chart_info.chart_type2 == 2 %}
        {{ prettify(t('chart_timed_higher')) }}
      {% elseif chart_info.chart_type2 == 3 %}
        {{ prettify(t('chart_scored_lower')) }}
      {% elseif chart_info.chart_type2 == 4 %}
        {{ prettify(t('chart_scored_higher')) }}
      {% elseif chart_info.chart_type2 == 5 %}
        {{ prettify(t('chart_discrete_rank')) }}
      {% endif %}
      </p>
    {% endif %}

    <!-- Multiplayer notice -->
    {% if chart.players >= 2 %}
      <p>{{ t('chart_notice_multiplayer') }}</p>
    {% endif %}

    <!-- DLC notice -->
    {% if chart.dlc == 1 %}
      <p>{{ t('chart_notice_dlc') }}</p>
    {% endif %}

    {% if scoreboards|length == 0 %}
      <p>
        <strong>Submissions don't count towards any scoreboard</strong>
      </p>
    {% else %}
      <p>
        <strong>Submissions count towards these scoreboards:</strong>
      </p>

      <ul class="charts-show-scoreboards">
        {% for scoreboard in scoreboards %}
          <li class='charts-show-scoreboards-item charts-show-scoreboards-item--{{ scoreboard[0] }}'>
            <a href="/scoreboards/{{ scoreboard[0] }}">{{ scoreboard[1] }}</a>
          </li>
          <li class='charts-show-scoreboards-item charts-show-scoreboards-item--{{ scoreboard[0] }}'>
            <a href="/game_scoreboard?board={{ scoreboard[0] }}&game_id={{ game.game_id }}">{{ scoreboard[2] }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if modifiers|length > 1 %}
      <p>
        <strong>These <a href="/mechanics/modifiers">CSP modifiers</a> apply:</strong>
      </p>

      <table class="charts-show-modifier-table">
        <tr>
          <td></td>
          <td>Base</td>
          <td>100%</td>
        </tr>
        {% for modifier in modifiers.list %}
          <tr>
            <td><img class="charts-show-modifier-icon" src="/skins4/default/images/modifiers/{{ modifier.identifier }}.png"></td>
            <td>{{ modifier.label }}</td>
            <td>{{ modifier.formatted_value }}</td>
          </tr>
        {% endfor %}
        <tfoot>
          <tr>
            <td></td>
            <td>Final CSP</td>
            <td>{{ modifiers.total * 100 }}%</td>
          </tr>
        </tfoot>
      </table>
    {% endif %}

    {% if modifiers.body_of_work_type|length > 1 %}
    <p>
      <strong>These <a href="/mechanics/secondary_awards">Secondary Award modifiers</a> apply:</strong>
    </p>

    <table class="charts-show-modifier-table">
      <tr>
        <td></td>
        <td>Base</td>
        <td>100%</td>
      </tr>
      {% for modifier in modifiers.list %}
        {% if modifier.label == 'Full-game' or modifier.label == 'Part-game' %}
        <tr style="border-bottom: 1px solid black; margin-bottom: 3px;">
          <td><img class="charts-show-modifier-icon" src="/skins4/default/images/modifiers/{{ modifier.identifier }}.png"></td>
          <td>{{ modifier.label }}</td>
          <td></td>
        </tr>
        {% endif %}
      {% endfor %}
        {% for modifier in modifiers.list %}
          {% if modifier.label == 'Arcade' or modifier.label == 'Solution' or modifier.label == 'User Challenge' or modifier.label == 'Incremental' %}
            <tr>
              <td><img class="charts-show-modifier-icon" src="/skins4/default/images/modifiers/{{ modifier.identifier }}.png"></td>
              <td>{{ modifier.label }}</td>
              {% if modifiers.body_of_work_type == 'Full-game' %}<td>125%</td>{% endif %}
              {% if modifiers.body_of_work_type == 'Part-game' %}<td>110%</td>{% endif %}
            </tr>
          {% endif %}
          {% if modifier.label == 'Collectible' or modifier.label == 'Speedrun' %}
            <tr>
              <td><img class="charts-show-modifier-icon" src="/skins4/default/images/modifiers/{{ modifier.identifier }}.png"></td>
              <td>{{ modifier.label}}</td>
              {% if modifiers.body_of_work_type == 'Full-game' %}<td>x5</td>{% endif %}
              {% if modifiers.body_of_work_type == 'Part-game' %}<td>x2</td>{% endif %}
            </tr>
          {% endif %}
        {% endfor %}
      </table>
    {% endif %}
    </div>
  </details>
</div>

<div class="layout--sidebar-secondary">
  {% if rules|length or proof_rules|length %}
    <details class="sidebar-section" data-id="rules" open="true">
      <summary class="sidebar-title sidebar-title--{{ rank }}">{{ t('chart_additional_rules') }}</summary>

      <div class='sidebar-section-body'>
        <ul class="charts-show-rules">
          <!-- List additional rules -->
          {% for rule_text in rules %}
            <li>{{ prettify(rule_text) }}</li>
          {% endfor %}

          {% if proof_rules|length %}
            <hr>
            <!-- List proof guidelines -->
            {% for proof_rule_text in proof_rules %}
              <li style="color: #199600;">{{ prettify(proof_rule_text) }}</li>
            {% endfor %}
          {% endif %}
        </ul>
      </div>
    </details>
  {% endif %}

  {% if current_user %}
    <details class="sidebar-section" data-id="submission-form" open="" ontoggle="rememberDetailsState(this)">
      <summary class="sidebar-title sidebar-title--{{ rank }}">Submit record</summary>

      <div class="sidebar-section-body">
        <p>{{ t('chart_site_rules', {'link_site_rules': "<a href='/site_rules'>",'/link':'</a>'})|raw }}</p>

        {{ render_component_with("charts/submission_form", {
          'game_id': chart.game_id,
          'chart_info': chart_info,
          'platforms': platforms,
          'entities': entities,
        }) }}
      </div>
    </details>
  {% else %}
    <div class="sidebar-section">
      <h2 class="sidebar-title sidebar-title--{{ rank }}">Submit record</h2>
      <div class="sidebar-section-body">
        <p>
          {{ t('chart_logged_out_1') }}
          <br />
          {{ t('chart_logged_out_2') }}
          <br />
          <a href="/register.php"><img src="{{ skin_image_url("createaccount.gif") }}" width="150" height="25" alt="create an account" /></a>
        </p>

        <p>
          <strong>{{ t('chart_logged_out_3') }}</strong>
          <br />
          {{ t('chart_logged_out_4') }}
        </p>
      </div>
    </div>
  {% endif %}

  <details class="sidebar-section" data-id="navigation" open="" ontoggle="rememberDetailsState(this)">
    <summary class="sidebar-title sidebar-title--{{ rank }}">Other Charts</summary><br>
    <div class="charts-show-navigation">
      <div style="display: flex; justify-content: space-between">
        {% if prev_chart_id %}
          <a href="/chart/{{ prev_chart_id }}">Previous</a>
        {% else %}
          <div></div>
        {% endif %}

        {% if next_chart_id %}
          <a href="/chart/{{ next_chart_id }}">Next</a>
        {% else %}
          <div></div>
        {% endif %}
      </div>

      <form action="/chart.php" method="get">
        <select name="id" onchange="javascript:location.href = this.value;">
          {% for group in game_groups %}
            <optgroup label="{{ group.name }}">
              {% for this_chart in group.charts %}
                <option value="/chart/{{ this_chart.chart_id }}" {{ option_selected(chart.level_id, this_chart.chart_id) }}>
                  &nbsp;&nbsp;&nbsp;&nbsp;{{ this_chart.name }}
                </option>
              {% endfor %}
            </optgroup>
          {% endfor %}
        </select>
        <noscript><p><input type="submit" value="Go"/></p></noscript>
      </form>
    </div>
  </details>

  <details class="sidebar-section" data-id="filters" open="" ontoggle="rememberDetailsState(this)">
    <summary class="sidebar-title sidebar-title--{{ rank }}">Display Options</summary><br>
    <div>
      <select class="charts-show-filter-approved-only">
        <option value="all" selected="selected">All records</option>
        <option value="approved">Approved records only</option>
      </select>
    </div>

    <div>
      <select class="charts-show-filter-friends-only">
        <option value="all" selected="selected">{{ t('chart_top_all', {'subs': num_records}) }}</option>
        <option value="top10">{{ t('chart_top_10', {'subs': num_records}) }}</option>
        <option value="friends">{{ t('chart_top_friends') }}</option>
      </select>
    </div>

    {% if current_user %}
      <form action="/settings" method="post">
        <select name="chart_sort" id="chart_sort" onchange="this.form.submit()">
          <option value="0" {{ option_selected(chart_sorting, "0") }}>{{ t('chart_default') }}</option>
          <option value="1" {{ option_selected(chart_sorting, "1") }}>{{ t('chart_oldest_records') }}</option>
          <option value="2" {{ option_selected(chart_sorting, "2") }}>{{ t('chart_newest_records') }}</option>
        </select>
      </form>
    {% endif %}
  </details>
</div>

<script type="text/javascript">
function toggleComment(e) {
  document.getElementById(e.dataset.row).classList.toggle('show-comment');
}

document.querySelector(".charts-show-filter-approved-only").addEventListener('change', (e) => {
  if (e.target.value == "approved") {
    document.querySelector(".charts-show-scoreboard").classList.add("filter-approved");
  } else {
    document.querySelector(".charts-show-scoreboard").classList.remove("filter-approved");
  }
});

document.querySelector(".charts-show-filter-friends-only").addEventListener('change', (e) => {
  document.querySelector(".charts-show-scoreboard").classList.remove("filter-friends");
  document.querySelector(".charts-show-scoreboard").classList.remove("filter-top10");

  if (e.target.value == "friends") {
    document.querySelector(".charts-show-scoreboard").classList.add("filter-friends");
  } else if (e.target.value == "top10") {
    document.querySelector(".charts-show-scoreboard").classList.add("filter-top10");
  }
});
</script>


<script type="text/javascript">

function rememberDetailsState(details) {
  if (details.open != true) {
    window.localStorage.setItem(`open-${details.dataset.id}`, false);
  } else {
    window.localStorage.removeItem(`open-${details.dataset.id}`);
  }
}

function loadDetailsState(details) {
  if (window.localStorage.getItem(`open-${details.dataset.id}`) == 'false') {
    details.open = false;
  }
}

//Load and emulate the remembered state of each HTML details element upon pageload.
document.querySelectorAll('details').forEach((e) => loadDetailsState(e));
</script>
