<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    <a href="info.php">Translation Home</a> &rarr;
    Game Translation

    {{ render_component_with("games/language-selection", []) }}
  </div>

  <h1>Game Translation</h1>

  {% for game in games %}
    <h3 class="caption">{{ link_to_game(game[0]) }}</h3>
    {% for language in game %}
      {{ language['language_name'] }} ({{ language['count'] }}) &ndash; {{ language['status'] }}
      <br />
    {% endfor %}
  {% endfor %}
</div>

<div class="layout--sidebar-primary">
  {{ render_component_with("translations/menu", []) }}
</div>
