<div class="layout--content-primary layout--content-primary-readable">
  <div id="breadcrumb" class="clearfix">
    <a href="/">Home</a> &rarr;
    Merge user
  </div>

  <h1>Merge users</h1>

  <h2>Move all records from 1 account to another account</h2>

  <p>
    If the target player already has a record for the same chart, it will NOT
    be overwritten.
  </p>

  <form action="/user-mergers" method="post">
    <p>
      <label for="from_user_id">User ID of the user to move the records from:</label>
      <input type="text" name="from_user_id" id="from_user_id" size="5" />
    </p>

    <p>
      <label for="to_user_id">User ID of the user to move the records to:</label>
      <input type="text" name="to_user_id" id="to_user_id" size="5" />
    </p>
    <p>
      <input type="submit" value="Move records" name="submit" />
    </p>
  </form>
</div>
