<style type="text/css">
  .user-show {
    overflow: auto;
    padding: 10px;
    display: flex;
    gap: 10px;
  }

  .user-show-sidebar {
    margin: 0px;
  }

  .user-show-contents {
    overflow: auto;
    width: 100%;

    border-width: 2px;
    border-style: solid;
    border-color: #23538a;
    padding: 15px;
  }

  @media (max-width: 660px) {
    .user-show { display: block; }
    .user-show-contents { width: auto; }
  }

  .user-show-sidebar .sidebar-navigation h3 {
    margin: 0.5em;
  }

  div.sidebar-navigation {
    border: 2px solid #23538a;
    text-align: center;
    overflow: auto;
  }

  div.sidebar-header {
    padding: 8px;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: #23538a;
    text-align: center;
    overflow: auto;
  }

  .sidebar-header h3 {
    margin: 0 0 5px 0;
  }

  .sidebar-actions {
    padding: 8px;
    border-width: 0px 2px 0px 2px;
    border-style: solid;
    border-color: #23538a;
    text-align: center;
    overflow: auto;
  }

  .sidebar-actions form { display: inline; }

  div.banner {
    border-width: 0px 0px 2px 0px;
    border-style: solid;
    border-color: #23538a;
    margin-bottom: 15px;
    min-height: 180px;
  }

  a.menu {
    display: block;
    padding: 8px;
    text-shadow: 1px 1px 2px #000000;
    text-align: center;
    line-height: 125%;
    color: #ffffff;
    background: #23538a;
    font-family: Ubuntu;
  }

  div.menu + div.menu {
    margin-top: 2px;
  }

  table.zebraa, table.zebraa th, table.zebraa td {
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
  }

  table.zebraa tr {
    text-align: left;
  }

  textarea.reply {
    border-width: 2px;
    border-style: solid;
    border-color: #23538a;
    border-radius: 7px;
  }

  div.comments_userpic {
    border-width: 2px 1px 2px 2px;
    display: inline-block;
    border-style: solid;
    border-color: #23538a;
    border-bottom-left-radius: 7px;
    border-top-left-radius: 7px;
    margin-left: 5px;
    margin-bottom: 15px;
    padding: 10px 10px 5px 20px;
    text-align: center;
    min-height: 120px;
    vertical-align: middle;
  }

  div.comments_message {
    border-width: 2px 2px 2px 1px;
    display: inline-block;
    border-style: solid;
    border-color: #23538a;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    padding: 10px 10px 5px 20px;
    text-align: center;
    margin-bottom: 15px;
    max-width: 60%;
    min-width: 60%;
    vertical-align: middle;
    overflow-y: auto;
    min-height: 120px;
  }

  div.comments_reply {
    border-width: 2px 2px 2px 1px;
    display: none;
    position: relative;
    border-style: solid;
    border-color: #23538a;
    border-bottom-right-radius: 7px;
    border-top-right-radius: 7px;
    padding: 10px 10px 5px 20px;
    text-align: center;
    background-color: fff;
    margin-bottom: 15px;
    min-height: 120px;
    max-width: 60%;
    min-width: 60%;
    vertical-align: middle;
    z-index: 1;
    overflow: auto;
  }

  div.comments_functions {
    border-width: 2px 1px 2px 1px;
    display: inline-block;
    color: #23538a;
    border-style: solid;
    border-color: #23538a;
    padding: 5px;
    text-align: center;
    min-height: 125px;
    margin-bottom: 15px;
    vertical-align: middle;
    background: repeating-linear-gradient(-45deg, #e6e6ff, #e6e6ff 5px, white 8px, white 15px);
  }

  div.comments_functions img {
    cursor: pointer;
  }

  select.page {
    border-style: solid;
    border-width: 2px;
    padding: 2px;
    border-color: #23538a;
    border-radius: 5px;
    margin-left: 10px;
  }

  @media screen and (max-width: 1299px) { div.comments_message { max-width: 40%; min-width: 40%; }}
  @media screen and (min-width: 1300px) and (max-width: 1529px) { div.comments_message { max-width: 45%; min-width: 45%; }}
  @media screen and (min-width: 1530px) { div.comments_message { max-width: 60%; min-width: 60%; }}

  @media screen and (min-width: 1100px) {
    div.graph_large { display: inline-block; }
    div.graph_smaller { display: none; }
  }

  @media screen and (min-width: 300px) and (max-width: 1099px) {
    div.graph_large { display: none; }
    div.graph_smaller { display: inline-block; }
  }

  td.number { text-align:right; }
</style>

<div class="layout--content-primary user-show">
  <div class="user-show-sidebar">
    <div class="sidebar-header">
      {{ user_avatar_image_tag(user, {'class': 'userpic'}) }}

      <h3>{{ t('profile_stats_title', {'username': user.username }) }}</h3>

      {{ country_flag_image_tag(user, {'class': 'flag'}) }}
      <br />

      {{ user_star_image_tags(user) }}
    </div>

    <div class="sidebar-actions">
      {{ render_component_with('users/profile-sidebar-actions', {'user': user}) }}
    </div>

    <div class="sidebar-navigation">
      {% if iamme %}
        <a class='menu' href='/settings'>Your settings</a>
      {% endif %}
      {{ render_component_with('tabbed-sidebar', {'sidebar': sidebar, 'src': src, 'name': 'user/' ~ user.user_id }) }}
    </div>
  </div>

  <div class="user-show-contents">
    {% if has_banner or user.profile %}
      <div id="Banner" class="banner" style="display: block;">
        <p>
        {% if has_banner %}
          {{ user_banner_image_tag(user, { 'class': 'banner', 'alt': 'Your profile banner', 'style': 'vertical-align: middle; margin-right: 15px; margin-bottom: 15px;' }) }}
        {% endif %}

        {{ prettify(user.profile) }}
        </p>
      </div>
    {% endif %}
    <div>
      {{ render_component_with('user-stats/' ~ src, {'user': user}) }}
    </div>
  </div>
</div>
