<div class="layout--content-primary">
  <div id="breadcrumb">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    <a href="/games">{{ t('general_games') }}</a> &rarr;
    {{ link_to_game(game) }} &rarr;
    {{ t('multiproof_title') }}
  </div>

  <h2>{{ t('multiproof_header', {'game': game_name}) }}</h2>

  <p>{{ t('multiproof_recs') }}</p>

  <form action="" method="get">
    <select class="btn-game btn-game--standard"  name="proven" onchange="this.form.action=this.form.submit();">
      <option value="10" {% if hide_proven == 10 %}selected{% endif %}>Show all records</option>
      <option value="0"  {% if hide_proven == 0 %}selected{% endif %}>Unproven records only</option>
    </select>
    <input type="hidden" name="type" value="{{ type }}" />
    <input type="hidden" name="game_id" value="{{ game.game_id }}" />
  </form>

  <h3><a href="{{ current_url_with_query({'type': 'link'}) }}">{{ t('multiproof_link_option') }}</a></h3>
  <h3><a href="{{ current_url_with_query({'type': 'upload'}) }}">{{ t('multiproof_upload_option') }}</a></h3>
  <h3><a href="{{ current_url_with_query({'type': 'singleupload'}) }}">{{ t('multiproof_singleupload_option') }}</a></h3>

  {% if levels|length >= 3003 %}
    {{ t('multiproof_records_overload') }}
  {% endif %}

  {% if levels|length == 0 %}
    {{ t('multiproof_no_recs') }}
  {% else %}
    {% if type == 'link' %}
      <form action="/proofs" method="post">
        <table class="zebra">
          {% for this_level in levels %}
            <tr>
              <td>
                {{ this_level.group_name }} &rarr;
                {{ link_to_chart(this_level) }}
              </td>
              <td>{{ format_submission(this_level) }}</td>
              <td><input type="text" name="proof_links[{{ this_level.level_id }}]" value="{{ this_level.linked_proof }}" size="80"></td>
            </tr>
          {% endfor %}
        </table>
        <br />
        <input type="submit" value="Save Changes" />
      </form>
    {% endif %}

    {% if type == 'upload' %}
      <table class="zebra">
        {% for this_level in levels %}
          <tr>
            <td>
              {{ this_level.group_name }} &rarr;
              {{ link_to_chart(this_level) }}
            </td>
            <td>{{ format_submission(this_level) }}</td>
            <td>
              <form action="/proofs" method="post" enctype="multipart/form-data" target="_blank">
                <input type="hidden" name="chart_id" value="{{ this_level.level_id }}" />
                <input type="file" name="proof_file" size="40" />
                <input type="submit" value="Upload proof" />
              </form>
            </td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}

    {% if type == 'singleupload' %}
      <form action="/proofs" method="post" enctype="multipart/form-data">

        <p>Either upload or link the proof to use for multiple submissions:</p>
        <p>
          <b>Upload: </b>
          <input type="file" name="proof_file" size="40" />
        </p>
        <p>
          <b>Link: </b>
          <input type="text" name="proof_link" size="80" autocomplete="off" />
        </p>

        <p>Select the records you want your proof to be uploaded for.</p>

        <table class="zebra">
          {% for this_level in levels %}
            <tr>
              <td>
                {{ this_level.group_name }} &rarr;
                {{ link_to_chart(this_level) }}
              </td>
              <td>{{ format_submission(this_level) }}</td>
              <td>
                <label class="slider_switch"><input type="checkbox" name="chart_ids[]" value="{{ this_level.level_id }}"><span class="slider round"></span></label>
              </td>
            </tr>
          {% endfor %}
        </table>
        <br/>
        <input type="submit" value="Verify submissions" />
      </form>
    {% endif %}
  {% endif %}
  <br />
</div>
