/* Cyberscore domain specific definitions.
 * Entities like flags, modifiers, scoreboards. */

/* chart flags */
.-standard {
  --color-flag-regular: var(--color-standard);
  --color-flag-light: var(--color-standard-light);
  --color-flag-megalight: var(--color-standard-megalight);
  --color-flag-dark: var(--color-standard-dark);
  --chart-icon-url: url(/images/scoreboards/standard.svg);
}

.-speedrun {
  --color-flag-regular: var(--color-speedrun);
  --color-flag-light: var(--color-speedrun-light);
  --color-flag-megalight: var(--color-speedrun-megalight);
  --color-flag-dark: var(--color-speedrun-dark);
  --chart-icon-url: url(/images/scoreboards/speedrun.svg);
}
.-solution {
  --color-flag-regular: var(--color-solution);
  --color-flag-light: var(--color-solution-light);
  --color-flag-megalight: var(--color-solution-megalight);
  --color-flag-dark: var(--color-solution-dark);
  --chart-icon-url: url(/images/scoreboards/solution.svg);
}
.-arcade {
  --color-flag-regular: var(--color-arcade);
  --color-flag-light: var(--color-arcade-light);
  --color-flag-megalight: var(--color-arcade-megalight);
  --color-flag-dark: var(--color-arcade-dark);
  --chart-icon-url: url(/images/scoreboards/arcade.svg);
}
.-challenge {
  --color-flag-regular: var(--color-challenge);
  --color-flag-light: var(--color-challenge-light);
  --color-flag-megalight: var(--color-challenge-megalight);
  --color-flag-dark: var(--color-challenge-dark);
  --chart-icon-url: url(/images/scoreboards/challenge.svg);
}
.-incremental {
  --color-flag-regular: var(--color-incremental);
  --color-flag-light: var(--color-incremental-light);
  --color-flag-megalight: var(--color-incremental-megalight);
  --color-flag-dark: var(--color-incremental-dark);
  --chart-icon-url: url(/images/scoreboards/incremental.svg);
}
.-collectible {
  --color-flag-regular: var(--color-collectible);
  --color-flag-light: var(--color-collectible-light);
  --color-flag-megalight: var(--color-collectible-megalight);
  --color-flag-dark: var(--color-collectible-dark);
  --chart-icon-url: url(/images/scoreboards/collectible.svg);
}
.-unranked {
  --color-flag-regular: var(--color-unranked);
  --color-flag-light: var(--color-unranked-light);
  --color-flag-megalight: var(--color-unranked-megalight);
  --color-flag-dark: var(--color-unranked-dark);
  --chart-icon-url: url(/images/scoreboards/unranked.svg);
}

/* csp modifier categories */
.-gameplay {
  --color-modifier-regular: var(--color-modifier-gameplay-regular);
  --color-modifier-light: var(--color-modifier-gameplay-light);
}
.-accessibility {
  --color-modifier-regular: var(--color-modifier-accessibility-regular);
  --color-modifier-light: var(--color-modifier-accessibility-light);
}
.-secondary {
  --color-modifier-regular: var(--color-modifier-secondary-regular);
  --color-modifier-light: var(--color-modifier-secondary-light);
}
.-premium {
  --color-modifier-regular: var(--color-modifier-premium-regular);
  --color-modifier-light: var(--color-modifier-premium-light);
}

/* scoreboards */
:root {
  --scoreboard-default-icon-url: url(/images/scoreboards/default.svg);
  --scoreboard-default-icon-filter: invert(1);
}
.-sb-starboard {
  --scoreboard-icon-url: url(/images/scoreboards/default.svg);
}
.-sb-standard {
  --scoreboard-icon-url: url(/images/scoreboards/standard.svg);
}
.-sb-arcade {
  --scoreboard-icon-url: url(/images/scoreboards/arcade.svg);
}
.-sb-speedrun {
  --scoreboard-icon-url: url(/images/scoreboards/speedrun.svg);
}
.-sb-challenge {
  --scoreboard-icon-url: url(/images/scoreboards/challenge.svg);
}
.-sb-solution {
  --scoreboard-icon-url: url(/images/scoreboards/solution.svg);
}
.-sb-collectible {
  --scoreboard-icon-url: url(/images/scoreboards/collectible.svg);
}
.-sb-incremental {
  --scoreboard-icon-url: url(/images/scoreboards/incremental.svg);
}
.-sb-trophy {
  --scoreboard-icon-url: url(/images/scoreboards/trophy.svg);
}
.-sb-rainbow {
  --scoreboard-icon-url: url(/images/scoreboards/rainbow.svg);
  --scoreboard-icon-filter: none;
}
