<div id="contentcontainer">
  <div id="pageleft">
    <div id="breadcrumb" class="clearfix">
      <a href="/"><?= h($t['general_home']) ?></a> &rarr;
      <?= h($t['general_games']) ?>
    </div>

    <h1><?= h($t['general_games']) ?></h1>

    <?php if (count($game_list) > 0) { ?>
      <h2>Translated games</h2>

      <table id="allgames" class="zebra">
        <thead>
          <tr>
            <th class="gamename"><a href="?sort=game_names"><?= h($t['games_game_name']) ?></a></th>
            <th>Languages</th>
            <th class="levels"><a href="?sort=charts"><?= h($t['general_charts']) ?></a></th>
            <th class="subs"><a href="?sort=records"><?= h($t['general_records']) ?></a></th>
            <th class="rpc"><a href="?sort=rpc" title="<?= h($t['general_rpc_explanation']) ?>"><?= h($t['general_rpc']) ?></a></th>
            <th class="players"><a href="?sort=players"><?= h($t['general_players']) ?></a></th>
          </tr>
        </thead>
        <tbody>
          <?php foreach ($game_list as $game) { ?>
            <tr>
              <td class="gamename">
                <?= link_to_game($game) ?>
                <?php if(Authorization::has_access('GameMod')) { ?>
                  <a title="Edit Game" href="/mod_scripts/edit_game.php?id=<?= h($game['game_id']) ?>">
                    <img src="<?= skin_image_url('edit.png') ?>" width="11" height="11" alt="Edit" />
                  </a>
                <?php } ?>
              </td>
              <td>
                <?php foreach (explode(' ', $game['languages']) as $flag_code) { ?>
                  <?php if (file_exists('flags/' . $flag_code . '.png')) { ?>
                    <img src="/flags/<?= h($flag_code) ?>.png" />
                  <?php } else { ?>
                    <?= h($flag_code) ?>
                  <?php } ?>
                <?php } ?>
              </td>
              <td class="levels"><?= h(number_format($game['ranked_charts'])) ?></td>
              <td class="subs"><?= h(number_format($game['ranked_subs'])) ?></td>
              <td class="rpc"><?= h(number_format($game['ranked_rpc'], 2)) ?></td>
              <td class="players"><?= h(number_format($game['ranked_players'])) ?></td>
            </tr>
          <?php } ?>

          <tr class="tfoot">
            <td class="gamename"><?= h(count($game_list) == 1 ? $t['general_game_singular'] : str_replace('[games]', count($game_list), $t['general_game_plural'])) ?></td>
            <td class="icons"></td>
            <td class="levels"><?= h(number_format($total_num_charts)) ?></td>
            <td class="subs"><?= h(number_format($total_num_subs)) ?></td>
            <td class="rpc"><?= h($total_num_charts != 0 ? number_format($total_num_subs / $total_num_charts, 2) : 0) ?></td>
            <td class="players"></td>
          </tr>
        </tbody>
      </table>
    <?php } ?>
  </div>
</div>

<div id="pageright">
  <?php if (Authorization::has_access('GameMod')) { ?>
    <h3><a href="javascript:ToggleDivVisible('workshop');">Workshop games</a></h3>

    <div id="workshop" class="zebra" style="display:none;">
      <table>
        <tr>
          <td><b>Game name</b></td>
          <td><b>Charts</b></td>
        </tr>
        <?php foreach ($workshop_games as $game) { ?>
          <tr>
            <td>
              <?= link_to_game($game) ?>
              <a title="Edit Game" href="/mod_scripts/edit_game.php?id=<?= h($game['game_id']) ?>">
                <img src="<?= skin_image_url('edit.png') ?>" width="11" height="11" alt="Edit" />
              </a>
            </td>
            <td><?= h(number_format($game['chart_count'])) ?></td>
          </tr>
        <?php } ?>
      </table>
      <br />

      <form action="/games" method="post">
        <input type="text" name="game_name" size="40">
        <br />
        <input type="submit" value="Add new game">
      </form>
    </div>
  <?php } else { ?>
    <h3><?= str_replace(array('[link_forum]', '[link_site_game_requests]', '[/link]'), array('<a href="https://forum.cyberscore.me.uk/?board=46.0">', '<a href="/game_requests">', '</a>'), $t['games_request_game']) ?></h3>
  <?php } ?>
</div>
