<link href="/css/record-auto-proofs/new.css" rel="stylesheet">
<div class="layout--content-primary">
  <h1>Automatically submit records from picture proofs</h1>

  <p>
    This is an experiment with scanning {{ link_to_game(game) }} proofs and
    automatically filling in proof forms.
  </p>

  <div id='auto-proof-tool'></div>
</div>
<script type="module">
import init, {OCR} from "/js/ocr/auto_proofer.js?v=3.0";
import { render, h, Component } from "/js/preact.js";
import htm from 'https://unpkg.com/htm?module';

import * as pokemon_legends_arceus from "/js/auto-proofer/pokemon_legends_arceus.js";
import * as pokemon_lets_go from "/js/auto-proofer/pokemon_lets_go.js";
import * as pokemon_sword_shield from "/js/auto-proofer/pokemon_sword_shield.js";
import * as pokemon_scarlet_violet from "/js/auto-proofer/pokemon_scarlet_violet.js";
import * as picross_s4 from "/js/auto-proofer/picross_s4.js";
import * as new_pokemon_snap from "/js/auto-proofer/new_pokemon_snap.js";
import * as pokemon_go from "/js/auto-proofer/pokemon_go.js";
const modules = {
  pokemon_legends_arceus,
  pokemon_lets_go,
  pokemon_sword_shield,
  pokemon_scarlet_violet,
  picross_s4,
  new_pokemon_snap,
  pokemon_go,
};

await init();

const response = await fetch(`/game/${new URLSearchParams(window.location.search).get('game_id')}.json`);
const game = await response.json();

window.ocr = new OCR(game.auto_proofer_module);

const html = htm.bind(h);

const sleep = (milliseconds) => {
  return new Promise(resolve => setTimeout(resolve, milliseconds))
};

class ProofWithNoRecords extends Component {
  render() {
    return html`
      <div class='proof-file proof-file--without-records scoreboard-widget'>
        <div class="scoreboard-widget-header" style='display: flex; justify-content: space-between; padding-right: 5px'>
          ${this.props.file.name}
        </div>
        <div class='proof-file-preview'>
          <img src='${this.props.file.url}' />
        </div>
        <div class='proof-file-actions'>
          <button class='proof-debug' onClick=${this.props.onClickDebug}>Debug</button>
          <button class='proof-remove' onClick=${this.props.onClickRemove}>Remove</button>
        </div>
        <div class='proof-file-records'>No records detected!</div>
      </div>
    `;
  }
}

class RecordScore extends Component {
  render() {
    const record = this.props.record;

    if (record.chart.chart_type2 != 0) {
      return html`${record.chart.record.submission || "-"} / ${record.chart.record.submission2 || "-"}`;
    } else if (record.chart.conversion_factor != 0) {
      if (record.chart.record.submission === null && record.chart.record.submission2 === null) {
        return html`- / -`;
      } else {
        const s1 = (record.chart.record.submission === null) ? (record.chart.record.submission2 / record.chart.conversion_factor).toFixed(record.chart.num_decimals) : record.chart.record.submission;
        const s2 = (record.chart.record.submission2 === null) ? (record.chart.record.submission * record.chart.conversion_factor).toFixed(record.chart.num_decimals2) : record.chart.record.submission2;

        return html`${s1} / ${s2}`;
      }
    } else {
      return html`${record.chart.record.submission || "-"}`;
    }
  }
}

class ProofWithRecords extends Component {
  render() {
    return html`
      <div class="proof-file proof-file--with-records scoreboard-widget">
        <div class="scoreboard-widget-header" style='display: flex; justify-content: space-between; padding-right: 5px'>
          ${this.props.file.name}
        </div>
        <div class='proof-file-preview'>
          <img src='${this.props.file.url}' />
        </div>
        <div class='proof-file-actions'>
          <button class='proof-debug' onClick=${this.props.onClickDebug}>Debug</button>
          <button class='proof-remove' onClick=${this.props.onClickRemove}>Remove</button>
        </div>
        <div class='proof-file-records'>
          ${this.props.file.records.map((record, recordIndex) => html`
            <div class="proof-file-record ${classes[compare_with_previous(record)]} ${should_submit_score(record) ? 'will-submit' : ''}" key=${recordIndex}>
              <div class='proof-file-record-chart'>
                <a href="${record.chart.group.group_url.html}">${record.chart.group.group_name}</a> → <a href="${record.chart.chart_url.html}">${record.chart.chart_name}</a>
                ${record.charts.length > 1 &&
                  html`<select onChange=${(ev) => this.props.onChartChanged(recordIndex, ev.target.value)}>
                    ${record.charts.map((chart) =>
                      html`<option ${chart.chart_id == record.chart.chart_id && "selected"} value="${chart.chart_id}">
                        ${chart.chart_name}
                      </option>`
                  )}</select>`
                }
              </div>
              <div class='proof-file-record-old'>
                <${RecordScore} record=${record} />
              </div>
              <div class='proof-file-record-new'>
                <div class='proof-file-record-new-inputs'>
                  ${record.chart.chart_type2 != 0 || record.chart.conversion_factor != 0 ?
                  html`
                    <input type='text' value='${record.value1}' onInput=${(ev) => this.props.onRecordChanged(recordIndex, 0, ev.target.value)}
                    /> / <input type='text' value='${record.value2}' onInput=${(ev) => this.props.onRecordChanged(recordIndex, 1, ev.target.value)} />` :
                  html`<input type='text' value='${record.value1}' onInput=${(ev) => this.props.onRecordChanged(recordIndex, 0, ev.target.value)} />`}
                </div>
                <div class='proof-file-record-new-symbol'></div>
              </div>
            </div>
          `)}
        </div>
      </div>
    `;
  }
}

class Submitting extends Component {
  render() {
    return html`<div class="scoreboard-widget" style='position: fixed; top: 10vh; left: 10vw; width: 80vw; height: 80vh; background-color: white; box-shadow: 2px 2px 6px #333; z-index: 4;'>
      <div class="scoreboard-widget-header" style='display: flex; justify-content: space-between; padding-right: 5px'>
        <div>Submitting proofs...</div>
      </div>
    </div>`;
  }
}

class DebugProof extends Component {
  render() {
    return html`<div class="scoreboard-widget" style='position: fixed; top: 10vh; left: 10vw; width: 80vw; height: 80vh; background-color: white; box-shadow: 2px 2px 6px #333; z-index: 4;'>
      <div class="scoreboard-widget-header" style='display: flex; justify-content: space-between; padding-right: 5px'>
        <div>Debugging auto-proof</div>
        <div class='close-debug' style='cursor: pointer' onClick=${this.props.onClose}>Close</div>
      </div>

      <div style='padding: 20px; display: flex; align-items: start; gap: 20px; position: absolute; top: 20px; left: 0; right: 0; bottom: 0;'>
        <div style="position: relative; display: flex;">
          <img style='max-width: 720px; max-height: 600px' src='${this.props.file.url}' />
          <div style='position: absolute; top: 0; left: 0; right: 0; bottom: 0'>
            ${this.props.file.log_entries.map((entry, li) => (
              entry.bbox !== undefined && html`
                <div style="
                  position: absolute;
                  top: ${100.0 * entry.bbox.y / this.props.file.height}%;
                  left: ${100.0 * entry.bbox.x / this.props.file.width}%;
                  width: ${100.0 * entry.bbox.w / this.props.file.width}%;
                  height: ${100.0 * entry.bbox.h / this.props.file.height}%;
                  border: 1px solid red;
                  box-sizing: border-box;
                "></div>`
            ))}
          </div>
        </div>

        <div class='log-entries' style='overflow-y: scroll; height: 100%; width: 100%;'>
          ${this.props.file.log_entries.map((entry, li) => (
            html`<p style='margin: 0px;'>${entry.message}</p>`
          ))}
        </div>
      </div>
    </div>`;
  }
}

class App extends Component {
  constructor() {
    super();
    this.state = { files: [] };
  }

  async addProofs(ev) {
    this.setState({ progress: 0 });
    for (let i = 0; i < ev.target.files.length; i++) {
      this.setState({ progress: 100*i/ev.target.files.length });

      const file = await loadProof(ev.target.files[i], this.props.game, this.props.module);
      this.setState({ files: [...this.state.files, file] });

      await sleep(500);
    }
    this.setState({ progress: 100 });
    await sleep(1000);

    this.setState({ progress: undefined });
  }

  async removeProof(index) {
    this.setState({ files: this.state.files.filter((_, i) => i != index) });
  }

  async debugProof(index) {
    this.setState({ debug: index });
  }

  async closeDebug() {
    this.setState({ debug: undefined });
  }

  async submit() {
    this.setState({ submitting: true });
    const data = buildFormData(this.state.files, this.props.game, this.state.entity);

    const response = await fetch('/record-auto-proofs', { method: 'POST', body: data });

    window.location.reload();
  }

  async changeRecord(fileIndex, recordIndex, valueIndex, newValue) {
    const files = [...this.state.files];
    files[fileIndex] = { ...files[fileIndex] };
    files[fileIndex].records = [...files[fileIndex].records];
    files[fileIndex].records[recordIndex] = { ...files[fileIndex].records[recordIndex] };

    if (valueIndex == 0) {
      files[fileIndex].records[recordIndex].value1 = newValue;
    } else {
      files[fileIndex].records[recordIndex].value2 = newValue;
    }

    this.setState({ files });
  }

  async changeChart(fileIndex, recordIndex, chartId) {
    const files = [...this.state.files];
    files[fileIndex] = { ...files[fileIndex] };
    files[fileIndex].records = [...files[fileIndex].records];
    files[fileIndex].records[recordIndex] = { ...files[fileIndex].records[recordIndex] };

    files[fileIndex].records[recordIndex].chart = files[fileIndex].records[recordIndex].charts.find((c) => c.chart_id == chartId);

    this.setState({ files });
  }

  async changeEntity(entityId) {
    console.log(entityId);
    this.setState({ entity: entityId })
  }

  render() {
    return html`
      <details open>
        <summary>Current features</summary>
        <ul>
          ${this.props.module.info.features.map(f => html`<li>${f}</li>`)}
        </ul>
      </details>

      <details open>
        <summary>Limitations</summary>
        <ul>
          ${this.props.module.info.limitations.map(f => html`<li>${f}</li>`)}
          <li>This was mostly tested on Firefox under Linux, it may not work on other browsers/OSes;</li>
        </ul>
      </details>

      <details open>
        <summary>How to use this</summary>
        <ul>
          <li>Select one or more screenshots;</li>
          <li>Only records highlighted in green will be submitted;</li>
          <li>Double check that the detected values match the screenshot, if they don't contact us so we can improve the tool;</li>
          <li>Fix any errors manually;</li>
          <li>If required, select an entity;</li>
          <li>Press "Submit records";</li>
        </ul>
      </details>

      <form class='proof-form'>
        <div class='proof-form-drag-area'>
          <input id='proof-form-field' type="file" multiple onChange=${(ev) => this.addProofs(ev)} />
          <p>Drag your files here or click in this area</p>
          <div class='proof-form-progress ${this.state.progress === undefined && 'proof-form-progress--hidden'}' style='width: ${this.state.progress || 0}%'></div>
        </div>
      </form>

      ${this.state.files.length > 0 && html`

        ${this.props.game.auto_proofer_module == 'pokemon_sword_shield' &&
          html`<select onChange=${(ev) => this.changeEntity(ev.target.value)} required>
            <option value="">Select an entity:</option>
            <option value="37923">Shield</option>
            <option value="37922">Sword</option>
          </select>`
        }

        ${this.state.debug !== undefined && html`<${DebugProof} file=${this.state.files[this.state.debug]} onClose=${() => this.closeDebug()} />`}

        ${this.state.submitting !== undefined && html`<${Submitting} />`}

        <div class='proof-files'>
          ${this.state.files.map((file, fileIndex) => (
            html`<${file.records.length == 0 ? ProofWithNoRecords : ProofWithRecords}
              file=${file}
              key=${fileIndex}
              onClickRemove=${() => this.removeProof(fileIndex)}
              onClickDebug=${() => this.debugProof(fileIndex)}
              onRecordChanged=${(recordIndex, valueIndex, newValue) => this.changeRecord(fileIndex, recordIndex, valueIndex, newValue)}
              onChartChanged=${(recordIndex, chartId) => this.changeChart(fileIndex, recordIndex, chartId)}
            />`
          ))}
        </div>

        <button onClick=${() => this.submit()}>Submit Records</button>
      `}
    `;
  }
}

render(
  html`<${App} game=${game} module=${modules[game.auto_proofer_module]} />`,
  document.getElementById('auto-proof-tool')
);
</script>

<script type='text/javascript'>
function measure(fn) {
  const startTime = performance.now();
  const result = fn();
  const endTime = performance.now();
  console.log(`took ${endTime - startTime} ms`);
  return result;
}

function readAsDataURL(file) {
  return new Promise((resolve, reject) => {
    var fr = new FileReader();
    fr.onload = () => {
      resolve(fr.result);
    };

    fr.onerror = reject;
    fr.readAsDataURL(file);
  });
}


async function loadProof(uploadedFile, game, gameModule) {
  const bytes  = new Uint8Array(await uploadedFile.arrayBuffer());
  const url = await readAsDataURL(uploadedFile);
  const result = measure(() => window.ocr.ocr(bytes));

  const file = {
    file: uploadedFile,
    name: uploadedFile.name,
    url,
    records: [],
    width: result.value().width,
    height: result.value().height,
    log_entries: [],
  };

  for (let i = 0; i < result.log_count(); i++) {
    let entry = { message: result.log_entry_message(i) };

    if (result.log_entry_bbox_exists(i)) {
      entry.bbox = {
        x: result.log_entry_bbox_x(i),
        y: result.log_entry_bbox_y(i),
        w: result.log_entry_bbox_w(i),
        h: result.log_entry_bbox_h(i),
      };
    }

    file.log_entries.push(entry);
  }

  const addScore = (charts, value1, value2 = null) => {
    if (charts.length > 0) {
      file.records.push({ charts, chart: charts[0], value1, value2 });
    }
  };

  const proof = result.value()[game.auto_proofer_module];

  if (proof) {
    gameModule.registerScores(proof, addScore, game);
  }

  return file;
}


class ProofForm {
  constructor(game, ocr, gameModule) {
    this.game = game;
    this.ocr = ocr;
    this.gameModule = gameModule;

    this.files = [];
  }

  updateChart(fidx, ridx, value) {
    const record = this.files[fidx].records[ridx];
    record.chart = record.charts.find((c) => c.chart_id == value);
  }
}

function allows_zero_scores(chart) {
  return (chart.chart_type == 1 || chart.chart_type == 3);
}

function should_submit_score(record) {
  // we're either:
  // a. submitting a better record, or
  // b. submitting the same record and it was previously unproven
  let comparison = compare_with_previous(record);

  return (
    (allows_zero_scores(record.chart) || (record.value1 != null && record.value1 != 0) || (record.value2 != null && record.value2 != 0)) &&
    (comparison == 1 || (record.chart.record.rec_status == 0 && comparison == 0))
  );
}

const classes = { '-1': 'worse', '1': 'better', '0': 'equal' };

function buildFormData(files, game, entity) {
  const data = new FormData();

  for (const [fidx, file] of files.entries()) {
    data.append('files[]', file.file);

    for (record of file.records) {
      if (should_submit_score(record)) {
        for (const [k, v] of Object.entries(recordInputs(record))) {
          data.append(`records[${h(record.chart.chart_id)}][${k}]`, v);
        }
        data.append(`records[${h(record.chart.chart_id)}][platform_id]`, game.platforms[0].platform_id);
        data.append(`records[${h(record.chart.chart_id)}][file_index]`, fidx);
        if (entity) {
          data.append(`records[${h(record.chart.chart_id)}][entity_id1]`, entity);
        }
      }
    }
  }

  return data;
}

function recordInputs(record) {
  const value1 = record.value1;
  const value2 = record.value2;

  const inputs = {};
  if (value1 != "") {
    if (record.chart.chart_type == 1 || record.chart.chart_type == 2) {
      const [seconds, decimals] = value1.toString().split(".");
      inputs.input1 = Math.floor(seconds / 3600);
      inputs.input2 = Math.floor(seconds / 60) % 60;
      inputs.input3 = seconds % 60;
      inputs.input4 = decimals;
    } else {
      inputs.input1 = value1;
    }
  }

  if (value2 != "") {
    if (record.chart.chart_type2 == 1 || record.chart.chart_type2 == 2) {
      const [seconds, decimals] = value2.toString().split(".");
      inputs.input5 = Math.floor(seconds / 3600);
      inputs.input6 = Math.floor(seconds / 60) % 60;
      inputs.input7 = seconds % 60;
      inputs.input8 = decimals;
    } else {
      inputs.input5 = value2;
    }
  }

  return inputs;
}

function spaceship(a,b) {
  if (a < b) {
    return -1;
  } else if (b < a) {
    return 1;
  } else {
    return 0;
  }
}

// -1: new record is worse
//  1: new record is better
//  0: it's the same record
function compare_with_previous(record) {
  // no previous record, anything is better than that
  if (record.chart.record.record_id === null) {
    return 1;
  }

  let ps1 = record.chart.record.submission;
  let ps2 = record.chart.record.submission2;

  let s1 = record.value1;
  let s2 = record.value2;

  if (record.chart.conversion_factor != 0) {
    if (ps1 === null && ps2 != null) { ps1 = (ps2 / record.chart.conversion_factor).toFixed(record.chart.num_decimals); }
    if (ps2 === null && ps1 != null) { ps2 = (ps1 * record.chart.conversion_factor).toFixed(record.chart.num_decimals2); }

    if (s1 === null && s2 != null) { s1 = (s2 / record.chart.conversion_factor).toFixed(record.chart.num_decimals); }
    if (s2 === null && s1 != null) { s2 = (s1 * record.chart.conversion_factor).toFixed(record.chart.num_decimals2); }
  }

  let cmp1 = spaceship(ps1, s1);
  let cmp2 = spaceship(ps2, s2);

  const ascending1 = (record.chart.chart_type == 1 || record.chart.chart_type == 3);
  const ascending2 = (record.chart.chart_type2 == 1 || record.chart.chart_type2 == 3);

  if (!ascending1) cmp1 = -cmp1;
  if (!ascending2) cmp2 = -cmp2;

  if (cmp1 != 0) return cmp1;
  return cmp2;
}
</script>
