<div class="layout--content-primary">
  <h1>{{ t('csmail_title') }}</h1>

  <p>
    {% if folder.csmail_folder_id == 0 %}
      {{ t('csmail_inbox_intro') }}
    {% elseif folder.csmail_folder_id == 1 %}
      {{ t('csmail_sent_intro') }}
    {% endif %}
  </p>

  <p><strong>{{ t('csmail_warning') }}</strong></p>

  [ <a href="/csmail-messages/new">{{ t('csmail_new') }}</a> ]

  <div class="csmail">
    <div class='folders'>
      <h3>{{ t('csmail_folders') }}</h3>

      <div class='folder'>
        <a href="/csmails/0">{{ t('csmail_inbox') }}</a>
      </div>
      <div class='folder'>
        <a href="/csmails/1">{{ t('csmail_sent_items') }}</a>
      </div>
      {% for custom_folder in custom_folders %}
        <div class='folder'>
          <a href="/csmails/{{ custom_folder.csmail_folder_id }}">{{ custom_folder.folder_name }}</a>
        </div>
      {% endfor %}
    </div>

    <div class="messagelist">
      <h3>
        {{ folder.folder_name }}{{ t('general_colon') }}
        {% if folder.csmail_folder_id > 1 %}
          <form style='display: inline' method='post' action="/csmail/folders/delete">
            <input type='hidden' name='id' value="{{ folder.csmail_folder_id }}">
            <input type='submit' value="{{ t('general_delete') }}">
          </form>
        {% endif %}
      </h3>
      {% if messages|length == 0 %}
        {{ t('csmail_empty_folder') }}
      {% else %}
        <form action="/csmail/update_messages" method="post">
          <table class="messages">
            <tr>
              <td class="tickbox"></td>
              <td class="status"></td>
              <th style="text-align:left">{{ t('csmail_from') }}</th>
              <th style="text-align:left">{{ t('csmail_to') }}</th>
              <td class="subject"><strong>{{ t('csmail_subject') }}</strong></td>
              <td class="datestamp"><strong>{{ t('csmail_date') }}</strong></td>
            </tr>
            {% for message in messages %}
              <tr>
                <td class="tickbox"><input type="checkbox" name="csmail_ids[]" value="{{ message.csmail_id }}" /></td>
                <td class="status">
                  <img src="/images/icon-{{ message.status }}.gif" width="16" height="16" alt="{{ message.status }}" title="{{ message.status }}" />
                </td>
                <td class="username" style="white-space: nowrap">
                  <a href="/csmail-messages/new?to={{ message.from_id }}">{{ message.from_username }}</a>
                  {{ user_star_image_tags(message.from) }}
                </td>
                <td class="username" style="white-space:nowrap">
                  <a href="/csmail-messages/new?to={{ message.to_id }}">{{ message.to_username }}</a>
                  {{ user_star_image_tags(message.to) }}
                </td>

                <td class="subject">
                  <a href="/csmail-messages/{{ message.csmail_id }}">
                    {% if message.subject == '' %}
                      {{ t('csmail_nosubject') }}
                    {% else %}
                      {{ message.subject }}
                    {% endif %}
                  </a>
                </td>
                <td class="datestamp">{{ format_datetime(message.message_date) }}</td>
              </tr>
            {% endfor %}
          </table>
          <p>
            {{ t('csmail_with_selected') }}
            <select name="action">
              <option value="">{{ t('csmail_select_action') }}</option>
              <option value="delete">{{ t('general_delete') }}</option>
              <option value="read">{{ t('csmail_select_read') }}</option>
              <option value="unread">{{ t('csmail_select_unread') }}</option>

              {% if folder.csmail_folder_id != 1 %}
                {% for custom_folder in custom_folders %}
                  {% if custom_folder.csmail_folder_id != folder.csmail_folder_id %}
                    <option value="move_{{ custom_folder.csmail_folder_id }}">
                      {{ t('csmail_select_move_to_folder', {'folder_name': custom_folder.folder_name}) }}
                    </option>
                  {% endif %}
                {% endfor %}
              {% endif %}

              {% if folder.csmail_folder_id > 1 %}
                <option value="move_0">{{ t('csmail_back_to_folders') }}</option>
              {% endif %}
            </select>&nbsp;
            <input type="submit" name="submit" value="{{ t('general_confirm') }}">
          </p>
        </form>
      {% endif %}
    </div>
  </div>

  <form action="/csmail/folders" method="post">
    <label for="name">{{ t.csmail_add_folder }}</label>
    <input type="text" name="name" id="box_name" />
    <input type="submit" value="{{ t('csmail_add') }}" name="submit" />
  </form>

  <p>
  <b>{{ t('csmail_monitor_note') }}</b>
  <br />
  {{ t('csmail_monitor_note_text') }}
  </p>
</div>
