<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    Manage rankbuttons
  </div>

  <h2>Rankbuttons</h2>

  <table style="margin: 0px auto; max-width: 800px;">
    {% for game_id, rankbuttons in games %}
      <tr style="border: 1px solid black">
        <td>{{ link_to_game({'game_id': game_id}) }}</td>
        <td>
          <div style="display: flex; gap: 5px; flex-direction: column; padding: 5px;">
            {% for rankbutton in rankbuttons %}
              <div style="display: flex; align-items: center; gap: 10px">
                <img
                  class="{{ classnames({'active-rankbutton': rankbutton.active}) }}"
                  src="/uploads/rankbuttons/games/{{ rankbutton.sha256 }}.gif" />
                {% if rankbutton.active %}
                  <span>Active</span>
                {% endif %}

                {% if not rankbutton.active %}
                  <form action="active-rankbuttons" method="post">
                    <input type='hidden' name="rankbutton_id" value="{{ rankbutton.rankbutton_id }}" />
                    <input type='submit' value="Activate" />
                  </form>
                  {% if has_access('Admin') %}
                    <form action="rankbuttons/{{ rankbutton.rankbutton_id }}/delete" method="post">
                      <input type='hidden' name="rankbutton_id" value="{{ rankbutton.rankbutton_id }}" />
                      <input type='submit' value="Delete" />
                    </form>
                  {% endif %}
                {% endif %}
              </div>
            {% endfor %}
          </div>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
