<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    <a href="/rankbuttons">Manage rankbuttons</a> &rarr;
    Upload rankbutton
  </div>

  <h1>Upload rankbutton</h1>
  <h2>If you've got a rankbutton for a game, then upload it here</h2>

  <p>The rank button uploader only accepts GIF images. Images must be 31 pixels in height, 88 pixels in width. If you upload a rank button, be sure to also post it in the <a href="http://forum.cyberscore.me.uk/index.php?topic=54.0" target="_blank">Game Rank Button Requests</a> thread for reference and possible improvements or suggestions.</p>

  <p>If a button exists already it will be overwritten.</p>

  <p>Want to make a rankbutton yourself? Click <a href="/RankButtonResources.zip">here</a> to download the template. <a href="http://www.tildee.com/GyHhI&m=1" target="_blank">See a tutorial by Icy.</a></p>

  <form action="/rankbuttons" method="POST" enctype="multipart/form-data">
    <table class="formtable">
      <tr>
        <td class="label"><label for="game_id">Game:</label></td>
        <td class="input">
          <select name="game_id" id="game_id">
            {% for game in games %}
              <option value="{{ game.game_id }}">
                {% if not game.rankbutton_exists %}*{% endif %} {{ game.name }}
              </option>
            {% endfor %}
          </select>
        </td>
      </tr>
      <tr>
        <td class="label"><label for="rankbutton_file">File:</label></td>
        <td class="input"><input type="file" name="rankbutton_file" id="rankbutton_file" size="30" /></td>
      </tr>
      <tr>
        <td class="label"></td>
        <td class="input"><input type="submit" value="Upload" /></td>
      </tr>
    </table>
  </form>
</div>

<div class="layout--sidebar-primary">
  <div class='sidebar-section'>
    <h3 class='sidebar-title'>Recent rankbuttons uploads</h3>
    <div class='sidebar-section-body'>
      {% for rankbutton in latest_rankbuttons %}
        <img src="/uploads/rankbuttons/games/{{ rankbutton.sha256 }}.gif" />
        <br />
      {% endfor %}

      <p><a href="/rankbuttons">View all rankbuttons</a></p>
    </div>
  </div>
</div>
