<div class="layout--content-primary layout--content-primary-readable">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    {{ link_to_game(game) }} &rarr;
    Edit multiple records
  </div>

  <h1>Edit your records - Step 1 of 2</h1>
  <h2>Select submissions to edit</h2>

  <p>
    Select the submissions you want to edit from the list below. Highlighted
    charts are the ones you've already got submissions in. If you want to
    edit all charts in a group, highlight the group instead:
  </p>

  <form action="/records/multiple" method="post">
    <input type="hidden" name="game_id" value="{{ game.game_id }}" />
    <select multiple="multiple" size="20" name="level_ids[]" id="level_ids">
      {% for group in game_groups %}
        <option style="font-weight: bold;" value="g{{ group.group_id }}">{{ group.group_name }}</option>
        {% for level in group.levels %}
          <option {% if level.record_id %}style="background: #eeeeff"{% endif %} value="l{{ level.level_id }}">&nbsp;&nbsp;&nbsp;&nbsp;{{ level.level_name }}</option>
        {% endfor %}
      {% endfor %}

      {% if separate_levels %}
        <option disabled="disabled">------------------------------------------------------------</option>
        {% for level in separate_levels %}
          <option {% if level.record_id %}style="background: #eeeeff"{% endif %} value="l{{ level.level_id }}">&nbsp;&nbsp;&nbsp;&nbsp;{{ level.level_name }}</option>
        {% endfor %}
      {% endif %}
    </select>
    <br />
    <input type="submit" value="Edit selected records" />
  </form>
</div>
