<div class="layout--content-primary layout--content-primary-readable">
  <div id="breadcrumb" class="clearfix">
    <a href="/">Home</a> &rarr; Support requests
  </div>

  <h2>Support requests</h2>

  <h3><a href="/support_requests/archived">View archive</a></h3>

  <form action="/support_requests" method="get">
    Find user from e-mail-address: <input type="text" name="mail" />
    <input type="submit" value="Search" />
  </form>

  {% if searched_email %}
    <p>
      Email {{ searched_email }}
      {% if searched_user %}
        belongs to {{ link_to_user(searched_user) }}
      {% else %}
        not found.
      {% endif %}
    </p>
  {% endif %}
  <br />
  <hr />

  {% for request in requests %}
    {% if request.user_id %}
      {{ link_to_user(request) }}
    {% else %}
      Anonymous
    {% endif %}
    sent {{ format_datetime(request.message_date) }}
    <br />

    <p>{{ prettify(request.message) }}</p>

    {% if request.mod_comment %}
      <i>
        Commented by {{ request.mod_name }},
        {{ format_datetime(request.mod_date) }}
      </i>

      <p>{{ prettify(request.mod_comment) }}</p>
    {% endif %}

    <h3><a href="javascript:ToggleDivVisible('mod_tools_{{ request.support_id }}')">Mod tools</a></h3>
    <div id="mod_tools_{{ request.support_id }}" style="display:none;">
      <form action="/support_requests/{{ request.support_id }}" method="post" style="display:inline;">
        Moderator comment (optional, not visible to the public)
        <br />
        <textarea name="comment" rows="6" cols="50">{{ request.mod_comment }}</textarea>
        <br />
        <br />
        <input type="submit" value="Save comment" />
        <input type="submit" name="archive" value="Save comment and archive request" />
      </form>

      <form action="/support_requests/{{ request.support_id }}/delete" method="post" style="display:inline;">
        <input type="submit" value="Delete request" />
      </form>
    </div>
    <hr />
    <br />
  {% endfor %}
</div>
