<div class="layout--content-primary layout--content-primary-readable">
  <div id="breadcrumb" class="clearfix">
    <a href="/">Home</a>
  </div>

  <h1>Send CSMails to multiple users</h1>

  <h2>Step 1: Choose a game to select all players from it</h2>

  <form action="/csmail-messages/new" method="get" enctype="multipart/form-data">
    <table class="formtable">
      <tr>
        <td class="label"><label for="players">Game:</label></td>
        <td class="input">
          <select name="to" id="username">
            <optgroup>
              {% for game in games %}
                <option value="{{ game.user_ids }}">{{ game.game_name }}</option>
              {% endfor %}
            </optgroup>
          </select>
        </td>
      </tr>
      <tr>
        <td class="input"><input type="submit" value="Submit" name="submit" /></td>
      </tr>
    </table>
  </form>
</div>
