{% if languages|length > 0 %}
  <form action="/language" method="post" style="float:right">
    <label for="game_lang">{{ t('general_game_language') }}</label>
    <select name="game_lang" id="game_lang" onchange="this.form.submit();">
      <option value="1">English</option>
      {% for game_language in languages %}
        <option {{ option_selected(game_language['language_id'], game_lang) }} value="{{ game_language['language_id'] }}">
        {% if game_language['sub_language'] == 'y' %}&nbsp;&nbsp;&nbsp;{% endif %}
        {{ game_language['language_name'] }}
        </option>
      {% endfor %}
    </select>
  </form>
{% endif %}
