{{ render_component_with('game-scoreboards/leader-small', {'game': game}) }}
{{ render_component_with('game-scoreboards/standard-small', {'game': game}) }}
{{ render_component_with('game-scoreboards/arcade-small', {'game': game}) }}
{{ render_component_with('game-scoreboards/collectible-small', {'game': game}) }}
{{ render_component_with('game-scoreboards/incremental-small', {'game': game}) }}
{{ render_component_with('game-scoreboards/speedrun-small', {'game': game}) }}
{{ render_component_with('game-scoreboards/solution-small', {'game': game}) }}
{{ render_component_with('game-scoreboards/challenge-small', {'game': game}) }}
