<div class="home-index-introduction">
  <div class='home-index-introduction-picture'>
    <img src="{{ homepic }}" />
  </div>
  <div>
    <h1>{{ t('index_header_intro') }}</h1>

    {% if current_user %}
      {{ t('index_header_stats', {users: users|number_format, records: records|number_format, games: games|number_format, register: ''})|raw }}
    {% else %}
      {{ t('index_header_stats', {users: users|number_format, records: records|number_format, games: games|number_format, register: t('index_header_register', {'link_register': "<a href='/register'>", '/link': '</a>'})})|raw }}
    {% endif %}
  </div>
</div>
