<div class='livesearch-results-section'>{{ t('general_games') }}</div>
{% if games|length > 0 %}
  {% for game in games|slice(0, 5) %}
    <a class="autocomplete-suggestion" href="/game/{{ game.game_id }}" tabindex="-1" data-rove onkeydown="rove(event, '.searchform')">
      <img src='{{ game.boxart.url }}' alt='' />
      {{ game.game_name }}
    </a>
  {% endfor %}
  {% if games|length > 5 %}
    <a class='livesearch-more' href='/search?q={{ term }}' tabindex="-1" data-rove onkeydown="rove(event, '.searchform')">
      Show all results ({{ games|length }})
    </a>
  {% endif %}
{% else %}
  <div class='livesearch-no-matches'>
    {{ t('search_no_result') }}
  </div>
{% endif %}

<div class='livesearch-results-section'>{{ t('general_users') }}</div>
{% if users|length > 0 %}
  {% for user in users|slice(0, 5) %}
    <a class="autocomplete-suggestion" href="/users/{{ user.user_id }}" tabindex="-1" data-rove onkeydown="rove(event, '.searchform')">
      <img src='{{ user.avatar }}' alt='' />
      {{ user.username }}
    </a>
  {% endfor %}
  {% if users|length > 5 %}
    <a class='livesearch-more' href='/search?q={{ term }}' tabindex="-1" data-rove onkeydown="rove(event, '.searchform')">
      Show all results ({{ users|length }})
    </a>
  {% endif %}
{% else %}
  <div class='livesearch-no-matches'>{{ t('search_no_result') }}</div>
{% endif %}
