<div class="layout--content-primary layout--content-primary-readable">
  <div id="breadcrumb">
    <a href="/">home</a> &rarr;
    <span>Forgot password</span>
  </div>

  <h1>Help and Support</h1>

  <p>Password Reset - Step 3</p>

  {% if error %}
    <div class="warning">
      <strong>An error occurred:</strong>
      {% if error == 'nomatch' %}
        The passwords you typed did not match.
      {% elseif error == 'invalid' %}
        Your password should have at least 8 characters.
      {% endif %}
    </div>
  {% endif %}

  <p>You have successfully authenticated and you can now change your password.</p>

  <p>It should have at least 8 characters.</p>

  <form class='labelled-form' action="/passwords/recover/step4" method="post">
    <div class='labelled-form-label'>
      <label for="password">New password:</label>
    </div>
    <div class='labelled-form-value'>
      <input type="password" id="password" name="password" value="" /><br />
    </div>

    <div class='labelled-form-label'>
      <label for="password_confirmation">Confirm:</label>
    </div>
    <div class='labelled-form-value'>
      <input type="password" id="password_confirmation" name="password_confirmation" value="" />
    </div>

    <div class='labelled-form-value'>
      <input type="submit" name="submit" value="Confirm Change" />
    </div>
  </form>
</div>
