<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    <a href="/homepics">Homepics</a> &rarr;
    Upload homepic
  </div>

  <h1>Upload homepic</h1>

  <h2>If you've got a picture for the index page, then upload it here</h2>

  <p>We accept JPG and PNG images.</p>

  <p>2 different sizes are possible: 127 * 190 Pixel and 209 * 200 Pixel.</p>

  <p>A black border should not be added to the picture, that happens automatically on the index page.</p>

  <br />

  <form action="/homepics" method="post" enctype="multipart/form-data">
    <table class="formtable">
      <tr>
        <td class="label"><label for="file">File:</label></td>
        <td class="input"><input type="file" name="file" id="file" size="30" /></td>
      </tr>
      <tr>
        <td class="label"></td>
        <td class="input"><input type="submit" value="Upload" name="submit" /></td>
      </tr>
    </table>
  </form>
</div>

<div class="layout--sidebar-primary">
  <div class="sidebar-section">
    <h3 class='sidebar-title'>Last uploaded</h3>
    <div class="sidebar-section-body">
      <img src="{{ latest_file.url }}" />
    </div>
  </div>
</div>
