<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a> 
    &rarr; {{ link_to_game(game) }} 
    &rarr; <a href="/mod_scripts/edit_game_groups.php?game_id={{ game.game_id }}">Edit game charts and groups</a> 
    &rarr; <a href="/game-chart-deletions/{{ game.game_id }}">Delete charts</a>
  </div>

  {% if has_access('GameMod') %}
    <h1>DELETE charts for {{ game.game_name }}</h1>

    <h2>Chart Select</h2>

    <p>Caution - this deletes the selected charts. It cannot be undone. All records that exist on these charts will also be deleted.</p>
    <br>

    <form method="post" onsubmit="return confirm('Are you sure you want to delete these charts? They will not be able to be reinstated!');">
      <table class="games-edit-rules zebra">
        <thead>
          <tr>
            <th>Chart</th>
            <th>Delete</th>
          </tr>
        </thead>
        {% for group_id, charts in game_charts %}
          <tbody>
            <tr class="collapsed group {{ charts[0]['group_ranked'] }}">
              <td onclick="toggle(this)">
                + {{ charts[0]['group_name'] }}
              </td>
              <td>
                <input type='checkbox' class='select-rule-for-group'>
                <span class='count'></span>
              </td>
            </tr>
            {% for chart in charts %}
              <tr class="chart" data-levelid="{{ chart['level_id'] }}">
                <td>{{ chart['level_name'] }}</td>
                <td><input type="checkbox" class="select-rule-for-chart" title="Delete chart" name="delete[{{ chart['level_id'] }}]" value="{{ chart['level_id'] }}" /> <small>{{ chart['num_subs'] }} submissions</small></td>
              </tr>
            {% endfor %}
          </tbody>
        {% endfor %}
      </table><br>
      <input type="submit" value="Delete Charts" />
    </form>
  {% endif %}
</div>

<script type="text/javascript">
function toggle(e) {
  e.parentNode.classList.toggle('collapsed');
}

function updateGroupCounts() {
  let rules = document.querySelectorAll(".games-edit-rules thead th").length - 1;

  document.querySelectorAll(".games-edit-rules tbody").forEach(function (tbody) {
    let ncharts = tbody.querySelectorAll("tr.chart").length;
    tbody.querySelectorAll("tr.group td").forEach(function (td, index) {
      if (0 < index && index <= rules) {
        let nselected = 0;
        tbody.querySelectorAll(`tr.chart`).forEach(function (tr) {
          if (tr.querySelector(`td:nth-child(${index + 1}) input`).checked) {
            nselected++;
          }
        });
        td.querySelector('.count').innerHTML = `${nselected}/${ncharts}`;
        td.querySelector('input').checked = nselected == ncharts;
      }
    });
  });
}

function toggleRuleInGroup(ev) {
  let tr = ev.target.parentNode.parentNode;
  let index = Array.from(tr.querySelectorAll('td')).indexOf(ev.target.parentNode);

  tr.parentNode.querySelectorAll(`td:nth-child(${index + 1}) input.select-rule-for-chart[type=checkbox]`).forEach(function (e) {
    e.checked = ev.target.checked;
  });

  updateGroupCounts();
}

document.querySelectorAll(".games-edit-rules input.select-rule-for-chart[type=checkbox]").forEach(function(checkbox) {
  checkbox.addEventListener('click', updateGroupCounts);
});

document.querySelectorAll(".games-edit-rules input.select-rule-for-group[type=checkbox]").forEach(function(checkbox) {
  checkbox.addEventListener('click', toggleRuleInGroup);
});


updateGroupCounts();
</script>
