<div class='two-panel-multiselect'>
  <div class='two-panel-multiselect__source-panel'>
    <input class='two-panel-multiselect__source-filter'>
    <select multiple class='two-panel-multiselect__source'>
      {% for entry in entries %}
        {% if not entry[selected] %}
          <option value="{{ entry[value] }}" class='-match'>{{ entry[label] }}</option>
        {% endif %}
      {% endfor %}
    </select>
    <button class='two-panel-multiselect__add'>Add selected</button>
  </div>
  <div class='two-panel-multiselect__target-panel'>
    <!-- TODO: optimize this by only adding inputs that are selected -->
    <div class='two-panel-multiselect__target-actual'>
      {% for entry in entries %}
        <input {% if not entry[selected] %}disabled{% endif %} type='hidden' name='{{ name }}[]' value="{{ entry[value] }}">
      {% endfor %}
    </div>
    <select multiple class='two-panel-multiselect__target'>
      {% for entry in entries %}
        {% if entry[selected] %}
          <option value="{{ entry[value] }}">{{ entry[label] }}</option>
        {% endif %}
      {% endfor %}
    </select>
    <button class='two-panel-multiselect__remove'>Remove selected</button>
  </div>
</div>
