<div class="scoreboard-widget scoreboard-widget-challenge">
  <div class="scoreboard-widget-header">
    <a href="/scoreboards/challenge">
      {{ t('general_challenge_table') }}
    </a>
  </div>
  <table>
    <thead>
      <tr>
        <th class="position">#</th>
        <th>{{ t('general_user') }}</th>
        <th style='text-align: right;'>
          <img src="/images/scoreboards/challenge.svg" style="max-height: 16px; width: auto;" alt="{{ t('general_challenge_points_plural')|e('html_attr') }}" title="{{ t('general_challenge_points_plural')|e('html_attr') }}">
        </th>
      </tr>
    </thead>
    <tbody>
      {% for entry in entries %}
        <tr class="{{ classnames({'highlight': widget_user and entry.user_id == widget_user.user_id}) }}">
          <td class="position">{{ entry.scoreboard_pos }}</td>
          <td class="username">{{ link_to_user(entry) }}</td>
          <td class="medal" style="text-align: center;">
            <span class="text_challenge">{{ entry.score|number_format(1) }}</span>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
