<div class="scoreboard-widget scoreboard-widget-favourite-games">
  <div class="scoreboard-widget-header">{{ t('widget_title_favourite_games') }}</div>
  <table class="scoreboard-widget-favourites-list">
    <thead>
      <tr>
        <th>{{ t('general_game') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in game_ids %}
        <tr><td>{{ link_to_game({'game_id': entry}) }}</td></tr>
      {% endfor %}
    </tbody>
  </table>
</div>
