<div class="scoreboard-widget scoreboard-widget-main">
  <div class="scoreboard-widget-header">
    <a href="/scoreboards/starboard">
      {{ t('general_mainboard') }}
    </a>
  </div>
  <table>
    <thead>
      <tr>
        <th class="position">#</th>
        <th>{{ t('general_user') }}</th>
        <th style='text-align: right;'>
          <img src="/images/scoreboards/default.svg" style="max-height: 16px; width: auto;" alt="{{ t('general_csr') }}" title="{{ t('general_csr') }}">
        </th>
      </tr>
    </thead>
    <tbody>
      {% for entry in scoreboard_entries %}
        <tr class="{{ classnames({'highlight': widget_user and entry.user_id == widget_user.user_id}) }}">
          <td class="position">{{ entry.scoreboard_pos }}</td>
          <td class="username">{{ link_to_user(entry) }}</td>
          <td class="medal" style="text-align: center;">
            <span class="text_standard">{{ entry.csr|number_format(2) }}</span>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
