<div class="scoreboard-widget scoreboard-widget-site-news">
  <div class="scoreboard-widget-header">
    <a href="/news">
      {{ t('index_site_news') }}
    </a>
  </div>
  <table>
    <thead>
      <tr>
        <th>{{ t('general_date') }}</th>
        <th>{{ t('news_article_header') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in entries %}
        <tr>
          <td class="date">{{ format_date(entry.news_date) }}</td>
          <td class="headline">
            {% for star in entry.stars %}
              <img
                src="{{ star.src|e('html_attr') }}"
                title="{{ star.title|e('html_attr') }}"
                alt="{{ star.alt|e('html_attr') }}" />
            {% endfor %}
            {{ link_to_news_article(entry) }}
            ({{ entry.num_comments }})
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

