<div class="scoreboard-widget scoreboard-widget-speedrun">
  <div class="scoreboard-widget-header">
    <a href="/scoreboards/speedrun">
      {{ t('general_awards_table') }}
    </a>
  </div>
  <table>
    <thead>
      <tr>
        <th class="position">#</th>
        <th>{{ t('general_user') }}</th>
        <th style="text-align: right;">
          <img src="/images/scoreboards/time.svg" style="max-height: 18px; width: auto;" alt="{{ t('general_speedrun_time')|e('html_attr') }}" title="{{ t('general_speedrun_time')|e('html_attr') }}">
        </th>
      </tr>
    </thead>
    <tbody>
      {% for entry in entries %}
        <tr class="{{ classnames({'highlight': widget_user and entry.user_id == widget_user.user_id}) }}">
          <td class="position">{{ entry.scoreboard_pos }}</td>
          <td class="username">{{ link_to_user(entry) }}</td>
          <td class="medal" style="text-align:center;"><span class="text_speedrun">{{ entry.speedrun_time }}</span></td>

        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
