<div class="scoreboard-widget scoreboard-widget-user-news">
  <div class="scoreboard-widget-header">
    <a href="/articles">{{ t('index_user_articles') }}</a>
  </div>
  <table>
    <thead>
      <tr>
        <th>{{ t('general_date') }}</th>
        <th>{{ t('news_article_header') }}</th>
        <th>{{ t('general_user') }}</th>
      </tr>
    </thead>
    <tbody>
      {% for entry in entries %}
        <tr>
          <td class="date">
            {{ format_date(entry.news_date) }}
          </td>
          <td class="headline">
            {{ link_to_news_article(entry) }}
            ({{ entry.num_comments }})
          </td>
          <td class="author">
            <b>{{ link_to_user(entry) }}</b>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if has_access('User') %}
    <div class='scoreboard-widget-more' style="text-align: right; font-weight: bold;">
      <a href='/articles/new'>Publish your own article</a>
    </div>
  {% endif %}
</div>

