<style>
.user-settings-form-security {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  gap: 10px;
  margin: 10px;
  align-items: center;
}

.user-settings-form-security p {
  grid-column: 2;
}

.user-settings-form-security .form-actions {
  grid-column: 2;
}
</style>
<h2>Personal Access Tokens</h2>

<p>If you want to let an external application act on your behalf in cyberscore, you can use a personal access token.</p>
<p>Be aware that you are responsible for any actions that those applications make using your personal access tokens.</p>
<p>Usage of our APIs with these tokens are logged, including the requester's IP address.</p>

<form action="/api-tokens" method="POST" class='user-settings-form-security'>
  <label for="api_token_description">{{ t('profile_api_token_description') }}</label>
  {{ text_field('description', {'description': ""}, { 'required': true }) }}

  <div>{{ t('profile_api_token_permissions') }}</div>
  <div>
    <div><label><input type='checkbox' name='permissions[]' value="profile:read">Read your basic profile information (username, display name, and avatar URL)</option></label></div>
    <div><label><input type='checkbox' name='permissions[]' value="records:read">Read your scores</option></label></div>
    <div><label><input type='checkbox' name='permissions[]' value="records:create">Submit scores on your behalf</option></label></div>
    <div><label><input type='checkbox' name='permissions[]' value="notifications:read">Read <strong>all</strong> your notifications</option></label></div>
  </div>

  <div class="form-actions">
    <input
      type="submit"
      id="submit"
      value="{{ t('general_create') }}"
    />
  </div>
</form>

<ul>
  {% for token in api_tokens %}
    <li>
      <p>{{ token.description }}</p>
      <p><code>{{ token.token }}</code></p>
      <p><code>{{ token.permissions }}</code></p>
      <p>{{ token.created_at }}</p>
      <form method='POST' action="/api-tokens/{{ token.api_token_id }}/delete">
        <input type='submit' value='Delete' />
      </form>
    </li>
  {% endfor %}
</ul>
