<style>
.user-settings-form-personal {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  gap: 10px;
  margin: 10px;
  align-items: center;
}

.user-settings-form-personal p {
  grid-column-start: 1;
  grid-column-end: 3;
  font-weight: bold;
}

.user-settings-form-personal .form-actions {
  grid-column: 2;
}
</style>
<form
  class='user-settings-form-personal'
  action='/settings'
  method='POST'
  enctype='multipart/form-data'
>
  <p>{{ t('charticons_set') }}</p>

  {% for f in flairs %}
    <span>{{ f.0 }}</span>

    <div class='flair-list'>
      {% for flair in f.1 %}
        <label class="{{ classnames({'flair': true, 'locked': not flair.available}) }}">
          {% if flair.available %}
            {{ radio_field('preferred_chart_icon', current_user, {'value': flair.id}) }}
          {% else %}
            {{ radio_field('preferred_chart_icon', current_user, {'value': flair.id, 'disabled': 'disabled'}) }}
          {% endif %}
          <img src="{{ flair.image }}" title="{{ flair.title }}" />
          <span>{{ flair.level }}+</span>
        </label>
      {% endfor %}
    </div>
  {% endfor %}

  <div class="form-actions">
    <input
      type="submit"
      id="submit"
      value="{{ t('general_save_changes') }}"
    />
  </div>
</form>
