<style>
.user-settings-form-personal {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  gap: 10px;
  margin: 10px;
  align-items: center;
}

.user-settings-form-personal p {
  grid-column: 2;
}

.user-settings-form-personal .form-actions {
  grid-column: 2;
}

.user-settings-form-personal .prefixed {
  display: flex;
  align-items: baseline;
  gap: 1rem;
}

.user-settings-form-personal .prefixed input[type='text'] {
  display: block;
  flex: 1;
}

</style>
<form
  class='user-settings-form-personal'
  action='/settings'
  method='POST'
  enctype='multipart/form-data'
>
  <label>{{ t('general_email') }}{{ t('general_colon') }}</label>
  <div>
    {{ current_user.email }}

    {% if verified %}
      <span style="font-weight: bold; color: green;">Verified!</span>
    {% else %}
      <span style="font-weight: bold; color: red;">Not verified yet!</span>
      <input name='verify' type='submit' value='Send verification email' />
    {% endif %}
  </div>

  <label>AOL Messenger:</label>
  {{ text_field('im_aol', current_user, { 'size': 30, 'maxlength': 100 }) }}

  <label>ICQ:</label>
  {{ text_field('im_icq', current_user, {'size': 30, 'maxlength': 100}) }}

  <label>Yahoo Messenger:</label>
  {{ text_field('im_yahoo', current_user, {'size': 30, 'maxlength': 100}) }}

  <label>Skype:</label>
  {{ text_field('im_skype', current_user, {'size': 30, 'maxlength': 100}) }}

  <label>Twitter: </label>
  <div class='prefixed'>
    <div>https://twitter.com/</div>
    {{ text_field('twitter', current_user, {'size': 30, 'maxlength': 100}) }}
  </div>

  <label>Discord tag:</label>
  {{ text_field('discord_tag', current_user, {'size': 30, 'maxlength': 100}) }}

  <label>YouTube channel:</label>
  <div class='prefixed'>
    <div>https://youtube.com/</div>
    {{ text_field('youtube', current_user, {'size': 30, 'maxlength': 100}) }}
  </div>

  <label>Twitch channel:</label>
  <div class='prefixed'>
    <div>https://twitch.tv/</div>
    {{ text_field('twitch', current_user, {'size': 30, 'maxlength': 100}) }}
  </div>

  <label>Steam ID:</label>
  <div class='prefixed'>
    <div>https://steamcommunity.com/id/</div>
    {{ text_field('steam_id', current_user, {'size': 30, 'maxlength': 100}) }}
  </div>

  <label>3DS friend code:</label>
  {{ text_field('3ds_fc', current_user, {'size': 30, 'maxlength': 100 }) }}

  <label>Nintendo Network ID:</label>
  {{ text_field('wiiu_fc', current_user, {'size': 30, 'maxlength': 100 }) }}

  <label>Switch friend code:</label>
  {{ text_field('switch_fc', current_user, {'size': 30, 'maxlength': 100}) }}

  <label>Pokémon GO friend code:</label>
  {{ text_field('pokemon_go_fc', current_user, {'size': 30, 'maxlength': 100}) }}

  <label>PSN ID:</label>
  {{ text_field('psn_gamertag', current_user, {'size': 30, 'maxlength': 100}) }}

  <label>XBL gamertag:</label>
  {{ text_field('xbl_gamertag', current_user, {'size': 30, 'maxlength': 100}) }}

  <label>Backloggery account:</label>
  <div class='prefixed'>
    <div>https://backloggery.com/</div>
    {{ text_field('backloggery', current_user, {'size': 30, 'maxlength': 100}) }}
  </div>

  <label>Website:</label>
  {{ text_field('website', current_user, {'size': 50, 'maxlength': 150}) }}

  <div class="form-actions">
    <input
      type="submit"
      id="submit"
      value="{{ t('general_save_changes') }}"
    />
  </div>
</form>
