<form
  class='user-settings-form'
  action='/settings'
  method='POST'
  enctype='multipart/form-data'
>
  <p class='user-settings-form-note'>
    Note that these are only a visual preference. For actual game rankings and
    global scoreboards, the defaults will all be used regardless of your
    preference.
  </p>

  <p class='user-settings-form-header'>Scoreboard displays and filters:</p>

  <div class='user-settings-form-setting'>
  <label>Display entity icons</label>
  {{ slider_field('show_entity_icons', current_user) }}
  </div>

  <div class='user-settings-form-setting'>
  <label for="medal_display">Medal table sort order:</label>
  <div>
    {{ select_field('medal_display', current_user, {
      'plats': 'Most Platinum medals',
      'golds': 'Most Gold medals',
    }) }}
    <div><small>(Default is "Most Platinum medals")</small></div>
  </div>
  </div>

  <div class='user-settings-form-setting'>
  <label for="speedrun_display">Speedrun table sort order:</label>
  <div>
    {{ select_field('speedrun_display', current_user, {
      'speedrunpoints': 'Speedrun Points',
      'plats': 'Most Platinum awards',
      'golds': 'Most Golden awards',
    }) }}
    <div><small>(Default is "Most Platinum awards")</small></div>
  </div>
  </div>

  <div class='user-settings-form-setting'>
  <label for="trophy_display">Trophy table sort order:</label>
  <div>
    {{ select_field('trophy_display', current_user, {
      'trophypoints': 'Trophy Points',
      'plats': 'Most Platinum trophies',
      'golds': 'Most Golden trophies',
    }) }}
    <div><small>(Default is "Trophy Points")</small></div>
  </div>
  </div>

  <div class='user-settings-form-setting'>
  <label>{{ t('profile_highlight_intro') }}</label>
  <div>
    {{ select_field('show_full_names', current_user, {
      '1': t('profile_name_display_full_names'),
      '0': t('profile_name_display_usernames'),
    }) }}
  </div>
  </div>

  <p class='user-settings-form-note'>
    Here you can enter a format for how the dates are displayed on the site.
    If left empty, the default date format will be shown.
    <br />
    For example, <code>d/m/Y</code> will display <code>25/10/2013</code>.
    See <a href="https://www.php.net/manual/en/datetime.format.php" target="_blank">PHP's datetime format documentation page</a> for more info.
  </p>

  <div class='user-settings-form-setting'>
  <label for="date_format">{{ t('profile_date_format') }}</label>
  <div>
    {{ text_field('date_format', current_user, {
      'id': 'date_format',
      'oninput': 'UpdateDateFormatPreview(this.value);',
    }) }}
    <i>Preview:</i>
    <span id="date_format_preview">{{ date_format_preview }}</span>
  </div>
  </div>

  <div class='user-settings-form-setting'>
  <label for="timezone">{{ t('profile_timezone') }}</label>
  <div>
    {{ timezone_select_field('timezone', current_user) }}
  </div>
  </div>

  <div class="form-actions">
    <input
      type="submit"
      id="submit"
      value="{{ t('general_save_changes') }}"
    />
  </div>
</form>
<script type='text/javascript'>
  async function UpdateDateFormatPreview(format) {
    const response = await fetch(`/user-settings-date-preview?format=${format}`).then(x => x.json());
    const preview = response.preview;

    document.getElementById('date_format_preview').innerHTML = preview;
  }
</script>
