<style>
.user-settings-form-personal {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  gap: 10px;
  margin: 10px;
  align-items: center;
}

.user-settings-form-personal p {
  grid-column: 2;
}

.user-settings-form-personal .form-actions {
  grid-column: 2;
}
</style>
<form
  class='user-settings-form-personal'
  action='/settings'
  method='POST'
  enctype='multipart/form-data'
>
  {% if smf_account %}
    <p>{{ t('profile_forum_sync_success') }}</p>
    <p>
      <a href="{{ base_forum_url }}?action=profile;u={{ smf_account.smf_member_id }}">
        {{ t('general_view_profile') }}
      </a>
    </p>
  {% else %}
    <label>{{ t('profile_forum_username') }}</label>
    <input type="text" name="forum_username" size="30" maxlength="100" />

    <label>{{ t('profile_forum_password') }}</label>
    <input type="password" name="forum_password" size="30" maxlength="100" />

    <div class="form-actions">
      <input
        type="submit"
        id="submit"
        value="{{ t('general_save_changes') }}"
      />
    </div>
  {% endif %}
</form>
