<form
  class='user-settings-form'
  action='/settings'
  method='POST'
  enctype='multipart/form-data'
>
  <p class='user-settings-form-note'>
    Here you can turn different types of notifications on or off. Please note
    that you cannot turn off notifications for when your records are put under
    investigation or deleted.
  </p>

  <p class='user-settings-form-header'>Email settings</p>

  <div class='user-settings-form-setting'>
  <label>{{ t('profile_email_csmail') }}</label>
  {{ slider_field('email_pm', current_user) }}
  </div>


  <p class='user-settings-form-header'>Competition notifications</p>

  <div class='user-settings-form-setting'>
    <label>You Got Beat!</label>
    {{ slider_field('ygb', preferences) }}
  </div>

  <div class='user-settings-form-setting'>
    <label>Trophy Lost</label>
    {{ slider_field('trophy_lost', preferences) }}
  </div>

  <div class='user-settings-form-setting'>
    <label>Trophy Gained</label>
    {{ slider_field('trophy_gained', preferences) }}
  </div>

  <div class='user-settings-form-setting'>
    <label>Record Reported</label>
    <span>Always on</span>
  </div>

  <div class='user-settings-form-setting'>
    <label>Record Deleted</label>
    <span>Always on</span>
  </div>

  <p class='user-settings-form-header'>Proof notifications</p>

  <div class='user-settings-form-setting'>
    <label>Record Approved</label>
    {{ slider_field('rec_approved', preferences) }}
  </div>

  <div class='user-settings-form-setting'>
    <label>Proof Refused</label>
    {{ slider_field('proof_refused', preferences) }}
  </div>

  <p class='user-settings-form-header'>Community notifications</p>

  <div class='user-settings-form-setting'>
    <label>New Article Comments</label>
    {{ slider_field('article_comment', preferences) }}
  </div>

  <div class='user-settings-form-setting'>
    <label>Replies</label>
    {{ slider_field('reply', preferences) }}
  </div>

  <div class='user-settings-form-setting'>
    <label>Confirmed Referrals</label>
    {{ slider_field('referral_confirmed', preferences) }}
  </div>

  <div class='user-settings-form-setting'>
    <label>Rejected Referrals</label>
    {{ slider_field('referral_rejected', preferences) }}
  </div>

  <div class='user-settings-form-setting'>
    <label>Rejected Created</label>
    <span>Always on</span>
  </div>

  <div class='user-settings-form-setting'>
    <label>New Game Request Comment</label>
    {{ slider_field('greq_comment', preferences) }}
  </div>

  <div class='user-settings-form-setting'>
    <label>New Profile Page Comment</label>
    {{ slider_field('userpage_comments', preferences) }}
  </div>

  <div class='user-settings-form-setting'>
    <label>Blog follows</label>
    {{ slider_field('blog_follow', preferences) }}
  </div>

  <div class='user-settings-form-setting'>
    <label>Blog unfollows</label>
    {{ slider_field('blog_unfollow', preferences) }}
  </div>

  <div class='user-settings-form-setting'>
    <label>A blog you followed has made a post</label>
    {{ slider_field('followed_posted', preferences) }}
  </div>

  {% if has_access('GameMod') %}
    <p class='user-settings-form-header'>Game Moderator / Designer notifications</p>

  <div class='user-settings-form-setting'>
    <label>New Game Request</label>
    {{ slider_field('new_grequest', preferences) }}
  </div>
  {% endif %}

  {% if has_access(['GameMod', 'Designer']) %}
  <div class='user-settings-form-setting'>
    <label>New Game added to workshop</label>
    {{ slider_field('new_game', preferences) }}
  </div>
  {% endif %}

  {% if has_access('GlobalMod') %}
    <p class='user-settings-form-header'>Global Moderator notifications</p>

  <div class='user-settings-form-setting'>
    <label>New Support Request</label>
    {{ slider_field('supp', preferences) }}
  </div>

  <div class='user-settings-form-setting'>
    <label>New Pending Investigation</label>
    {{ slider_field('reported_rec', preferences) }}
  </div>
  {% endif %}

  {% if has_access('Translator') %}
    <p class='user-settings-form-header'>Translator notifications</p>

  <div class='user-settings-form-setting'>
    <label>Page String Edited</label>
    {{ slider_field('pstring_edited', preferences) }}
  </div>

  <div class='user-settings-form-setting'>
    <label>Page String Added</label>
    {{ slider_field('pstring_added', preferences) }}
  </div>
  {% endif %}

  <div class="form-actions">
    <input
      type="submit"
      id="submit"
      value="{{ t('general_save_changes') }}"
    />
  </div>
</form>
