<style>
.user-settings-form-security {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  gap: 10px;
  margin: 10px;
  align-items: center;
}

.user-settings-form-security p {
  grid-column: 2;
}

.user-settings-form-security .form-actions {
  grid-column: 2;
}
</style>
<form
  class='user-settings-form-security'
  action='/settings'
  method='POST'
  enctype='multipart/form-data'
>
  <p>{{ t('profile_password_change') }}</p>

  <label for="current_password">{{ t('profile_password_current') }}</label>
  {{ password_field('current_password', {'current_password': ""}, {'id': 'current_password'}) }}

  <label for="password">{{ t('profile_password_new') }}</label>
  {{ password_field('password', {'password': ""}, {'id': 'password'}) }}

  <label for="password_confirmation">{{ t('profile_password_confirm') }}</label>
  {{ password_field('password_confirmation', {'password_confirmation': ""}, {'id': 'password_confirmation'}) }}

  <div class="form-actions">
    <input
      type="submit"
      id="submit"
      value="{{ t('general_save_changes') }}"
    />
  </div>
</form>
