<style>
.user-settings-form-personal {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  gap: 10px;
  margin: 10px;
  align-items: center;
}

.user-settings-form-personal p {
  grid-column: 2;
}

.user-settings-form-personal .form-actions {
  grid-column: 2;
}
</style>
<form
  class='user-settings-form-personal'
  action='/settings'
  method='POST'
  enctype='multipart/form-data'
>
  {% if referrer %}
    Referrer:
    <div>
      {{ user_avatar_image_tag(referrer, {'alt': 'Userpic'}) }}
      {{ link_to_user(referrer) }}
      {{ user_star_image_tags(referrer) }}
    </div>
  {% else %}
    <label for="referrer">User ID of the person who referred you to Cyberscore: </label>
    <input type="text" name="referrer" id="referrer">
    <br />
    <br />
  {% endif %}

  {% if referrals|length > 0 %}
    You have referred the following users:
    <table>
      <tr>
        <th>Username</th>
        <th>Confirmation</th>
      </tr>
      {% for user in referrals %}
        <tr>
          <td>{{ link_to_user(user) }}</td>
          <td>
            {% if user.confirmed != 0 %}
              <img src="/images/tick_green.png" alt="Confirmed referral!" />
              Confirmed!
            {% else %}
              Unconfirmed
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}

  <div class="form-actions">
    <input
      type="submit"
      id="submit"
      value="{{ t('general_save_changes') }}"
    />
  </div>
</form>
