<style>
.user-settings-form-personal {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  gap: 10px;
  margin: 10px;
  align-items: center;
}

.user-settings-form-personal p {
  grid-column: 2;
}

.user-settings-form-personal .form-actions {
  grid-column: 2;
}
</style>
<form
  class='user-settings-form-personal'
  action='/settings'
  method='POST'
  enctype='multipart/form-data'
>
  <label>{{ t('profile_hide_online_status') }}</label>
  {{ slider_field('lastseen_hidden', current_user) }}

  <label>Enable/Disable userpage comments</label>
  {{ slider_field('userpage_comments', current_user) }}

  <label>Which applet is open on your user profile by default:</label>
  <div>
    {{ select_field('applet', current_user, {
      'ContactMe': 'Contact Details',
      'Submissions': 'Submission statistics & Latest submissions',
      'CSR': 'All submissions & game rankings',
      'Ranked': 'Standard Submissions',
      'Arcade': 'Arcade Submissions',
      'Speedrun': 'Speedrun Submissions',
      'Solution': 'Solution Submissions',
      'Badges': 'Awards & Achievements',
      'Blog': 'Blog',
      'Comments': 'Comments',
      'Feature': 'Featured Article',
    }) }}
  </div>

  <label>Featured article ID:</label>
  <div>
    <input
      type="number"
      name="featured_article_id"
      id="feature_id"
      value="{{ current_user.featured_article_id }}"
    >
    <small>
      Please note that you can choose any article ID (including articles
      written by others), however if the article ID you input does not exist,
      nothing will be featured on your profile!
    </small>
  </div>

  <label>Blog name:</label>
  {{ text_field('blog_name', current_user, {'id': 'blog_name'}) }}

  <div class="form-actions">
    <input
      type="submit"
      id="submit"
      value="{{ t('general_save_changes') }}"
    />
  </div>
</form>
