<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a> &rarr; {{ link_to_game(game) }} &rarr; <a href="/mod_scripts/edit_game_groups.php?game_id={{ game_id }}">Edit game charts and groups</a>
  </div>

  {% if has_access('GameMod') %}
    <h2><a href="/game-chart-details/{{ game_id }}">Edit chart details</a></h2>
    <h2><a href="/game-modifiers/{{ game_id }}">Edit chart modifiers</a></h2>
    <h2><a href="/game-entities/{{ game_id }}/edit?lang_id={{ language_id }}">Edit entities</a></h2>

    {% if game_entities > 0 %}
      <h2><a href="/game-entity-locks/{{ game_id }}/edit">Edit entity locks</a></h2>
    {% endif %}

    <h2><a href="/game-rules/{{ game_id }}">Edit additional rules</a></h2>
  {% endif %}
  <h2><a href="/game-proof-rules/{{ game_id }}">Edit proof guidelines</a></h2>

  {% if has_access('GameMod') %}
    <h2><a href="/game-chart-deletions/{{ game_id }}">Delete charts</a></h2>
    <h2>Edit for this language:</h2>
  {% endif %}

  {% if has_access('GameMod') %}
    <form method="get">
      {{ hidden_field('game_id', game) }}
      <div>
        <select name="lang_id" onchange="this.form.submit();">
          {% for language in languages %}
            <option {{ option_selected(language.language_id, language_id) }} value="{{ language.language_id }}">
              {{ language['language_name'] }}
            </option>
          {% endfor %}
        </select>
      </div>
    </form>
    <br />

    <form action="/games/{{ game_id }}/name" method="post">
      {{ hidden_field('lang_id', game) }}
      {{ text_field('game_name', game, {'size': 100}) }}
      <input type="submit" value="Edit game name" />
    </form>
    <br />
  {% endif %}

  {% if has_access('GameMod') %}
    <form action="/game-groups-groups/{{ game.game_id }}" method="post">
      {{ hidden_field('lang_id', game) }}
      <table class="gamelist">
        {% for g in groups %}
          <tr class="{{ classnames({
            'group'      : true,
            'standard'   : g['ranked'] == 0,
            'arcade'     : g['ranked'] == 7,
            'speedrun'   : g['ranked'] == 1,
            'challenge'  : g['ranked'] == 4,
            'solution'   : g['ranked'] == 2,
            'incremental': g['ranked'] == 6,
            'collectible': g['ranked'] == 5,
            'unranked'   : g['ranked'] == 3,
          }) }}">
            <td class="icon">
              <a href="/game-groups/{{ g.group_id }}/edit?language_id={{ language_id }}">
                <img src="{{ skin_image_url('edit.png') }}" width="11" height="11" alt="Edit group" />
              </a>
              <input type="hidden" name="groups[{{ g.group_id }}][group_id]" value={{ g.group_id }} />
              <input type="text" name="groups[{{ g.group_id }}][group_pos]" value="{{ g.group_pos }}" size="2" />
            </td>
            <td class="icon" style="v-align: center;">
              <select name="groups[{{ g.group_id }}][ranked]">
                <option value="0" {{ option_selected(g['ranked'], 0) }}>Standard</option>
                <option value="7" {{ option_selected(g['ranked'], 7) }}>Arcade</option>
                <option value="1" {{ option_selected(g['ranked'], 1) }}>Speedrun</option>
                <option value="2" {{ option_selected(g['ranked'], 2) }}>Solution</option>
                <option value="4" {{ option_selected(g['ranked'], 4) }}>User Challenge</option>
                <option value="5" {{ option_selected(g['ranked'], 5) }}>Collectible</option>
                <option value="6" {{ option_selected(g['ranked'], 6) }}>Incremental</option>
                <option value="3" {{ option_selected(g['ranked'], 3) }}>Unranked</option>
              </select>
            </td>
            <td class="name">
              <input type="text" name="groups[{{ g.group_id }}][group_name]" value="{{ g.translated_name }}" size="50" />
              &nbsp;{{ g.group_name }}
            </td>
            <td class="lastupdate"></td>
            <td class="chart-count {{ g['ranked'] }}">
              {{ g['num_levels'] }} chart(s)
              <a title="Add Charts" href="/game-group-charts/new?group_id={{ g['group_id'] }}&game_id={{ game_id }}">
                <img src="{{ skin_image_url('plus_icon.gif') }}" width="16" height="16" alt="Add charts" />
              </a>
            </td>
          </tr>
        {% endfor %}
        {% if groupless_charts %}
          <tr class="group standard">
            <td class="icon">
              <a href="/game-groups/s{{ game_id }}/edit?language_id={{ language_id }}">
                <img src="{{ skin_image_url('edit.png') }}" width="11" height="11" alt="Edit group" />
              </a>
            </td>
            <td class="icon"></td>
            <td class="name">Separate charts</td>
            <td class="lastupdate"></td>
            <td class="chart-count standard">
              {{ groupless_charts }} chart(s)
              <a title="Add Charts" href="/game-group-charts/new?group_id=0&game_id={{ game_id }}">
                <img src="{{ skin_image_url('plus_icon.gif') }}" width="16" height="16" alt="Add charts" />
              </a>
            </td>
          </tr>
        {% endif %}
      </table>
      <br />
      <input type="submit" value="Save changes" />
    </form>
    <br />
  {% endif %}

  {% if has_access('GameMod') %}
    <p><a href="javascript:ToggleDivVisible('add_groups');">Add groups</a></p>
    <div id="add_groups" style="display:none;">
      <form action="/game-groups" method="post">
        {{ hidden_field('game_id', game) }}

        <label for="ranked">Chart type: </label>
        <select name="ranked" id="ranked">
          <option value="0" selected>Standard</option>
          <option value="7">Arcade</option>
          <option value="1">Speedrun</option>
          <option value="2">Solution</option>
          <option value="4">User Challenge</option>
          <option value="5">Collectible</option>
          <option value="6">Incremental</option>
          <option value="3">Unranked</option>
        </select>
        <br />

        Put one per line:<br />
        <textarea name="group_names" rows="15" style="width:95%;"></textarea>
        <br />

        <select name="group_pos">
          <option value="1">first</option>
          {% for i, group in groups %}
            <option value="{{ i + 2 }}">after {{ group.translated_name }}</option>
          {% endfor %}
        </select>
        <br />

        <input type="submit" value="Add group(s)" />
      </form>
    </div>

    {% if game.lang_id > 1 %}
      <h3><a href="javascript:ToggleDivVisible('adv_translation');">Advanced translation:</a></h3>

      <div id="adv_translation" style="display:none;">
        <form action="/game-group-translations" method="post">
          {{ hidden_field('game_id', game) }}
          {{ hidden_field('lang_id', game) }}
          <textarea name="translation" rows="30" style="width:95%;"></textarea>
          <br />
          <br />
          <input type="submit" value="Add translations" />
        </form>
      </div>
    {% endif %}
  {% endif %}
</div>

<div class="layout--sidebar-primary">
  {% if has_access('GameMod') %}
    {% if translation_status|length > 0 %}
      <div class='sidebar-section'>
        <h3 class='sidebar-title'>Translation status</h3>
        <div class='sidebar-section-body'>
          {% for language in translation_status %}
            <b>{{ language['language_name'] }} &ndash; {{ language['status'] }}</b>
            <br />

            {{ ((language.num_game_names + language.num_group_names + language.num_chart_names) / translation_goal * 100)|number_format(1) }}%
            ({{ language.num_game_names }} / {{ language.num_group_names }} / {{ language.num_chart_names }})
            <br />

            {% if num_entities > 0 %}
              {{ (language.num_entity_names / num_entities * 100)|number_format(1) }}%
              ({{ language.num_entity_names }})
              <br />
            {% endif %}
            <form action="/game-translation-statuses/{{ language.game_id }}" method="post">
              {{ hidden_field('language_id', language) }}
              {{ select_field('status', language, {'incomplete': 'Incomplete', 'forum_topic': 'Forum topic', 'complete': 'Complete'}) }}
              <input type="submit" value="Update status" />
            </form>
            <br />
          {% endfor %}
        </div>
      </div>
    {% endif %}
  {% endif %}
</div>
