<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
      <a href="/"> {{ t('general_home') }}</a> &rarr;
      {{ link_to_game(game) }} &rarr;
      <a href="/games/{{ game.game_id }}/edit">Edit game</a>
  </div>

  <form action="/games/{{ game.game_id }}" method="post" id="customdropdown">
    <table class="zebra formtable">
      <tr>
        <td class="label"><label for="notes">Public game notes:&nbsp;&nbsp;&nbsp;</label></td>
        <td class="input">
          <div class="spoiler">
            <br /><br />
            <input type="button" onclick="showSpoiler(this);" value="Edit public game notes" />
            <div class="inner" style="display:none;"><br />
              <textarea name="notes" id="notes" rows="5" cols="45">{{ game.notes }}</textarea>
              <br />
            </div>
          </div>
          <br />
          &nbsp;{{ game.notes }}
          <br />
        </td>
      </tr>
      <tr>
        <td class="label">
          <label for="mod_notes">Moderator game notes:</label>
        </td>
        <td class="input">
          <div class="spoiler">
            <br />
            <br />
            <input type="button" onclick="showSpoiler(this);" value="Edit moderator game notes" />
            <div class="inner" style="display:none;">
              <br />
              <textarea name="mod_notes" id="mod_notes" rows="5" cols="50">{{ game.mod_notes }}</textarea>
              <br />
            </div>
          </div>
          <br />
          {{ game.mod_notes }}
          <br />
        </td>
      </tr>
      <tr>
        <td class="label"><label for="site_id">Site ID:</label></td>
        <td class="input">
          <br />
          <select name="site_id" id="site_id" style="width: 190px;">
            <option {{ option_selected(game.site_id, 4) }} value="4">Workshop (not live on site)</option>
            <option {{ option_selected(game.site_id, 1) }} value="1">Main Site</option>
          </select>
          <br /><br />
        </td>
      </tr>
      <tr>
        <td class="label">
          <label for="related_games">Related games:</label>
        </td>
        <td class="input">
          {{ render_component_with('two-panel-multiselect', {
            'entries': related_games,
            'name': 'related_games',
            'value': 'game_id',
            'label': 'game_name',
            'selected': 'related',
          }) }}
        </td>
      </tr>
      <tr>
        <td class="label">
          <label for="super_related_games">
            Other versions of this game:
            <br>
            (will supersede related games)
          </label>
        </td>
        <td class="input">
          {{ render_component_with('two-panel-multiselect', {
            'entries': related_games,
            'name': 'super_related_games',
            'value': 'game_id',
            'label': 'game_name',
            'selected': 'super_related',
          }) }}
        </td>
      </tr>

      <tr>
        <td class="label"><label for="game_patches">Versions/Patches/Updates:&nbsp;&nbsp;&nbsp;</label></td>
        <td class="input">
          <div class="spoiler">
            <br /><br />
            <input type="button" onclick="showSpoiler(this);" value="Edit Version/Patch/Updates" />
            <div class="inner" style="display:none;">
              <p>Put one version/patch/update name per line as they will be stored this way.</p>

              <textarea name="game_patches" id="game_patches" rows="10" cols="28">{{ game.game_patches }}</textarea>
            </div>
          </div>

          {% if patch_list|length %}
            <p><strong>Current List:</strong></p>

            {% for patch in patch_list %}
              <p>{{ patch }}</p>
            {% endfor %}
          {% endif %}

          <br />
        </td>
      </tr>
      <tr>
        <td class="label">Platforms:&nbsp;&nbsp;&nbsp;<br />(tick all that apply)&nbsp;&nbsp;&nbsp;</td>
        <td class="input">
          <br />
          <table class="platformtable">
            <tr>
              <th><strong>Primary</strong></th>
              <th><strong>Secondary</strong></th>
              <th></th>
            </tr>
            {% for platform in platform_list %}
              <tr>
                <td class="platform" style="max-width: 100px; width: 100px;">
                  <label class="slider_switch">
                    <input {% if platform.platform_check1 > 0 %}checked="checked"{% endif %} type="checkbox" name="platform_id[]" value="{{ platform.platform_id }}">
                    <span class="slider round"></span>
                  </label>
                </td>
                <td class="platform" style="max-width: 100px; width: 100px; padding-left: 10px;">
                  <label class="slider_switch">
                    <input {% if platform.platform_check2 > 0 %}checked="checked"{% endif %} type="checkbox" name="platform_id2[]" value="{{ platform.platform_id }}">
                    <span class="slider round"></span>
                  </label>
                </td>
                <td class="platform" style="vertical-align: middle; padding-bottom: 5px;">
                  {{ platform.platform_name }}
                </td>
              </tr>
            {% endfor %}
          </table>
        </td>
      </tr>
    </table>
    <br />
    <input type="submit" value="Save changes" />
  </form>

</div>

<div class='layout--sidebar-primary'>
  <div class="sidebar-section">
    <div class="sidebar-title">Tools</div>
    <div class="sidebar-section-body">
      <h3><a href="/boxarts/new?game_id={{ game.game_id }}">Boxart uploader</a><br><h3>
      <h3><a href="/rankbuttons/new">Rankbutton uploader</a><br><h3><br>

      {{ render_component_with('games/discord_edit', {'game_id': game.game_id}) }}<br>

      {% if game.site_id == 4 %}
        <br />
        <hr style="width: 10%;margin-left: 0">
        <br />
        <form
          action="/games/{{ game.game_id }}/delete"
          method="post"
          onsubmit="return confirm('Are you sure you want to delete this game from the Workshop?')"
        >
          <input type="submit" value="DELETE GAME" />
        </form>
      {% endif %}
    </div>
  </div>
</div>
<script language="javascript">
  const tpmses = document.querySelectorAll('.two-panel-multiselect');
  for (const tpms of tpmses) {
    setupTwoPanelMultiselect(tpms);
  }
</script>
