<div class='game-search'>
  <input type='search'
         name='q'
         hx-trigger='input changed delay:200ms, search'
         hx-get="/games/autocomplete"
         hx-target='next .game-search-results'

         autocomplete=off
         tabindex
         data-rove
         onkeydown="rove(event, '.game-search')"
         />
  <div
      class='game-search-results'
      hx-trigger='autocomplete-result'
      hx-on::after-request='input = this.closest(".game-search").querySelector("input"); input.value = ""; input.focus(); this.replaceChildren();'

      {% block on_autocomplete_result %}{% endblock %}
      aria-live='polite'>
  </div>
</div>
