<style>
table.recordtable th, table.recordtable td {
  padding: 5px;
  text-align: center;
  border: 1px solid #000000
}

table.basicform th {
  font-weight:normal;
  text-align:left
}
</style>
<div class="layout--content-primary">
  <div id="breadcrumb">
    <a href="/">Home</a>
  </div>

  <h1>Deleted records</h1>

  <p>
    On this page, you can view records that have been deleted. Deleted records
    have only been tracked since 31 May 2012. Deleted charts started being tracked on 18th April 2024. 
    There is no information available on records/charts deleted before those dates.
  </p>

  <p>Filtering options:</p>

  <form action="/records/deleted" method="get">
    <input type="hidden" name="offset" value="0"/>
    <table class="basicform" style="width:500px">
      <tr>
        <th><label for="earliest">Deleted after:</label></th>
        <td><input type="datetime-local" step=1 name="earliest" value="{{ earliest }}"/></td>
      </tr>
      <tr style="padding-bottom: 5px;">
        <th><label for="latest">Deleted before:</label></th>
        <td><input type="datetime-local" step=1 name="latest" value="{{ latest }}"/></td>
      </tr>
      <tr>
        <th><label for="game">Game IDs:</label></th>
        <td><input type="text" name="game_ids" value="{{ game }}"/> (Separate by comma for multiple)</td>
      </tr>
      <tr>
        <th><label for="submitter">Submitted by:</label></th>
        <td><input type="text" name="submitter" value="{{ submitter }}"/></td>
      </tr>
      <tr>
        <th><label for="moderator">Moderated by:</label></th>
        <td><input type="text" name="moderator" value="{{ moderator }}"/></td>
      </tr>
      <tr>	<td colspan="2"><input type="submit"/></td>	</tr>
    </table>
  </form><br>

  {% if num_records > 100 %}
    <p>
      Only 100 records are displayed at a time. You can use the dropdown box
      below to show a different set of records.
    </p>
    <form action="/records/deleted" method="get">
      <input type="hidden" name="earliest" value="{{ earliest }}"/>
      <input type="hidden" name="latest" value="{{ latest }}"/>
      <input type="hidden" name="submitter" value="{{ submitter }}"/>
      <select name="offset" onchange="this.form.submit()">
        <option value="0">Latest 100</option>
        {% for i in range(100, num_records - 1, 100) %}
          <option value="{{ i }}" {% if offset == i %}selected{% endif %}>{{ i + 1 }} &ndash; {{ i + 100 }}</option>
        {% endfor %}
      </select>
    </form>
  {% endif %}

  <table class="recordtable zebra" style="border:1px solid #000000">
    <tr>
      <th>User</th>
      <th>Game</th>
      <th>Group</th>
      <th>Chart</th>
      <th>Record</th>
      <th style="width:200px;">Record note</th>
      <th>Reported by</th>
      <th style="width:400px">Report reason</th>
      <th style="width:75px">Deletion info</th>
      <th style="width:135px">Moderation actions</th>
    </tr>
    {% for record in deleted_records %}
      <tr>
        <td>
          <b>
              <a href="/user/{{ record.user_id }}" target="_blank">{{ record.submitter }}</a>
          </b>
        </td>
        <!-- If we have full detail about where the submission came from, let's provide all that information -->
        {% if record.chart.level_name %}
          <td><a href="/game/{{ record.game_id }}" target="_blank">{{ record.game_name }}</a></td>
          <td><a href="/group/{{ record.game_id }}/{{ record.chart.group_id }}" target="_blank">{{ record.chart.group.group_name }}</a></td>
          <td><a href="/chart/{{ record.level_id }}" target="_blank">{{ record.chart.level_name }}</a></td>
          <td>
            <a href="/record/{{ record.record_id }}">{{ format_submission(record) }}</a>
            {% if record.comment %}
              <img src="/images/comment.png" width="16" height="16" alt="Comment" title="{{ record.comment }}" />
            {% endif %}
            <br />
          </td>

        <!-- It's possible that we can't provide everything because the chart no longer exists! Let's give what information we can in those cases -->
        {% elseif record.deleted_chart.level_name %}
          <td><a href="/game/{{ record.game_id }}" target="_blank">{{ record.game_name }}</a></td>
          <td><a href="/group/{{ record.game_id }}/{{ record.deleted_chart.group_id }}" target="_blank">{{ record.deleted_chart.group.group_name }}</a></td>
          <td style="color: red;">
            {{ record.deleted_chart.level_name }}
            <br><b>Deleted chart</b><br>
            <small>Chart ID {{ record.level_id }}</small></td>
          <td>{{ format_submission(record) }}
          {% if record.comment %}
            <img src="/images/comment.png" width="16" height="16" alt="Comment" title="{{ record.comment }}" />
          {% endif %}</td>

          <!-- If even that information doesn't exist, this is the default handling. We *always* have the record's old chart ID & game ID anyway. -->
        {% else %}
          <td><a href="/game/{{ record.game_id }}" target="_blank">{{ record.game_name }}</a></td>
          <td>Unknown Group</td>
          <td style="color: red;"><b>Deleted chart</b>
          <br><small>Chart ID {{ record.level_id }}</small></td>
          <td>{{ format_submission(record) }}
          {% if record.comment %}
            <img src="/images/comment.png" width="16" height="16" alt="Comment" title="{{ record.comment }}" />
          {% endif %}</td>

        {% endif %}
        <td>
          {% if record.record_note %}
            {{ prettify(record.record_note) }}
          {% endif %}
          {% if record.record_note_date %}
            <br />
            <br />
            <strong>
              This record note was last updated
              <br>by {{ link_to_user(record.record_note_mod) }}
              <br>on {{ format_datetime(record.record_note_date) }}.
            </strong>
          {% endif %}
          <br />
          <br />
          <div class="spoiler">
            <input type="button" onclick="showSpoiler(this);" value="Edit record note" />
            <div class="inner" style="display:none;">
              <form action="/record-moderation-notes/{{ record.record_id }}" method="post">
                <br />
                <textarea name="record_note" rows="5" cols="50">{{ record.record_note }}</textarea><br />
                <input type="submit" value="Edit record note" />
              </form>
            </div>
          </div>
        </td>
        <td>
          {% if record.reporter %}
            Reported by <a href="/user/{{ record.rec_reporter }}" target="_blank">{{ record.reporter }}</a>
          {% else %}
            This record was not reported.
          {% endif %}
          <br><small>
          {% if record.investigation_task.user is defined %}
            Investigated by {{ link_to_user(record.investigation_task.user) }}
          {% else %}
            This record was not investigated.
          {% endif %}</small>
        </td>
        <td>{{ record.report_reason }}</td>
        <td>{{ record.delete_date }}<br><small>by <a href="/user/{{ record.deleter_id }}" target="_blank">{{ record.deleter }}</a></small></td>

        <!-- Moderation actions zone -->
        <td>
          {% if record.chart.level_name %}
            <!-- Reinstate deleted record -->
            <form action="/record-moderation-actions" method="post" style="padding-top: 5px; padding-bottom: 5px;">
              <input type="hidden" name="actions[{{ record.record_id }}]" value="re" />
              <input type="submit" value="Reinstate record" onclick="return confirm('Are you sure you want to reinstate this record?')" />
            </form>
            <hr>
          {% endif %}
            <!-- Move deleted record -->
            <form action="/deleted-record-chart-transfers" method="post" style="padding-top: 5px;">
              <input type="hidden" name="record_id" value="{{ record.record_id }}" />
              <label for="new_chart_id">Move to chart ID:</label>
              <input type="text" name="new_chart_id" id="new_chart_id" size="7"/><br>
              <input type="submit" value="Move record" style="margin-top: 5px;"/>
            </form>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
<script type="text/javascript">
function showSpoiler(obj) {
  var inner = obj.parentNode.getElementsByTagName("div")[0];
  if (inner.style.display == "none") {
    inner.style.display = "";
  } else {
    inner.style.display = "none";
  }
}
</script>
