<div class="layout--content-primary layout--content-primary-readable">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    {{ t('viewrecords_select_title') }}
  </div>

  <h1>{{ t('viewrecords_select_header', {'user': user.username}) }}</h1>

  <form class='labelled-form' action="/records" method="get">
    <input type="hidden" name="user_id" value="{{ user.user_id }}" />
    <input type="hidden" name="reload" value="yes" />

    <div class='labelled-form-label'>
        <label>{{ t('viewrecords_choose_games') }}</label>
    </div>
    <div class='labelled-form-value'>
      <select multiple size="14" name="games[]" id="games">
        {% for game in games %}
          <option style="font-weight: bold;" value="{{ game.game_id }}">
            {{ game.game_name }}
          </option>
        {% endfor %}
      </select>
    </div>

    <div class='labelled-form-label'>
      <label for="selectsort">{{ t('viewrecords_sort_by') }}</label>
    </div>
    <div class='labelled-form-value'>
      <select name="sort" id="selectsort">
        <option value="7">{{ t('general_chart') }}</option>
        <option value="1">{{ t('viewrecords_position_best') }}</option>
        <option value="2">{{ t('viewrecords_position_worst') }}</option>
        <option value="4">{{ t('viewrecords_csp_best') }}</option>
        <option value="3">{{ t('viewrecords_csp_worst') }}</option>
        <option value="9">{{ t('viewrecords_ucsp_best') }}</option>
        <option value="10">{{ t('viewrecords_ucsp_worst') }}</option>
        <option value="6">{{ t('viewrecords_date_newest') }}</option>
        <option value="5">{{ t('viewrecords_date_oldest') }}</option>
      </select>
    </div>

    <div class='labelled-form-label'>
      <label for="selectstatus">{{ t('general_select_record_status') }}</label>
    </div>
    <div class='labelled-form-value'>
      <select name="rec_status" id="selectstatus">
        <option value="">{{ t('viewrecords_records_all') }}</option>
        <option value="3">{{ t('viewrecords_records_approved') }}</option>
        <option value="4">{{ t('viewrecords_records_pending_approval') }}</option>
        <option value="0">{{ t('viewrecords_records_unproven') }}</option>
        <option value="1">{{ t('viewrecords_records_pending_investigation') }}</option>
        <option value="2">{{ t('viewrecords_records_under_investigation') }}</option>
      </select>
    </div>

    <div class='labelled-form-label'>
      <label for="chartstatus">{{ t('general_select_chart_type') }}</label>
    </div>
    <div class='labelled-form-value'>
      <select name="chartstatus" id="chartstatus">
        <option value="all">{{ t('viewrecords_records_all') }}</option>
        <option value="all_ranked">All ranked submissions</option>
        <option value="standard">{{ t('chart_ranked_upper') }}</option>
        <option value="arcade">{{ t('chart_arcade_upper') }}</option>
        <option value="speedrun">{{ t('chart_speedrun_upper') }}</option>
        <option value="solution">{{ t('chart_solution_upper') }}</option>
        <option value="challenge">{{ t('chart_challenge_upper') }}</option>
        <option value="unranked">{{ t('chart_unranked_upper') }}</option>
        <option value="incremental">{{ t('chart_incremental_upper') }}</option>
        <option value="collectible">{{ t('chart_collectible_upper') }}</option>
      </select>
    </div>

    <div class='labelled-form-label'>
      <label for="proof_type">{{ t('viewrecords_proof_type') }}</label>
    </div>
    <div class='labelled-form-value'>
      <select name="proof_type" id="proof_type">
        <option value="all">{{ t('viewrecords_records_all') }}</option>
        <option value="pictures">{{ t('viewrecords_picture_type') }}</option>
        <option value="videos">{{ t('viewrecords_video_livestream_type') }}</option>
      </select>
    </div>

    <div class='labelled-form-label'>
      <label for="PlatsOnly">{{ t('viewrecords_platinums_only') }}</label>
    </div>
    <div class='labelled-form-value'>
      <label class="slider_switch"><input type="checkbox" name="platinums" id="PlatsOnly" value="yes" /><span class="slider round"></span></label>
    </div>

    <div class='labelled-form-label'>
      <label>{{ t('viewrecords_filter_records') }}</label>
    </div>
    <div class='labelled-form-value'>
      <select name="filter_field">
        <option value="csp">{{ t('general_csp') }}</option>
        <option value="ucsp">{{ t('general_ucsp') }}</option>
        <option value="chart_pos" selected="selected">{{ t('general_position') }}</option>
        <option value="chart_subs">{{ t('general_players') }}</option>
      </select>
      <select name="filter_comp">
        <option value="b">&gt;</option>
        <option value="be">&ge;</option>
        <option value="e" selected="selected">=</option>
        <option value="we">&le;</option>
        <option value="w">&lt;</option>
      </select>
      <input type="text" name="filter_value" size="4" />
    </div>
    <div class='labelled-form-separator'>
      <input type="submit" value="Choose game(s)" />
    </div>
  </form>
</div>
