<div class="layout--content-primary">
  <h1>{{ link_to_game(record.game) }} &rarr; {{ link_to_game_group(record.chart) }} &rarr; {{ link_to_chart(record) }} by {{ link_to_user(record.user) }}</h1>

  <table class="charts-show-scoreboard">
    <tr class="{{ classnames({
      'proven': g.rec_status == 3,
      'unproven': g.rec_status != 3,
      'is-me': current_user and g.user_id == current_user.user_id,
      'is-friend': g.user_id in user_friends,
      'not-friend': current_user and g.user_id != current_user.user_id and g.user_id not in user_friends,
      'top10': g.chart_pos <= 10,
      'has-award': g.award != null,
      }) }} chart-{{ rank }} medal-{{ g.award.value ?? 'none' }}" id="record_{{ g.record_id }}">
      <td class="award">
        {{ award_image_tag(g.award) }}
      </td>
      <td class="pos">
        {{ g.chart_pos }}
      </td>

      <td class="name">
        {{ user_avatar_image_tag(g, {'class': 'user-avatar'}) }}
        {{ chart_icon_image_tag(g) }}
        <div class="user-identification">
          <a href="/scoreboards/medal?country={{ g.country_id }}" class="country-flag">
            {{ country_flag_image_tag(g) }}
          </a>
          {{ g.user_display|raw }}
          {% if awards.cxp %}
            <b>[{{ t('general_level') }} {{ g.base_level }}]</b>
          {% endif %}
          {{ user_star_image_tags(g) }}
        </div>
        <div class="details">
          <small>
            {{ format_date(g.last_update) }}
            &ndash;
            {% if g.entity_names|length %}
              {{ t('chart_using_entity_platform', {'entity': g.entity_names|join(', '), 'platform': g.platform_name}) }}
            {% else %}
              {{ t('chart_using_platform', {'platform': g.platform_name}) }}
            {% endif %}
            {% if g.game_patch != '' %}
              {{ t('chart_playing_on') }} {{ g.game_patch }}
            {% endif %}
          </small>
        </div>
      </td>

      <td class="data">
        {% if g.comment != '' %}
          <small class="charts-show-comment-text"><b style="padding-right: 2px;">"</b>{{ prettify(g.comment) }}<b style="padding-left: 2px;">"</b></small>
          <img
            onclick="toggleComment(this)"
            data-row="record_{{ g.record_id }}"
            src="/images/comment.png"
            alt="{{ g.comment }}"
            title="{{ g.comment }}"
          />
        {% endif %}

        {{ g.linked_proof_display|raw }}
        {{ g.rec_status_display|raw }}

        {% if g.ugh.submission1 is not same as NULL %}
          <a href="/record/{{ g.record_id }}" style='font-weight: bold; {% if g.submission is same as NULL %} font-style: italic;{% endif %}'>
            <span class="bigger" {% if g.submission is same as NULL %}title="{{ g.submission2 }} / {{ chart_info.conversion_factor }} = {{ g.submission2 / chart_info.conversion_factor }}"{% endif %}>
              {{ chart_info.score_prefix }}{{ g.ugh.formatted_submission1 }}{{ chart_info.score_suffix }}
            </span>
          </a>

          {% if g.chart_pos != 1 %}
            <br />
            <small>({{ g.ugh.distance1 }})</small>
          {% endif %}
        {% endif %}
      </td>

      {% if chart_info.chart_type2 != 0 %}
        <td class="data2">
          {% if g.ugh.submission2 is not same as NULL %}
            <a href="/record/{{ g.record_id }}" style='font-weight: bold; {% if g.submission2 is same as NULL %} font-style: italic;{% endif %}'>
              <span class="bigger" {% if g.submission2 is same as NULL %}title="{{ g.submission }} * {{ chart_info.conversion_factor }} = {{ g.submission * chart_info.conversion_factor }}"{% endif %}>
                {{ chart_info.score_prefix2 }}{{ g.ugh.formatted_submission2 }}{{ chart_info.score_suffix2 }}
              </span>
            </a>

            {% if g.chart_pos != 1 %}
              <br />
              <small>({{ g.ugh.distance2 }})</small>
            {% endif %}
          {% endif %}
        </td>
      {% endif %}

      <td class="extras">
        {% for extra in g.extras %}
          {% if extra.image %}
            <small><img src="/images/{{ extra.image }}.gif"/></small>
          {% else %}
            <small>{{ extra.name }}: {{ extra.value }}</small><br />
          {% endif %}
        {% endfor %}
      </td>

      <td class="points">
        {% if awards.csp %}
          <div class="points--csp-csr">
            <span title="{{ g.ucsp|round(2) }} UCSP">{{ g.csp|round(2) }} {{ t('general_csp') }} [<b>{{ g.csr }} {{ t('general_csr') }}</b>]</span>
          </div>
        {% endif %}

        {% if awards.arcade_points %}
          <div class="points--arcade">
            {{ g.arcade_points|number_format(0) }} {{ t('general_ap_acronym') }}
          </div>
        {% endif %}

        {% if awards.brain_power %}
          <div class="points--solution">
            {{ t('general_brain_power') }}:
            {{ g.brain_power|number_format(0) }}
          </div>
        {% endif %}

        {% if awards.style_points %}
          <div class="points--userchallenge">
            {{ g.style_points|number_format(1) }}
            {% if g.style_points == 1 %}{{ t('general_challenge_points_singular') }}{% else %}{{ t('general_challenge_points_plural') }}{% endif %}
          </div>
        {% endif %}

        {% if awards.cyberstars %}
          <div class="points--collectible">
            {% if g.proof_type == 'v' or g.proof_type == 's' or g.proof_type == 'r' %}
            {{ (g.cyberstars + 2)|number_format(0)}}
            {% elseif g.rec_status == 3 or g.rec_status == 4 %}
            {{ (g.cyberstars + 1)|number_format(0)}}
            {% else %}
            {{ g.cyberstars|number_format(0)}}
            {% endif %}
            {{ t('general_cyberstars') }}
            [
            <img src="{{ skin_image_url('Dropdown_icons/icon_cyberstar.png') }}" width="12" height="12" alt="{{ t('general_cyberstars') }}" title="{{ t('general_cyberstars') }}"/>
            {{ g.cyberstars|number_format(0) }}
            {% if g.rec_status == 3 or g.rec_status == 4 %}
              <img src="{{ skin_image_url('scoreboards/proof.png') }}" height="12" width="12" alt="{{ t('viewrecords_records_approved') }}" title="{{ t('viewrecords_records_approved') }}">
              {{ 1}}
            {% endif %}
            {% if g.proof_type == 'v' or g.proof_type == 's' or g.proof_type == 'r' %}
              <img src="{{ skin_image_url('scoreboards/vproof.png') }}" height="12" width="12" alt="{{ t('scoreboards_total_subs_video_approved') }}" title="{{ t('scoreboards_total_subs_video_approved') }}">
              {{ 1}}
            {% endif %}
            ]
          </div>
        {% endif %}

        {% if awards.speedrun_points %}
          <div class="points--speedrun">
            {{ g.medal_points|number_format(0) }}
            {{ t('general_speedrun_points') }}
          </div>
        {% endif %}

        {% if awards.cxp %}
          <div class="points--incremental">
            {{ g.cxp|number_format(1) }} {{ t('general_cxp') }} [<b>{{ g.vs_cxp|number_format(0) }} {{ t('general_vxp') }}</b>]
          </div>
        {% endif %}
      </td>

      {% if current_user.show_entity_icons != "no" %}
        {% for entity in g.entities %}
          <td class="entity">
            {% if entity.image_path %}
              <img src="{{ entity.image_path }}" alt="{{ entity.name }}" title="{{ entity.name }}" />
            {% endif %}
          </td>
        {% endfor %}
      {% endif %}
    </tr>
  </table>

  <!-- Proof displaying -->
  {% if proof %}
    <p><strong>{{ t('record_proof_msg') }}</strong></p>

    {% if proof.type == 'picture' %}
      <a href="/proofs/{{ record.record_id }}" target="_blank"><img src="/proofs/{{ record.record_id }}" style="max-width: 90%; max-height: 600px; margin: 0px auto; display: block;" /></a>
    {% else %}
      <a href="/proofs/{{ record.record_id }}" target="_blank">{{ proof.url }}</a>
    {% endif %}
  {% endif %}

  <div id="historyfull">
    <h3>{{ t('record_history') }}</h3>
    <p>{{ t('record_history_disclaimer') }}</p>
    <table width="570" class="zebra">
      <tr>
        <td width="160"><strong>{{ t('record_history_type') }}</strong></td>
        <td width="180"><strong>{{ t('record_history_date') }}</strong></td>
        {% if chart_info.name_sec %}
          <td width="65"><strong>{{ chart_info.name_pri }}</strong></td>
          <td width="65"><strong>{{ chart_info.name_sec }}</strong></td>
        {% else %}
          <td width="130"><strong>{{ t('general_submission') }}</strong></td>
        {% endif %}
        <td width="100"><strong>{{ t('general_position') }}</strong></td>
      </tr>
      <tr class="altrow">
        <td><strong>{{ t('record_history_current_sub') }}</strong></td>
        <td><strong>-----</strong></td>
        <td>
          <strong>{{ format_submission_part(record, 'primary') }}</strong>
          {% if record.comment %}
            <img src="/images/comment.png" width="16" height="16" alt="Comment" title="{{ record.comment }}" />
          {% endif %}
        </td>
        {% if chart_info.chart_type2 %}
          <td>
            <strong>{{ format_submission_part(record, 'secondary') }}</strong>
          </td>
        {% endif %}
        <td><strong>{{ record.chart_pos }}</strong></td>
        {% if has_access('UserMod') %}
          <td width="15"></td>
        {% endif %}
      </tr>

      {% for history_entry in record_history %}
        <tr>
          <td>
            {{ history_entry.update_type_label }}
            {% if history_entry.update_type == 'a' and history_entry.proofmod_username %}
              <br />
              <small>({{ history_entry.proofmod_username }})</small>
            {% endif %}
          </td>
          <td>
            {% if has_access('UserMod') and (history_entry.update_type == 'u' or history_entry.update_type == 'e' or history_entry.update_type == 'f') %}
              <form action="/record-moderation-actions" method="post">
                <input type="hidden" name="actions[{{ record.record_id }}]" value="ov" />
                <input type="hidden" name="history_ids[{{ record.record_id }}]" value="{{ history_entry.history_id }}" />
                {{ format_datetime(history_entry.update_date) }}
                <input type="image" src="/images/Reply_new.png" height="14" title="Revert record" />
              </form>
            {% else %}
              {{ format_datetime(history_entry.update_date) }}
            {% endif %}
          </td>
          <td>
            {{ format_submission_part(history_entry, 'primary') }}
            {% if history_entry.comment %}
              <img src="/images/comment.png" width="16" height="16" alt="Comment" title="{{ history_entry.comment }}" />
            {% endif %}
          </td>
          {% if chart_info.chart_type2 %}
            <td>
              {{ format_submission_part(history_entry, 'secondary') }}
            </td>
          {% endif %}
          <td>{{ history_entry.chart_pos }}</td>

          {% if has_access('UserMod') %}
            <td>
              <form action="/record-history-entries/{{ history_entry.history_id }}/delete" method="post">
                <input type="image" src="/images/delete.png" title="Delete Entry" />
              </form>
            </td>
          {% endif %}
        </tr>
      {% endfor %}
    </table>
  </div>
</div>

<div class="layout--sidebar-primary">
  {% if has_access('UserMod') %}
    <div class="sidebar-section">
      <div id="submitrecord">
        <h3 class='sidebar-title'>Moderator actions</h3>

        <div class='sidebar-section-body'>
          <form action="/record-moderation-actions" method="post">
            <strong>Record Actions: </strong><br />
            <input type='hidden' name='chart_id' value='{{ record.level_id }}' />
            <select name="actions[{{ record.record_id }}]">
              <option value="null">Do nothing yet</option>
              {% if record.rec_status != 2 and record.rec_status != 6 %}
                <optgroup label="Investigate">
                  <option value="ip">Require image proof</option>
                  <option value="iv">Require video proof</option>
              </optgroup>
              {% endif %}
              <optgroup label="Approve">
                <option value="ap">Approve (image proof)</option>
                <option value="av">Approve (video proof)</option>
                <option value="as">Approve (livestream)</option>
                <option value="ar">Approve (replay)</option>
              </optgroup>
              <optgroup label="Other">
                <option value="or">Reset record status</option>
                <option value="od">Delete</option>
                <option value="ot">Terminate</option>
              </optgroup>
            </select>
            <input type="submit" name="submit" value="Go" />
          </form>

          <strong>Move record:</strong>
          <form action="/record-chart-transfers" method="post">
            <input type="hidden" name="record_id" value="{{ record.record_id }}" />
            <label for="new_chart_id">Chart ID:</label>
            <input type="text" name="new_chart_id" id="new_chart_id" /><br />
            <input type="submit" value="Move record" />
          </form>
        </div>
      </div>
    </div>

    <div class='sidebar-section'>
      <div class='sidebar-title'>Edit record</div>
      <div class='sidebar-section-body' id="submitrecord">
        <form action="/records/{{ record.record_id }}" method="post" class="labelled-form">
            <div class="labelled-form-label">
              <label for="input1">{{ chart_info.name_pri }}:</label>
            </div>
            <div class="labelled-form-value">
              {{ chart_submit_submission_tags(chart_info, true, inputs[0], ranks) }}
            </div>

          {% if chart_info.chart_type2 %}
              <div class="labelled-form-label">
                <label for="input5">{{ chart_info.name_sec }}:</label>
              </div>
              <div class="labelled-form-value">
                {{ chart_submit_submission_tags(chart_info, false, inputs[1], ranks) }}
              </div>
          {% endif %}

            {% if chart_info.name1 %}
              <label for="extra1">{{ chart_info.name1 }}:</label>
              <input type="text" name="extra1" id="extra1" value="{{ record.extra1 }}" size="15" />
              <br />
              {% if chart_info.name2 %}
                <label for="extra2">{{ chart_info.name2 }}:</label>
                <input type="text" name="extra2" id="extra2" value="{{ record.extra2 }}" size="15" />
                <br />
                {% if chart_info.name3 %}
                  <label for="extra3">{{ chart_info.name3 }}:</label>
                  <input type="text" name="extra3" id="extra3" value="{{ record.extra3 }}" size="15" />
                  <br />
                {% endif %}
              {% endif %}
            {% endif %}

              <div class='labelled-form-label'>
                <label for="platform_id">Platform:</label>
              </div>
              <div class='labelled-form-value'>
                <select name="platform_id" id="platform_id">
                  <option value="0"></option>
                  {% for platform in platforms %}
                    <option {% if platform.platform_id == record.platform_id %}selected{% endif %} value="{{ platform.platform_id }}">
                      {{ platform.platform_name }}
                    </option>
                  {% endfor %}
                </select>
              </div>

            {% if patches %}
                <div class='labelled-form-label'>
                  <label for="game_patch">{{ t('general_game_patch') }}{{ t('general_colon') }}</label>
                </div>
                <div class='labelled-form-value'>
                  <select name="game_patch" id="game_patch">
                    <option value=""></option>
                    {% for patch in patches %}
                      <option {% if patch == record.game_patch %}selected{% endif %} value="{{ patch }}">
                        {{ patch }}
                     </option>
                    {% endfor %}
                  </select>
                </div>
            {% endif %}

            {% for i in range(1, chart_info.max_entities) %}
                <div class='labelled-form-label'>
                  <label for="entity_id">Entity: </label>
                </div>
                <div class='labelled-form-value'>
                  <select name="entity_id{{ i }}" id="entity_id{{ i }}">
                    <option value="0"></option>
                    {% for entity in entities[i] %}
                      <option {% if entity.game_entity_id == record['entity_id' ~ i] %}selected{% endif %} value="{{ entity.game_entity_id }}">
                        {{ entity.entity_name }}
                      </option>
                    {% endfor %}
                  </select>
                </div>
            {% endfor %}

              <div class='labelled-form-label'>
                <label for="comment">Comment:</label>
              </div>
              <div class='labelled-form-value'>
                <input type="text" name="comment" id="comment" value="{{ record.comment }}" /><br />
              </div>
              <div class='labelled-form-label'>
                <label for="linked_proof">Linked proof:</label>
              </div>
              <div class='labelled-form-value'>
                <input type="text" name="linked_proof" id="linked_proof" value="{{ record.linked_proof }}" /><br />
              </div>

              <div class='labelled-form-label'>
                <input type="submit" value="Edit record" />
              </div>
          </div>
        </form>
      </div>

    {% if has_access('ProofMod') %}
      <div class="sidebar-section">
        <div class='sidebar-title'>Moderator note</div>
        <div class='sidebar-section-body'>
          {% if record.record_note %}
            <strong>Record note:</strong>
            <br />
            <i>{{ prettify(record.record_note) }}</i>

            {% if record.record_note_date %}
              <br /><br />
              <strong>
                This record note was last updated
                by {{ record.record_note_mod.username }}
                on {{ format_datetime(record.record_note_date) }}.
              </strong>
              {% if record.last_update > record.record_note_date %}
                <strong> IMPORTANT: This user has updated their record after this note was made.</strong>
              {% endif %}
            {% endif %}
            <br /><br />
          {% endif %}

          <div>
            <form action="/record-moderation-notes/{{ record.record_id }}" method="post">
              <textarea name="record_note" rows="5" style='width: 100%; box-sizing: border-box'>{{ record.record_note }}</textarea>
              <br />
              <input type="submit" value="Edit record note" />
            </form>
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}
</div>

<div class="layout--sidebar-secondary">
  {% if current_user %}
    <div class='sidebar-section'>
      <h3 class='sidebar-title'>{{ t('record_report') }}</h3>
      {% if current_user.recreport < 0 %}
        <p>{{ t('record_report_error_allowance') }}</p>
      {% else %}
        <form action="/reported-records" method="post">
          <input type="hidden" name="record_id" value="{{ record.record_id }}" />
          <p>
            {% if current_user.recreport == 1 %}
              {{ t('record_report_counter_singular') }}
            {% else %}
              {{ t('record_report_counter_plural', {'number': current_user.recreport}) }}
            {% endif %}
          </p>
          <p>{{ t('record_report_info') }}</p>
          <textarea name="reason" rows="6" required style="width: 100%; box-sizing: border-box;"></textarea><br />
          <input type="submit" value="{{ t('record_report_record') }}" />
        </form>
      {% endif %}
    </div>
  {% endif %}

</div>
<script type="text/javascript">
  $(document).ready(function() {
    // Disable scroll functionality when focused on a number input so the user doesn't change their input accidentally
    $('form').on('focus', 'input[type=number]', function(e) {
      $(this).on('wheel', function(e) {
        e.preventDefault();
      });
    });

    // Restore scroll on hovering over number inputs for normal behavior
    $('form').on('blur', 'input[type=number]', function(e) {
      $(this).off('wheel');
    });

    // Disable up and down keys so the user doesn't increment/decrement their inputs accidentally
    $('form').on('keydown', 'input[type=number]', function(e) {
      if (e.which == 38 || e.which == 40) {
        e.preventDefault();
      }
    });
  });
</script>
