<div class="layout--content-primary layout--content-primary-readable">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    <a href="/games.php">{{ t('general_games') }}</a> &rarr;
    {{ link_to_game(game) }} &rarr;
    {{ t('gameboard_discussion_board') }}
  </div>

  <h2>{{ t('gameboard_discussion_board_game', {'game': link_to_game(game)})|raw }}</h2>

  {% if game_topics|length > 0 %}
    <table id="game_board_topics" class="zebra">
      <tr>
        <th>{{ t('general_topic') }}</th>
        <th>{{ t('gameboard_messages') }}</th>
        <th>{{ t('general_date') }}</th>
      </tr>
      {% for topic in game_topics %}
        <tr>
          <td class="topic_title"><a href="/game-board-topics/{{ topic.topic_id }}">{{ topic.topic_title }}</a></td>
          <td class="num_messages">{{ topic.num_messages }}</td>
          <td class="last_message_date">{% if topic.last_message_date %}{{ format_datetime(topic.last_message_date) }}{% endif %}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    {{ t('gameboard_notice_notopics') }}
  {% endif %}
  <br />
  <br />

  {% if current_user %}
    <a href="/game-board-topics/new?game_id={{ game.game_id }}">{{ t('gameboard_create_topic') }}</a>
  {% endif %}
  <br />
  <br />
  <br />
  <hr />

  <h2>{{ t('gameboard_board_overview') }}</h2>

  <table id="game_board_topics" class="zebra">
    <tr>
      <th>{{ t('games_game_name') }}</th>
      <th>{{ t('general_topic') }}</th>
      <th>{{ t('gameboard_messages') }}</th>
      <th>{{ t('general_date') }}</th>
    </tr>
    {% for topic in topics %}
      <tr>
        <td class="gamename"><a href="/game-boards/{{ topic.game_id }}">{{ topic.game_name }}</a></td>
        <td class="topic_title"><a href="/game-board-topics/{{ topic.topic_id }}">{{ topic.topic_title }}</a></td>
        <td class="num_messages">{{ topic.num_messages }}</td>
        <td class="last_message_date">
          {% if topic.last_message_date %}
            {{ format_datetime(topic.last_message_date) }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </table>
  <br />
</div>
