#proof-form-files { display: none; }
#proof-form.uploaded { display: none; }

.proof-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
  margin: 0px auto;
  margin-bottom: 20px;
}

.proof-form-drag-area {
  position: relative;
  border: 2px dashed var(--color-standard);
  display: inline-block;
  cursor: pointer;
}

.proof-form-drag-area p {
  padding: 10px;
  padding-bottom: 6px;
  text-align: center;
  margin: 0px;
}

#proof-form-field {
  outline: none;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.proof-form-progress {
  height: 4px;
  background-color: black;
  transition: width 1s;
}
.proof-form-progress--hidden {
  opacity: 0;
}

.proof-form-submit {
}

.proof-files {
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto 1fr auto auto auto auto;
  gap: 10px;
}

.proof-file {
  display: grid;
  grid-template-areas: "header header header header header header" "preview records records records records actions";
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
  align-items: start;
}

.scoreboard-widget-header { grid-area: header; }
.proof-file-preview { grid-area: preview; }
.proof-file-actions {
  grid-area: actions;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.proof-file-records {
  grid-area: records;
  display: grid;
  grid-template-columns: subgrid;
  padding-top: 5px;
  padding-bottom: 5px;
}

.proof-file-record + .proof-file-record { border-top: 1px dashed var(--color-standard); }
.proof-file-record {
  display: grid;
  grid-template-columns: subgrid;
  grid-template-areas: "chart old new new";
  grid-column: 1 / -1;
  padding: 5px;
}

.proof-file-record .proof-file-record-new-symbol { grid-area: symbol; }
.proof-file-record.better .proof-file-record-new-symbol::before { content: "▲"; margin-left: 5px; padding: 4px; color: white; background-color: green; }
.proof-file-record.worse .proof-file-record-new-symbol::before { content: "▼"; margin-left: 5px; padding: 4px; color: white; background-color: red; }

.proof-file-record.will-submit { background-color: var(--color-standard-megalight); }

.proof-file-record-charts { grid-area: chart; }
.proof-file-record-old { grid-area: old; }
.proof-file-record-new { grid-area: new; display: grid; grid-template-columns: subgrid; grid-template-areas: "inputs symbol"; }
.proof-file-record-new-inputs { grid-area: inputs; }
.proof-file-record-new input { width: 8em; }


.proof-file-preview img {
  max-height: 400px;
  max-width: 400px;
}
