<style>
.suggestion {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-areas: "title title" "votes votes" "actions body";
  gap: 10px;
}

.suggestion-title { grid-area: title; }
.suggestion-votes { grid-area: votes; }
.suggestion-actions { grid-area: actions; }
.suggestion-body { grid-area: body; }

.suggestion-actions form + form { margin-top: 10px; }

.suggestion-footer {
  margin-top: 10px;
  display: grid;
  grid-template-columns: auto minmax(0, 1fr) auto;
  grid-template-areas: "label comment submit";
  gap: 10px;
}

.suggestion-comment { grid-area: comment; }
.suggestion-label { grid-area: label; }
.suggestion-submit { grid-area: submit; }

</style>
<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    <a href="/translations">Translation Home</a> &rarr;
    <a href="/translations/page-strings?group={{ group }}">{{ group }} page strings</a> &rarr;
    {{ key }}
  </div>

  <h2>{{ key }}</h2>

  <table>
    <tr>
      <td><h3>Original</h3></td>
      <td><h3>{{ language_name }}</h3></td>
    </tr>

    <tr>
      <td><textarea readonly="true" style="width:80%; height:100px">{{ english['translation'] }}</textarea></td>
      <td><textarea readonly="true" style="width:80%; height:100px">{{ translation }}</textarea></td>
    </tr>
  </table>
  <br /><br />

  {% for i, suggestion in existing_suggestions %}
    <div class="suggestion">
      <div class='suggestion-title'>
        <h3>
          Suggestion {{ i }}
          suggested by {{ suggestion['username'] }}
          on {{ format_datetime(suggestion['suggestion_date']) }}:
        </h3>
      </div>
      <div class='suggestion-actions'>
        {% if suggestion['current_user_vote'] != 'up' %}
          <form action="/translations/page-strings/votes" method="post">
            <input type="hidden" name="suggestion_id" value="{{ suggestion['id'] }}" />
            <input type="hidden" name="vote" value="1" />
            <input type="submit" value="Upvote" />
          </form>
        {% endif %}

        {% if suggestion['current_user_vote'] != 'down' %}
          <form action="/translations/page-strings/votes" method="post">
            <input type="hidden" name="suggestion_id" value="{{ suggestion['id'] }}" />
            <input type="hidden" name="vote" value="-1" />
            <input type="submit" value="Downvote" />
          </form>
        {% endif %}

        {% if suggestion['current_user_vote'] != NULL %}
          <form action="/translations/page-strings/votes/{{ suggestion['id'] }}/delete" method="post">
            <input type="submit" value="Remove vote" />
          </form>
        {% endif %}

        <!-- TODO: maybe missing authorization -->
        <form action="/translations/page-strings/active-suggestions" method="post">
          <input type="hidden" name="suggestion_id" value="{{ suggestion['id'] }}" />
          <input type="submit" value="Activate" />
        </form>

        <form action="/translations/page-strings/suggestions/{{ suggestion['id'] }}/delete" method="post">
          <input type="submit" value="Delete" />
        </form>
      </div>

      {% if suggestion['upvoters']|length or suggestion['downvoters']|length %}
        <div class='suggestion-votes'>
          {% if suggestion['upvoters']|length > 0 %}
            <strong style="color:#4AA02C">Upvote: {{ suggestion['upvoters']|join(', ') }}</strong><br />
          {% endif %}

          {% if suggestion['downvoters']|length > 0 %}
            <strong style="color:#C11B17">Downvote: {{ suggestion['downvoters']|join(', ') }}</strong><br />
          {% endif %}
        </div>
      {% endif %}

      <div class='suggestion-body'>
        {% if suggestion['current_user_can_edit'] %}
          <form action="/translations/page-strings/suggestions/{{ suggestion['id'] }}" method="post">
            <textarea name="text" style="width:99%; height:80px">{{ suggestion['translation'] }}</textarea>
            <br />
            <div class='suggestion-footer'>
              <span class='label'>Comment:</span>
              <input class='comment' type="text" name="comment" value="{{ suggestion['comment'] }}" />
              <input class='submit' type="submit" value="Edit suggestion" />
            </div>
          </form>
        {% else %}
          <textarea disabled name="text" style="width:99%; height:80px">{{ suggestion['translation'] }}</textarea>
          <br />
          <div class='suggestion-footer'>
            <span class='label'>Comment:</span>
            <input disabled class='comment' type="text" name="comment" value="{{ suggestion['comment'] }}" />
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}

  <h3>Add a new suggestion:</h3>
  <form action="/translations/page-strings/suggestions" method="post">
    <input type="hidden" name="language_id" value="{{ translate_lang_id }}" />
    <input type="hidden" name="group" value="{{ group }}" />
    <input type="hidden" name="key" value="{{ key }}" />

    <textarea required name="text" style="width:95%;"></textarea>
    <p>Comment: <input type="text" name="comment" /></p>
    <select name="is_active">
      <option value="n">Unactivated</option>
      <option value="y">Activated</option>
    </select>
    <input type="submit" value="Add suggestion" />
  </form>
  <br/><br />

  <h2>All languages:</h2>

  <table border="1">
    <tr>
      <td><b>Language</b></td>
      <td><b>Translation</b></td>
      <td><b>Suggestion(s)</b></td>
    </tr>
    {% for language in languages %}
      <tr>
        <td>{{ language['name'] }}</td>
        <td>{{ language['page_translation'] }}</td>
        <td>
          <ul>
            {% for suggestion in language['existing_suggestions'] %}
              <li>{{ suggestion['translation'] }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
    {% endfor %}
  </table>
  <br /><br />

  {% if has_access('GlobalMod') %}
    <h2>Mod tools:</h2>

    <form action="/translations/page-strings/{{ english['key'] }}" method="post">
      <table>
        <tr>
          <td>Group:</td>
          <td><input type="text" name="group" value="{{ group }}" size="25" /></td>
        </tr>
        <tr>
          <td>Key:</td>
          <td><input type="text" name="key" value="{{ key }}" size="50" /></td>
        </tr>
        <tr>
          <td>Text:</td>
          <td><textarea name="text" style="height: 200px; width: 98%;">{{ english['translation'] }}</textarea></td>
        </tr>
        <tr>
          <td>Deactivate existing translations:</td>
          <td><input type="checkbox" name="deactivate" value="1" /></td>
        </tr>
      </table>
      <input type="submit" value="Edit original" />
    </form>

    <br/>
    <br/>

    <form action="/translations/page-strings/{{ english['key'] }}/delete" method="post">
      <input type="hidden" name="key" value="{{ english['key'] }}">
      <input type="submit" value="Delete string" />
    </form>
  {% endif %}
</div>

<div class="layout--sidebar-primary">
  {{ render_component_with("translations/menu", []) }}
</div>
