{{ render_component_with('bbcode_popup', []) }}

<div class="layout--content-primary layout--content-primary-readable">
  <div id="breadcrumb">
    <a href="/">Home</a> &rarr; <a href="/articles/new">Add new article</a>
  </div>

  <h1>Add New Article</h1>
  <form action="/articles" method="post">
    <input type="hidden" name="action" value="add"/>
    <table class="formtable new-article-form">
      <tr>
        <td class="label"><label for="headline">Headline:&nbsp;&nbsp;&nbsp;</label></td>
        <td class="input"><input type="text" name="headline" id="headline" value="" size="50" maxlength="255" /></td>
      </tr>
      <tr>
        <td class="label">
          <label for="news_text">Message:&nbsp;&nbsp;&nbsp;</label>
          <p style="font-family: Ubuntu;text-shadow: 1px 1px 1px rgba(0,0,0,0.25);"><a href="javascript:popup('popUpBB');">BB-CODE OPTIONS</a></p>
        </td>
        <td class="input">
          <textarea name="news_text" id="news_text" rows="20"></textarea>
        </td>
      </tr>
      {% if has_access(['Newswriter', 'Dev']) %}
        <tr>
          <td class="label">
            <label for="article_type">Article type</label>
          </td>
          <td class="input">
            <select name="article_type" id="article_type" onchange="if (this.selectedIndex == 3 || this.selectedIndex == 4) document.getElementById('targetted').style.display = 'inline-block'; else document.getElementById('targetted').style.display = 'none';">
              {% if has_access('Newswriter') %}
                <option value="1">Global news article</option>
              {% endif %}
              <option value="2" selected="selected">User article</option>
              {% if has_access('GlobalMod') %}
                <option value="4">Targetted news article</option>
              {% endif %}
              {% if has_access('Dev') %}
                <option value="13">Changelog entry</option>
              {% endif %}
            </select>
            <br />

            <div id="targetted" style="display:none; align:left;">
              Send to
              <select name="usergroup" id="usergroup">
                <option value="1">Administrators</option>
                <option value="2">Global Moderators</option>
                <option value="3">Game Moderators</option>
                <option value="4">Proof Moderators</option>
                <option value="5">Proof &amp; Game Moderators</option>
                <option value="6">Developers</option>
                <option value="7">Designers</option>
                <option value="8">Translators</option>
                <option value="9">Newswriters</option>
              </select>
            </div>
            <br />
          </td>
        </tr>
        <tr>
          <td class="label">
            <label for="poster">
              If you are posting on behalf of somebody else,<br />
              please put their user_id in this field<br />
              (otherwise, leave it blank):
            </label>
          </td>
          <td class="input">
            <input type="text" name="poster" id="poster" value="" size="20" maxlength="64" />
          </td>
        </tr>
      {% else %}
        <input type="hidden" name="article_type" id="article_type" value="2">
      {% endif %}
      <tr>
        <td></td>
        <td>
          <input type="submit" value="Publish article" name="submit" />
          <button id="preview">Preview</button>
        </td>
      </tr>
    </table>
  </form>

  <div>
    <h2>Post preview:</h2>
    <div id="rendered-preview">
    </div>
  </div>
</div>
<script type="text/javascript">
document.getElementById("preview").addEventListener("click", (ev) => {
  ev.preventDefault();
  fetch("/article/preview", {
    method: 'POST',
    body: JSON.stringify({ text: document.getElementById("news_text").value }),
  }).then(response => response.json()).then(data => {
    document.getElementById("rendered-preview").innerHTML = data.html;
  });
});
</script>
