<script type="text/javascript">
function showSpoiler(obj) {
  var inner = obj.parentNode.getElementsByTagName("div")[0];
  if (inner.style.display == "none") {
    inner.style.display = "";
  } else {
    inner.style.display = "none";
  }
}
</script>
<style>
table, td, th {
  border: 2px solid #0077b2;
  padding: 5px;
  text-align: center;
}

</style>
<div class="layout--content-primary">
  <div id="breadcrumb">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    {{ t('gamerequests_complete_tool') }}
  </div>
  {% if has_access('GameMod') %}
    <h2>{{ t('gamerequests_complete_tool') }}</h2>
    <table>
      <tr>
        <th>Status</th>
        <th>Requested on</th>
        <th>{{ t('gamerequests_game_name') }}</th>
        <th>Approved game</th>
        <th></th>
      </tr>
      {% for request in requests %}
        <tr>
          <td>
            {% if request.handled == 1 %}
              Approved
            {% else %}
              Denied
            {% endif %}
          </td>
          <td>{{ request.date_requested }}</td>
          <td>
            <a href="/game_requests/{{ request.gamereq_id }}">{{ request.game_name }}</a>
          </td>
          <td>
            {% if request.game_id %}
              {{ link_to_game(request) }}
            {% endif %}
          </td>
          <td>
            <form action="/handled-game-requests/{{ request.gamereq_id }}" method="post" style="display: inline;">
              <input type="hidden" name="handled" value="0"/>
              <input type="submit" value="{{ t('gamerequests_return') }}"/>
            </form>

            <form action="/handled-game-requests/{{ request.gamereq_id }}/delete" method="post" style="display: inline;">
              <input type="submit" onclick="return confirm('Are you sure you want to delete this?')" value="{{ t('gamerequests_delete') }}"/>
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% endif %}
</div>
