<script type="text/javascript">
function change_all_boxes(form_boxes,new_value) {
  Array.from(document.querySelectorAll(".record-action")).forEach((e) => {
    e.value = new_value;
  });
}
</script>

<div class="layout--content-primary">
  <div id="breadcrumb">
    <a href="/">Home</a> &rarr;
    {{ link_to_user(user) }} &rarr;
    Edit user’s records
  </div>

  <h1>View records</h1>

  <h2>Current user: {{ user.username }}</h2>

  {% if records|length == 0 %}
    <p>There are currently no records which match your search. Good work!</p>
  {% else %}
    <p>Use the action dropdown on each record to specify what you wish to do - you can reset a record, put it under investigation, or pre-emptively approve it from this screen.</p>

    <p>Only once you have clicked "Save Changes" will the change be actioned.</p>

    <form action="/record-moderation-actions" method="post" name="recordform">
      <input type="submit" name="submit" value="Save Changes" />
      <p>
        <strong>Set all to:</strong>
        <select name="allaction" onchange="change_all_boxes('actions',this.value);">
          <option value="null">Do nothing yet</option>
          <optgroup label="Investigate">
            <option value="ip">Require picture proof</option>
            <option value="iv">Require video proof</option>
          </optgroup>
          <optgroup label="Approve">
            <option value="ap">Approve (picture proof)</option>
            <option value="av">Approve (video proof)</option>
            <option value="as">Approve (livestream)</option>
            <option value="ae">Approve (eyewitness)</option>
          </optgroup>
          <optgroup label="Other">
            <option value="or">Reset record status</option>
            <option value="od">Delete</option>
          </optgroup>
        </select>
      </p>

      <table class='zebra' style='margin: 1em 0;'>
        <tr>
          <th>Status</th>
          <th>Game</th>
          <th>Chart</th>
          <th>Submission</th>
          <th>Updated at</th>
          <th>Moderation</th>
          <th>Action</th>
        </tr>
        {% for record in records %}
          <tr>
            <td>
              {% if record.rec_status == 3 %}
                <strong>{{ record.status }}</strong>
              {% else %}
                {{ record.status }}
              {% endif %}
            </td>
            <td>{{ link_to_game(record) }}</td>
            <td>{{ record.group_name }} &rarr; {{ link_to_chart(record) }}</td>
            <td>
              {{ format_submission(record) }}
              (Position: {{ record.chart_pos }})
            </td>
            <td>{{ record.last_update }}</td>
            <td>
              {% if record.rec_status == 2 or record.rec_status == 6 %}
                <div>
                  <strong>Investigated by:</strong>
                  {{ record.moderator_username }}
                </div>

                <div>
                  <strong>Deadline:</strong>
                  <?php if (strtotime($record['proof_deadline']) < time()) { ?>
                    <span style="font-weight: bold; background: #cc0000; color: #ffffff;">
                      <?= h($deadline) ?>
                    </span>
                  <?php } else {?>
                    <?= h($deadline) ?>
                  <?php } ?>
                </div>
              {% endif %}

              {% if record.rec_status == 1 %}
                <div>
                  <strong>Note:</strong>
                  <input type="text" name="mail_note[{{ record.record_id }}]" size="60" />
                </div>
              {% endif %}
            </td>
            <td>
              <select class="record-action" name="actions[{{ record.record_id }}]">
                <option value="null">Do nothing yet</option>
                {% if record.rec_status != 2 %}
                  <optgroup label="Investigate">
                    <option value="ip">Require picture proof</option>
                    <option value="iv">Require video proof</option>
                  </optgroup>
                {% endif %}
                <optgroup label="Approve">
                  <option value="ap">Approve (picture proof)</option>
                  <option value="av">Approve (video proof)</option>
                  <option value="as">Approve (livestream)</option>
                  <option value="ae">Approve (eyewitness)</option>
                </optgroup>
                <optgroup label="Other">
                  {% if record.rec_status > 0 %}
                    <option value="or">Reset record status</option>
                  {% endif %}
                  <option value="od">Delete</option>
                </optgroup>
              </select>
            </td>
          </tr>
        {% endfor %}
      </table>
      <input type="submit" name="submit" value="Save Changes" />
    </form>
  {% endif %}
</div>
