<div class="layout--content-primary layout--content-primary-readable">
  <div id="breadcrumb">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    <a href="/games.php">{{ t('general_games') }}</a> &rarr;
    {{ link_to_game(game) }} &rarr;
    <a href="/game-boards/{{ game.game_id }}">{{ t('gameboard_discussion_board') }}</a> &rarr;
    <a href="/game-board-topics/{{ topic.topic_id }}">{{ topic.topic_title }}</a> &rarr;
    {{ t('gameboard_edit_message') }}
  </div>

  <h2>{{ t('gameboard_edit_message') }}</h2>

  <h3><a href="/game-board-topics/{{ topic.topic_id }}">Return to topic</a></h3>

  <form class='labelled-form' action="/game-board-messages/{{ message.message_id }}" method="post">
    <div class='labelled-form-label'>
      Message:
    </div>
    <div class='labelled-form-value'>
      <textarea name="message_text" rows="12" style="width: 100%; box-sizing: border-box;">{{ message.message_text }}</textarea>
    </div>
    <div class='labelled-form-separator'>
      <input type="submit" value="Edit message" />
    </div>
  </form>

  {{ t('general_bbcode_explanation')|raw }}
</div>
