<div class="layout--content-primary layout--content-primary-readable">
  <div id="breadcrumb">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    <a href="/games">{{ t('general_games') }}</a> &rarr;
    {{ link_to_game(game) }} &rarr;
    <a href="/game-boards/{{ game.game_id }}">{{ t('gameboard_discussion_board') }}</a> &rarr;
    {{ t('gameboard_create_topic') }}
  </div>

  <h2>{{ t('gameboard_create_topic_game', {'game': link_to_game(game) })|raw }}</h2>

  <form class='labelled-form' action="/game-board-topics" method="post">
    <input type="hidden" name="game_id" value="{{ game.game_id }}" />
    <div class='labelled-form-label'>
      {{ t('gameboard_topic_title') }}
    </div>
    <div class='labelled-form-value'>
      <input type="text" name="topic_title" size="60" required />
    </div>
    <div class='labelled-form-label'>
      Topic text:
    </div>
    <div class='labelled-form-value'>
      <textarea required name="message_text" rows="12" cols="60"></textarea>
    </div>
    <div class='labelled-form-separator'>
      <input type="submit" value="{{ t('gameboard_create_topic') }}" />
    </div>
  </form>

  {{ t('general_bbcode_explanation')|raw }}
  <br />
  <br />
</div>
