{% for flair in flairs %}
  {% if flair.visible %}
    {{ flair.label }}
    <br />

    <div class='flair-list'>
      {% for f in flair.selection %}
        {% if f.available %}
          <span class='flair'>
            <img src="{{ f.image }}" title="{{ f.title }}" />
          </span>
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
{% endfor %}

{% if monthly_badges %}
  <h2 class="caption">Monthly Chart Challenges</h2><br />

  {% for badge in monthly_badges %}
    <img src="/images/new_badges/{{ badge.gsb }}_larger.png" title="{{ badge.text }}">
  {% endfor %}
{% endif %}
