<style>
table tr td img { margin-bottom: -3px; padding-top: 1px; width: 16px; height: 16px; }
</style>
<h1 id="stats_title">{{ t('profile_header_contact') }}</h1>
<table class="zebra">
  {% if user.forename or user.surname %}
    <tr>
      <td>{{ t('profile_name') }}</td>
      <td>{{ user.forename }} {{ user.surname }}</td>
    </tr>
  {% endif %}

  {% if user.dob %}
    <tr>
      <td>{{ t('profile_birthday') }}</td>
      <td>{{ format_date(user.dob, false) }}</td>
    </tr>
  {% endif %}

  <tr>
    <td>{{ t('profile_date_joined') }}</td>
    <td>{{ format_date(user.date_joined) }}</td>
  </tr>

  {% if has_access('UserMod') or not user.lastseen_hidden %}
    <tr>
      <td>{{ t('online_last_seen') }}{{ t('general_colon') }}</td>
      <td>{{ format_datetime(user.date_lastseen) }}</td>
    </tr>
  {% endif %}

  {% if user.im_aol %}
    <tr>
      <td><img src="/images/profile/aol.png"> AOL Messenger:</td>
      <td>{{ user.im_aol }}</td>
    </tr>
  {% endif %}

  {% if user.im_icq %}
    <tr>
      <td><img src="/images/profile/icq.gif"> ICQ:</td>
      <td>{{ user.im_icq }}</td>
    </tr>
  {% endif %}

  {% if user.im_yahoo %}
    <tr>
      <td><img src="/images/profile/yahoo.png"> Yahoo Messenger:</td>
      <td>{{ user.im_yahoo }}</td>
    </tr>
  {% endif %}

  {% if user.im_skype %}
    <tr>
      <td><img src="/images/profile/skype.png"> Skype:</td>
      <td>{{ user.im_skype }}</td>
    </tr>
  {% endif %}

  {% if user.twitter %}
    <tr>
      <td><img src="/images/profile/twitter.png"> Twitter:</td>
      <td><a href="https://twitter.com/{{ user.twitter }}" target="_blank">@{{ user.twitter }}</a></td>
    </tr>
  {% endif %}

  {% if user.discord_tag %}
    <tr>
      <td><img src="/images/profile/discord.png"> Discord tag:</td>
      <td>{{ user.discord_tag }}</td>
    </tr>
  {% endif %}

  {% if user.youtube %}
    <tr>
      <td><img src="/images/profile/youtube.gif"> YouTube channel:</td>
      <td><a href="https://youtube.com/{{ user.youtube }}" target="_blank">{{ user.youtube }}</a></td>
    </tr>
  {% endif %}

  {% if user.twitch %}
    <tr>
      <td><img src="/images/profile/twitch.png"> Twitch channel:</td>
      <td>
        <a href="https://twitch.tv/{{ user.twitch }}" target="_blank">{{ user.twitch }}</a>
      </td>
    </tr>
  {% endif %}

  {% if user.steam_id %}
    <tr>
      <td><img src="/images/profile/steam.png"> Steam ID:</td>
      <td><a href="https://steamcommunity.com/id/{{ user.steam_id }}" target="_blank">{{ user.steam_id }}</a></td>
    </tr>
  {% endif %}

  {% if user['3ds_fc'] %}
    <tr>
      <td><img src="/images/profile/3ds.png"> 3DS friend code:</td>
      <td>{{ user['3ds_fc'] }}</td>
    </tr>
  {% endif %}

  {% if user.wiiu_fc %}
    <tr>
      <td><img src="/images/profile/nnid.png"> Nintendo Network ID:</td>
      <td>{{ user.wiiu_fc }}</td>
    </tr>
  {% endif %}

  {% if user.switch_fc %}
    <tr>
      <td><img src="/images/profile/switch.png"> Switch friend code:</td>
      <td>{{ user.switch_fc }}</td>
    </tr>
  {% endif %}

  {% if user.pokemon_go_fc %}
    <tr>
      <td><img src="/images/profile/pokemongo.jpg"> Pokémon GO friend code:</td>
      <td>{{ user.pokemon_go_fc }}</td>
    </tr>
  {% endif %}

  {% if user.psn_gamertag %}
    <tr>
      <td><img src="/images/profile/psn.png"> PSN ID:</td>
      <td>{{ user.psn_gamertag }}</td>
    </tr>
  {% endif %}

  {% if user.xbl_gamertag %}
    <tr>
      <td><img src="/images/profile/xbl.gif"> Xbox Live gamertag:</td>
      <td>{{ user.xbl_gamertag }}</td>
    </tr>
  {% endif %}

  {% if user.backloggery %}
    <tr>
      <td><img src="/images/profile/backloggery.gif"> Backloggery:</td>
      <td><a href="https://backloggery.com/{{ user.backloggery }}" target="_blank">{{ user.backloggery }}</a></td>
    </tr>
  {% endif %}

  {% if user.website %}
    <tr>
      <td><img src="/images/profile/website.png"> Website:</td>
      <td><a href="{{ user.website }}" target="_blank">{{ user.website }}</a></td>
    </tr>
  {% endif %}
</table>
