<table class="zebraa">
  <tr>
    <!-- Rankbutton -->
    <th style="width:90px"></th>
    <!-- Name -->
    <th style="width:250px;"></th>
    <!-- Trophies -->
    <th class="trophy-csp" style="padding-right: 3px; width: 125px;">
      <img style="max-height: 32px; width: auto;" src="/images/icon_trophy.png" alt="CSP Scoreboards" title="CSP Scoreboards">
    </th>
    <!-- Medals -->
    <th class="trophy-standard" style="padding-right: 3px; width: 125px;"><img style="max-height: 32px; width: auto;" src="/images/icon_ranked.png" alt="Medal Tables" title="Medal Tables"></th>
    <!-- Arcade -->
    <th class="trophy-arcade" style="padding-right: 3px; width: 125px;"><img style="max-height: 32px; width: auto;" src="/images/icon_arcade.png" alt="Arcade Boards" title="Arcade Boards"></th>
    <!-- Speedrun -->
    <th class="trophy-speedrun" style="padding-right: 3px; width: 125px;"><img style="max-height: 32px; width: auto;" src="/images/icon_speedrun.png" alt="Speedrun Tables" title="Speedrun Tables"></th>
    <!-- Solution -->
    <th class="trophy-solution" style="padding-right: 3px; width: 125px;"><img style="max-height: 32px; width: auto;" src="/images/icon_solution.png" alt="Solution Hubs" title="Solution Hubs"></th>
    <!-- Challenge -->
    <th class="trophy-challenge" style="padding-right: 3px; width: 125px;"><img style="max-height: 32px; width: auto;" src="/images/icon_challenge.png" alt="Challenge Boards" title="Challenge Boards"></th>
    <!-- Incremental -->
    <th class="trophy-incremental" style="padding-right: 3px; width: 125px;"><img style="max-height: 32px; width: auto;" src="/images/icon_incremental.png" alt="Experience Tables" title="Experience Tables"></th>
    <!-- Collectible -->
    <th class="trophy-collectible" style="padding-right: 3px; width: 125px;"><img style="max-height: 32px; width: auto;" src="/images/icon_collectible.png" alt="Collector's Caches" title="Collector's Caches"></th>
  </tr>

  <!-- Total trophies -->
  <tr>
    <td></td>
    <td>
      <table style="max-width: 150px; margin: 0 auto;">
        <th style="max-width: 30px;max-height: 10px;">
          <img
            src="/skins4/default/images/trophy_points_trophy.png"
            alt="Trophy Points"
            title="Trophy Points"
            width="16"
            height="16" />
          <br />
          <small>{{ trophy.trophy_points|number_format(0) }}</small>
        </th>
        <th style="max-width: 30px;max-height: 10px;">
          <img
            src="/skins4/default/images/trophy_1.png"
            alt="Platinums"
            title="Platinums"
            width="16"
            height="16" />
          <br />
          <small>{{ trophy.platinum|number_format(0) }}</small>
        </th>
        <th style="max-width: 30px;max-height: 10px;">
          <img
            src="/skins4/default/images/trophy_2.png"
            alt="Golds"
            title="Golds"
            width="16"
            height="16" />
          <br />
          <small>{{ trophy.gold|number_format(0) }}</small>
        </th>
        <th style="max-width: 30px;max-height: 10px;">
          <img
            src="/skins4/default/images/trophy_3.png"
            alt="Silvers"
            title="Silvers"
            width="16"
            height="16" />
          <br />
          <small>{{ trophy.silver|number_format(0) }}</small>
        </th>
        <th style="max-width: 30px;max-height: 10px;">
          <img
            src="/skins4/default/images/trophy_4.png"
            alt="Bronzes"
            title="Bronzes"
            width="16"
            height="16" />
          <br />
          <small>{{ trophy.bronze|number_format(0) }}</small>
        </th>
      </table>
    </td>

    {% for board in boards %}
      <td class="trophy-{{ board }}">
        <table style="max-width: 150px; margin: 0 auto;">
          <th style="max-width: 30px;max-height: 10px;">
            <img
              src="/skins4/default/images/trophy_points_trophy.png"
              alt="Trophy Points"
              title="Trophy Points"
              width="16"
              height="16" />
            <br />
            <small>{{ type_totals[board]|number_format(0) }}</small>
          </th>
          {% if board == 'csp' %}
            <th style="max-width: 30px;max-height: 10px;">
              <img
                src="/skins4/default/images/trophy_1.png"
                alt="Platinums"
                title="Platinums"
                width="16"
                height="16" /> <br />
              <small>{{ type_totals.platinum|number_format(0) }}</small>
            </th>
          {% endif %}
          <th style="max-width: 30px;max-height: 10px;">
            <img
              src="/skins4/default/images/trophy_2.png"
              alt="Golds"
              title="Golds"
              width="16"
              height="16" />
            <br />
            <small>{{ type_totals[board ~ "_gold"]|number_format(0) }}</small>
          </th>
          <th style="max-width: 30px;max-height: 10px;">
            <img
              src="/skins4/default/images/trophy_3.png"
              alt="Silvers"
              title="Silvers"
              width="16"
              height="16" />
            <br />
            <small>{{ type_totals[board ~ "_silver"]|number_format(0) }}</small>
          </th>
          <th style="max-width: 30px;max-height: 10px;">
            <img
              src="/skins4/default/images/trophy_4.png"
              alt="Bronzes"
              title="Bronzes"
              width="16"
              height="16" />
            <br />
            <small>{{ type_totals[board ~ "_bronze"]|number_format(0) }}</small>
          </th>
        </table>
      </td>
    {% endfor %}
  </tr>

  {% for this_game in user_games %}
    <tr>
      <td>{{ game_rankbutton(this_game.game_id, this_game.scoreboard_pos, 'game') }}</td>
      <td>
        <small>{{ this_game.game_name|truncate(80) }}</small>
        <br>
        <table style="max-width: 150px; margin: 0 auto;">
          <th style="max-width: 30px; max-height: 10px;">
            <img
              src="/skins4/default/images/trophy_points_trophy.png"
              alt="Trophy Points"
              title="Trophy Points"
              width="16"
              height="16" />
            <br />
            <small>{{ this_game.trophy_points|number_format(0) }}</small>
          </th>
          <th style="max-width: 30px; max-height: 10px;">
            <img
              src="/skins4/default/images/trophy_1.png"
              alt="Platinum"
              title="Platinum"
              width="16"
              height="16" />
            <br />
            <small>{{ this_game.platinum|number_format(0) }}</small>
          </th>
          <th style="max-width: 30px; max-height: 10px;">
            <img
              src="/skins4/default/images/trophy_2.png"
              alt="Golds"
              title="Golds"
              width="16"
              height="16" />
            <br />
            <small>{{ this_game.gold|number_format(0) }}</small>
          </th>
          <th style="max-width: 30px; max-height: 10px;">
            <img
              src="/skins4/default/images/trophy_3.png"
              alt="Silvers"
              title="Silvers"
              width="16"
              height="16" />
            <br />
            <small>{{ this_game.silver|number_format(0) }}</small>
          </th>
          <th style="max-width: 30px;max-height: 10px;">
            <img
              src="/skins4/default/images/trophy_4.png"
              alt="Bronzes"
              title="Bronzes"
              width="16"
              height="16" />
            <br />
            <small>{{ this_game.bronze|number_format(0) }}</small>
          </th>
        </table>
      </td>

      {% for board in boards %}
        {% if this_game[board ~ "_trophy"] or this_game[board ~ "_trophy_points"] %}
          <td class="trophy-{{ board }}">
            <a href="/game_scoreboard.php?game_id={{ this_game.game_id }}&amp;board={% if board == 'standard' %}medal{% else %}{{ board }}{% endif %}">
              {% if this_game[board ~ "_trophy"] %}
                {% if this_game[board ~ "_trophy"] == "platinum" %}
                  <img src="{{ skin_image_url('trophy_1.png') }}" width="18" height="18" style="vertical-align: middle; margin-top: 1px;" alt="Platinum trophy" title="Platinum trophy"/>
                {% elseif this_game[board ~ "_trophy"] == "gold" %}
                  <img src="{{ skin_image_url('trophy_2.png') }}" width="18" height="18" style="vertical-align: middle; margin-top: 1px;" alt="Gold trophy" title="Gold trophy"/>
                {% elseif this_game[board ~ "_trophy"] == "silver" %}
                  <img src="{{ skin_image_url('trophy_3.png') }}" width="18" height="18" style="vertical-align: middle; margin-top: 1px;" alt="Silver trophy" title="Silver trophy"/>
                {% elseif this_game[board ~ "_trophy"] == "bronze" %}
                  <img src="{{ skin_image_url('trophy_4.png') }}" width="18" height="18" style="vertical-align: middle; margin-top: 1px;" alt="Bronze trophy" title="Bronze trophy"/>
                {% elseif this_game[board ~ "_trophy"] == "fourth" %}
                  <img src="{{ skin_image_url('trophy_5.png') }}" width="18" height="18" style="vertical-align: middle; margin-top: 1px;" alt="Fourth-place trophy" title="Fourth-place trophy"/>
                {% elseif this_game[board ~ "_trophy"] == "fifth" %}
                  <img src="{{ skin_image_url('trophy_6.png') }}" width="18" height="18" style="vertical-align: middle; margin-top: 1px;" alt="Fifth-place trophy" title="Fifth-place trophy"/>
                {% else %}
                  <small>{{ nth(this_game[board ~ "_trophy"]) }}</small>
                {% endif %}
                <br />
              {% endif %}

              {% if this_game[board ~ "_trophy_points"] %}
                <img src="{{ skin_image_url('trophy_points_trophy.png') }}" width="10" height="10" style="vertical-align: middle;" alt="Trophy Points"  title="Trophy Points" />
                <small><b>{{ this_game[board ~ "_trophy_points"]|number_format(0) }}</b></small>
              {% endif %}
            </a>
          </td>
        {% else %}
          <td class="trophy-locked">
          </td>
        {% endif %}
      {% endfor %}
      <td style="test-align: center;"></td>
    </tr>
  {% endfor %}
</table>
