<div id="pagefull">
  <div id="breadcrumb" class="clearfix">
    <!-- require_once("predictions/nav.php") -->
  </div>
  <h1>
    {{ page_title }}
    {% if role == 'administrator' %}
      <a title="{{ t('predictions_game_edit') }}" href="/predictions/{{ prediction.game_id }}/edit">
        <img src="{{ skin_image_url("edit.png") }}" width="11" height="11" alt="{{ t('predictions_game_edit') }}" />
      </a>
    {% endif %}
  </h1>
  <br />
  <br />

  <table class="zebra">
    {% for match in matches %}
      <?php
        $result = database_get(database_select("SELECT result_A, result_B, sub_result_A, sub_result_B, winner, result_finished FROM predictions_results WHERE match_id = ?", 's', [$match['match_id']]));
        $resultA = $result['result_A'];
        $resultB = $result['result_B'];
        $subresultA = $result['sub_result_A'];
        $subresultB = $result['sub_result_B'];
        $match_winner = $result['winner'];
        $finished = $result['result_finished'];

        $record = database_get(database_select("SELECT submission_A, submission_B, winning_team, points_awarded FROM predictions_records WHERE user_id = ? AND match_id = ?", 'ss', [$user_id, $match['match_id']]));

        $A = $record['submission_A'];
        $B = $record['submission_B'];
        $winner = $record['winning_team'];
        $points = $record['points_awarded'];
      ?>
      <tr>
        <?php if ($role == 'administrator') { ?>
          <td style="width: 25px;">
            <a title="<?= h($t['predictions_edit_match']) ?>" href="/predictions/<?= $prediction['game_id'] ?>/match/<?= $match['match_id'] ?>/edit">
              <img src="<?= skin_image_url("edit.png") ?>" width="11" height="11" alt="<?= h($t['predictions_edit_match']) ?>" />
            </a>
          </td>
        <?php } ?>
        <td>
          <a href="/predictions/<?= $prediction['game_id'] ?>/match-<?= $match['match_id'] ?>"><?= h($match['match_name']) ?></a>
        </td>
        <td style="width: 120px; text-align: right;"><?= h($match['team_A']) ?></td>
        <td style="width: 10px; padding-right: 25px; padding-left: 25px;">
          <?php if ($match['country_a']) { ?>
            <?= country_flag_image_tag($match['country_a']) ?>
          <?php } ?>
        </td>

        <?php # Results ?>
        <td style="width: 10px; padding-right: 10px;">
          <?php if ($finished == 'yes' && $match_winner == 'A') echo "<b>"; ?>
          <?php if (isset($resultA) && empty($subresultA)) { ?>
            <?= h($resultA) ?>
          <?php } else if (isset($resultA) && isset($subresultA)) { ?>
            <?= h($resultA) ?><small>(<?= h($subresultA) ?>)</small>
          <?php } else { ?>
            <i></i>
          <?php } ?>
        </td>
        <td style="width: 10px; padding-right: 10px;"><b>&ndash;</b></td>
        <td style="width: 10px; padding-right: 20px;">
          <?php if ($finished == 'yes' && $match_winner == 'B') echo "<b>"; ?>
          <?php if (isset($resultB) && empty($subresultB)) { ?>
            <?= h($resultB) ?>
          <?php } else if (isset($resultB) && isset($subresultB)) { ?>
            <?= h($resultB) ?><small>(<?= h($subresultB) ?>)</small>
          <?php } else { ?>
            <i></i>
          <?php } ?>
        </td>
        <td style="width: 10px; padding-right: 25px;">
          <?php if ($match['country_b']) { ?>
            <?= country_flag_image_tag($match['country_b']) ?>
          <?php } ?>
        </td>
        <td style="width: 120px; padding-right: 200px;">
          <?= h($match['team_B']) ?>
        </td>
        <td>
          <div class="spoiler">
            <?php if (isset($A) && isset($B) && isset($winner) && $match['game_type'] == 'knockout') { ?>
              <?php if($winner == 'A') { ?>
                <b><?= $A ?></b> – <?= $B ?>
              <?php } else if ($winner == 'B') { ?>
                <?= $A ?> – <b><?= $B ?></b>
              <?php } else if($winner == 'Draw') { ?>
                <b><?= $A ?> – <?= $B ?></b>
              <?php } ?>
            <?php } else if(isset($A) && isset($B) && isset($winner) && $match['game_type'] == 'group') { ?>
              <?= $A ?> – <?= $B ?>
            <?php } else { ?>
              <b><?= $t['predictions_no_prediction'] ?></b>
            <?php } ?>

            <?php if (new DateTime() < new DateTime($match['date'])) { ?>
              <a title="<?php echo $t['predictions_make_prediction'];?>" onclick="showSpoiler(this);">
                <img onclick="showSpoiler(this);" src="<?= skin_image_url("edit.png") ?>" width="11" height="11" alt="add"/>
              </a>
              <br />
              <div class="inner" style="display:none;">
                <form action="predictionscript.php" method="post"><br />
                  <input type="hidden" name="function" value="makeprediction">
                  <input type="hidden" name="match_id" value="<?= $match['match_id'] ?>">
                  <b><?= $match['team_A'] ?></b> <input type="number" name="submission_A" value="<?= $A ?>" size="5" min="0" >
                  &ndash;
                  <input type="number" name="submission_B" value="<?php echo $B;?>" size="5" min="0"> <b><?= $match['team_B'] ?></b>
                  <br /><br />

                  <?php if ($match['game_type'] == 'knockout'){ ?>
                    <b><?= $t['predictions_winner'] ?>:</b>
                    <select name="winner">
                      <option value="A" <?php if ($winner == 'A') echo 'selected="selected"';?>><?= $match['team_A'] ?></option>
                      <option value="B" <?php if ($winner == 'B') echo 'selected="selected"';?>><?= $match['team_B'] ?></option>
                    </select>
                    <br /><br />
                  <?php } ?>
                  <input type="submit" name="submit" value="<?= $t['predictions_make_prediction'] ?>"><br />
                </form>
              </div>
            <?php } ?>
            <?php if (isset($points) && !empty($points)) { ?>
              <?php switch($points) {
                case 0: echo '<small style="white-space:nowrap">0 '.$t['predictions_points'].'</small>'; break;
                case 1: echo '<small style="white-space:nowrap;color: #ffa500"">1 '.$t['predictions_point'].'</small>'; break;
                case 2: echo '<small style="white-space:nowrap;color: #008000;">2 '.$t['predictions_points'].'</small>'; break;
                case 3: echo '<small style="white-space:nowrap;color: #32CD32;">3 '.$t['predictions_points'].'</small>'; break;
                case 4: echo '<small style="white-space:nowrap;color: #9400D3;">4 '.$t['predictions_points'].'</small>'; break;
                } ?>
            <?php } ?>
          </div>
        </td>
        <td><?= h($match['date']) ?> UTC</td>
        <td><b><?php if ($match['game_type'] == 'group') echo $t['predictions_create_match_type_group']; else if($match['game_type'] == 'knockout') echo $t['predictions_create_match_type_knockout'];?></b></td>
        <td style="width: 200px; padding-right: 10px;">
          <?php if ($role == 'administrator') { ?>
            <div class="spoiler">
              <b><?= h($t['predictions_results_edit']) ?></b>
              <a title="Make or edit result" onclick="showSpoiler(this);">
                <img onclick="showSpoiler(this);" src="<?= skin_image_url("edit.png") ?>" width="11" height="11" alt="<?= h($t['predictions_results_edit']) ?>"/>
              </a>
              <br />
              <div class="inner" style="display:none;">
                <form action="predictionscript.php" method="post"><br />
                  <input type="hidden" name="function" value="editresult">
                  <input type="hidden" name="match_id" value="<?php echo $match['match_id'];?>">
                  <u><?= h($t['predictions_results_regulation']) ?></u>
                  <br />
                  <b>
                    <?= h($match['team_A']) ?>
                    <br />
                    <input type="number" name="submission_A" value="<?= h($resultA) ?>" size="5" min="0">
                    <br />
                    <input type="number" name="submission_B" value="<?= h($resultB) ?>" size="5" min="0">
                    <br />
                    <?= h($match['team_B']) ?>
                    <br />
                    <br />
                  </b>
                  <u><?= h($t['predictions_results_tiebreaker']) ?></u>
                  <br />
                  <b>
                    <?= h($match['team_A']) ?>
                    <br />
                    <input type="number" name="tiebreakersubmission_A" value="<?= h($subresultA) ?>" size="5" min="0">
                    <br />
                    <input type="number" name="tiebreakersubmission_B" value="<?= h($subresultB) ?>" size="5" min="0" >
                    <br />
                    <?= h($match['team_B']) ?>
                    <br />
                    <br />
                  </b>
                  <u><?= h($t['predictions_winner']) ?>:</u>
                  <br />
                  <select name="winner">
                    <option value="A" <?php if($match_winner == 'A') echo 'selected="selected"';?>><?= h($match['team_A']) ?></option>
                    <option value="B" <?php if($match_winner == 'B') echo 'selected="selected"';?>><?= h($match['team_B']) ?></option>
                    <option value="Draw" <?php if($match_winner == 'Draw') echo 'selected="selected"';?>><?= h($t['predictions_results_draw']) ?></option>
                  </select>
                  <br /><br />
                  <u><?php echo $t['predictions_results_finished'];?>:</u>
                  <input type="checkbox" name="finished" value="yes" <?php if($finished == 'yes') echo 'checked="checked"';?>>
                  <br /><br />
                  <input type="submit" name="submit" value="<?php echo $t['predictions_results_edit'];?>">
                  <br />
                </form>
              </div>
            </div>
          <?php } ?>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>
<script type="text/javascript">
function showSpoiler(obj) {
  var inner = obj.parentNode.getElementsByTagName("div")[0];
  if (inner.style.display == "none") {
    inner.style.display = "";
  } else {
    inner.style.display = "none";
  }
}
</script>
