<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">Home</a> &rarr; Countries
  </div>

  <h1>Countries</h1>

  <table class='zebra'>
    <tr>
      <td><b>Flag</b></td>
      <td><b>Country code</b></td>
      <td><b>English country name</b></td>
      <td><b>Continent</b></td>
      <td><b>Users</b></td>
      <td><b>Action</b></td>
    </tr>
    {% for country in countries %}
      <tr>
        <td>{{ country_flag_image_tag(country) }}</td>
        <td>{{ country.country_code }}</td>
        <td>{{ country.country_name }}</td>
        <td>{{ country.continent_name }}</td>
        <td>{{ country.num_users }}</td>
        <td>
          <form action="/admin/countries/{{ country.country_id }}/delete" method="post">
            {% if country.num_users > 0 %}
              Move users to: <input type="text" name="new_country_name" />
            {% endif %}
            <input type="submit" value="Delete country" />
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
</div>

<div class='layout--sidebar-primary'>
  <div class='sidebar-section'>
    <h3 class='sidebar-title'>Add new country</h3>
    <div class='sidebar-section-body'>
    <form class='labelled-form' action="/admin/countries" method="post">
      <div class='labelled-form-label'><label>Country code:</label></div>
      <div class='labelled-form-value'><input type="text" name="country_code" size="2" maxlength="2" /></div>
      <div class='labelled-form-label'><label>Country name:</label></div>
      <div class='labelled-form-value'><input type="text" name="country_name" /></div>
      <div class='labelled-form-label'><label>Continent:</label></div>
      <div class='labelled-form-value'>
        <select name="continent">
          {% for continent in continents %}
            <option value="{{ continent.id }}">{{ continent.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class='labelled-form-separator'>
        <input type="submit" value="Add country" />
      </div>
    </form>
  </div>
</div>
