<div class="layout--sidebar-primary">
  {{ render_component_with('games/sidebar-staff-tools', {'game': game}) }}
  {{ render_component_with('games/rhs-game-info', {'game': game}) }}
</div>

<div class="layout--sidebar-secondary">
  {{ render_component_with('games/rhs-small-scoreboard', {'game': game}) }}
  {{ render_component_with('games/rhs-split-info', {'game': game}) }}
  {{ render_component_with('games/sidebar-related-games', {'game': game}) }}
</div>

<div class="layout--content-primary">
  <div class="title-header">
    <div id="breadcrumb">
      <a href="/">{{ t('general_home') }}</a> &rarr;
      <a href="/games">{{ t('general_games') }}</a> &rarr;
      {{ link_to_game(game) }} &rarr;
      <a href="/game_scoreboard.php?game_id={{ game.game_id }}&board={{ selected_scoreboard.scoreboard }}">{{ t(selected_scoreboard.label) }}</a>

      {{ render_component_with("games/language-selection", {'game_id': game.game_id}) }}
    </div>
  </div>

  <div id="gameinfo">
    <p>{{ prettify(game.notes) }}</p>
  </div>

  {{ render_component_with("game_scoreboard_selector", {'game': game, 'scoreboards': scoreboards, 'board': board}) }}

  <h3>{{ t(selected_scoreboard.label) }}</h3>

  {{ t('games_rebuild', {'time': time_to_next}) }}
  {% if has_access('GameMod') %}
    <form action="/admin/rebuild_cache" method="post">
      <input type="hidden" name="game_id" value="{{ game.game_id }}">
      <input type="submit" name="submit" value="Rebuild manually">
    </form>
  {% endif %}

  {{ render_component_with("game-scoreboards/" ~ board, {'scoreboard': selected_scoreboard, 'game': game}) }}
</div>
