<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    <a href="/scoreboards.php">{{ t('general_scoreboards') }}</a> &rarr;
    {{ page_title }}
  </div>
  <h1>{{ page_title }}</h1>

  {% if game_ids|length > 0 %}
    {{ t('scoreboards_rebuild', {'time': time_to_next }) }}
    <table class="scoreboard" id="scoreboard_classic">
      {% if board == 'starboard'   %}{{ render_component_with('global-scoreboards/starboard',   {'scoreboard': scoreboard, 'entries': entries}) }}{% endif %}
      {% if board == 'medal'       %}{{ render_component_with('global-scoreboards/medal',       {'scoreboard': scoreboard, 'entries': entries}) }}{% endif %}
      {% if board == 'arcade'      %}{{ render_component_with('global-scoreboards/arcade',      {'scoreboard': scoreboard, 'entries': entries}) }}{% endif %}
      {% if board == 'speedrun'    %}{{ render_component_with('global-scoreboards/speedrun',    {'scoreboard': scoreboard, 'entries': entries}) }}{% endif %}
      {% if board == 'solution'    %}{{ render_component_with('global-scoreboards/solution',    {'scoreboard': scoreboard, 'entries': entries}) }}{% endif %}
      {% if board == 'trophy'      %}{{ render_component_with('global-scoreboards/trophy',      {'scoreboard': scoreboard, 'entries': entries}) }}{% endif %}
      {% if board == 'challenge'   %}{{ render_component_with('global-scoreboards/challenge',   {'scoreboard': scoreboard, 'entries': entries}) }}{% endif %}
      {% if board == 'collectible' %}{{ render_component_with('global-scoreboards/collectible', {'scoreboard': scoreboard, 'entries': entries}) }}{% endif %}
      {% if board == 'incremental' %}{{ render_component_with('global-scoreboards/incremental', {'scoreboard': scoreboard, 'entries': entries}) }}{% endif %}
      {% if board == 'rainbow'     %}{{ render_component_with('global-scoreboards/rainbow',     {'scoreboard': scoreboard, 'entries': entries}) }}{% endif %}
      {% if board == 'ambassador'  %}{{ render_component_with('global-scoreboards/ambassador',  {'scoreboard': scoreboard, 'entries': entries}) }}{% endif %}
      {% if board == 'csp'         %}{{ render_component_with('global-scoreboards/csp',         {'scoreboard': scoreboard, 'entries': entries}) }}{% endif %}
      {% if board == 'proof'       %}{{ render_component_with('global-scoreboards/proof',       {'scoreboard': scoreboard, 'entries': entries}) }}{% endif %}
      {% if board == 'vproof'      %}{{ render_component_with('global-scoreboards/vproof',      {'scoreboard': scoreboard, 'entries': entries}) }}{% endif %}
      {% if board == 'submissions' %}{{ render_component_with('global-scoreboards/submissions', {'scoreboard': scoreboard, 'entries': entries}) }}{% endif %}
      {% if board == 'staff'       %}{{ render_component_with('global-scoreboards/staff',       {'scoreboard': scoreboard, 'entries': entries}) }}{% endif %}
      {% if board == 'positional'  %}{{ render_component_with('global-scoreboards/positional',  {'scoreboard': scoreboard, 'entries': entries}) }}{% endif %}
      {% if board == 'movers'      %}{{ render_component_with('global-scoreboards/movers',      {'scoreboard': scoreboard, 'entries': entries}) }}{% endif %}
    </table>
  {% else %}
    <p>No games found</p>
  {% endif %}
</div>

<div class="layout--sidebar-primary">
  <div class="sidebar-section">
    <div class="sidebar-title">Scoreboard filters</div>
    <div class="sidebar-section-body">
      <form action="" class="scoreboard-selector" method="get">
        <select name="board" onchange="changeBoard(this)">
          <option value="starboard"   {{ option_selected(board, 'starboard') }}   data-image="{{ skin_image_url('Dropdown_icons/CSStar24x25White.png') }}">{{ t('general_mainboard') }}</option>
          <option value="medal"       {{ option_selected(board, 'medal') }}       data-image="{{ skin_image_url('Dropdown_icons/icon_ranked20x25White.png') }}">{{ t('general_medal_table') }}</option>
          <option value="rainbow"     {{ option_selected(board, 'rainbow') }}     data-image="{{ skin_image_url('Dropdown_icons/rainbow_star24x25.png') }}">{{ t('scoreboards_ultimate') }}</option>
          <option value="trophy"      {{ option_selected(board, 'trophy') }}      data-image="{{ skin_image_url('Dropdown_icons/icon_trophy_white.png') }}">{{ t('general_trophy_table') }}</option>
          <option value="arcade"      {{ option_selected(board, 'arcade') }}      data-image="{{ skin_image_url('Dropdown_icons/icon_arcadeWhite17x25.png') }}">{{ t('general_arcade_table') }}</option>
          <option value="speedrun"    {{ option_selected(board, 'speedrun') }}    data-image="{{ skin_image_url('Dropdown_icons/icon_speedrun20x25White.png') }}">{{ t('general_speedrun_awards') }}</option>
          <option value="challenge"   {{ option_selected(board, 'challenge') }}   data-image="{{ skin_image_url('Dropdown_icons/icon_challenge25x25White.png') }}">{{ t('general_challenge_table') }}</option>
          <option value="solution"    {{ option_selected(board, 'solution') }}    data-image="{{ skin_image_url('Dropdown_icons/SolutionWhite25x17.png') }}">{{ t('general_solution_hub') }}</option>
          <option value="collectible" {{ option_selected(board, 'collectible') }} data-image="{{ skin_image_url('Dropdown_icons/icon_collectible_white.png') }}">{{ t('general_collectors_cache') }}</option>
          <option value="incremental" {{ option_selected(board, 'incremental') }} data-image="{{ skin_image_url('Dropdown_icons/icon_incremental_white.png') }}">{{ t('general_incremental') }}</option>
          <option value="submissions" {{ option_selected(board, 'submissions') }} data-image="{{ skin_image_url('Dropdown_icons/icon_submissions_white.png') }}">{{ t('general_total_subs') }}</option>
          <option value="proof"       {{ option_selected(board, 'proof') }}       data-image="{{ skin_image_url('Dropdown_icons/icon_proof_white.png') }}">{{ t('general_proof_board') }}</option>
          <option value="vproof"      {{ option_selected(board, 'vproof') }}      data-image="{{ skin_image_url('Dropdown_icons/icon_vproof_white.png') }}">{{ t('general_vproof_board') }}</option>
          <option value="csp"         {{ option_selected(board, 'csp') }}         data-image="{{ skin_image_url('Dropdown_icons/CSStar24x25White.png') }}">CSP Scoreboard</option>
          <option value="positional"  {{ option_selected(board, 'positional') }}  data-image="{{ skin_image_url('Dropdown_icons/CSStar24x25White.png') }}">Positional Scoreboard</option>
          <option value="ambassador"  {{ option_selected(board, 'ambassador') }}  data-image="{{ skin_image_url('Dropdown_icons/CSStar24x25White.png') }}">{{ t('general_ambassador_table') }}</option>
          <option value="movers"      {{ option_selected(board, 'movers') }}      data-image="{{ skin_image_url('Dropdown_icons/CSStar24x25White.png') }}">{{ t('general_movers_losers') }}</option>
          <option value="staff"       {{ option_selected(board, 'staff') }}       data-image="{{ skin_image_url('Dropdown_icons/CSStar24x25White.png') }}">{{ t('general_staff_scoreboard') }}</option>
        </select>
      </form>
      <form action="/scoreboards/{{ board }}" method="get">
        <input type="hidden" name="manual_sort" value="{{ sort }}">

        {% if 'game' in supported_filters %}
          <select name="platform_id" onchange="this.form.action=this.form.submit();">
            <option value="" {{ option_selected(platform_id, 0) }}>{{ t('general_platforms_all') }}</option>
            {% for platform in platforms %}
              <option value="{{ platform.platform_id }}"
                      {{ option_selected(platform_id, platform.platform_id) }}
                      data-image="/uploads/platforms/{{ platform.platform_id }}.gif">
                {{ platform.platform_name }}
              </option>
            {% endfor %}
          </select>

          <select name="series" onchange="this.form.action=this.form.submit();">
            <option value="">All series</option>
            {% for series in serieses %}
              <option value="{{ series.series_id }}" {{ option_selected(series_id, series.series_id) }}>
                {{ series.series_name }}
              </option>
            {% endfor %}
          </select>
        {% endif %}

        {% if 'country' in supported_filters %}
          <select name="continent" onchange="this.form.submit()">
            <option value="">{{ t('general_continents_all') }}</option>
            {% for continent in continents %}
              <option value="{{ continent.id }}" {{ option_selected(continent_id, continent.id) }}>{{ continent.name }}</option>
            {% endfor %}
          </select>

          <select name="country" onchange="this.form.submit()">
            <option value="0">{{ t('general_countries_all') }}</option>
            {% for id, name in countries %}
              {% if id in country_ids %}
                <option value="{{ id }}" {{ option_selected(country_id, id) }}>{{ name }}</option>
              {% endif %}
            {% endfor %}
          </select>
        {% endif %}

        <select name="offset" onchange="this.form.submit()">
          <option value="0">{{ t('general_top') }} 100</option>
          {% for i in 1 .. pages %}
            <option value="{{ i * 100 }}" {{ option_selected(offset, i * 100) }}>{{ i * 100 + 1 }} &ndash; {{ (i + 1) * 100 }}</option>
          {% endfor %}
        </select>
      </form>
    </div>
  </div>
</div>

{% if game_filters|length > 1 %}
  <div class="layout--sidebar-secondary">
    <div class='sidebar-section'>
      <div class='sidebar-title'>{{ t('scoreboards_search_games') }}</div>
      <div class='sidebar-section-body'>
        {% for game_id in game_ids %}
          {{ link_to_game({'game_id': game_id}) }}
          <br/>
        {% endfor %}
      </div>
  </div>
{% endif %}

<script language="javascript">
$(document).ready(function(e) { $(".scoreboard-selector select").msDropDown(); });

function changeBoard(el) {
  window.location.pathname = `/scoreboards/${el.value}`;
}
</script>
