<h3 class="middle">{{ t('general_users') }}</h3>
<table class="usergames">
  <tr class="altrow">
    <td class="name">{{ t('sitestats_users_total') }}</td>
    <td class="number">{{ user.num_users|number_format }}</td>
  </tr>
  <tr>
    <td class="name">{{ t('sitestats_users_countries') }}</td>
    <td class="number">{{ user.num_countries|number_format }}</td>
  </tr>
  <tr class="altrow">
    <td class="name">{{ t('sitestats_users_record') }}</td>
    <td class="number">{{ suser.num_users|number_format }}</td>
  </tr>
  <tr>
    <td class="name">{{ t('sitestats_users_24hours') }}</td>
    <td class="number">{{ user24.num_users|number_format }}</td>
  </tr>
  <tr class="altrow">
    <td class="name">{{ t('sitestats_users_30days') }}</td>
    <td class="number">{{ user30.num_users|number_format }}</td>
  </tr>
</table>
