<h3 class="middle">Number of proven gold medals</h3>
<table class="usergames zebra">
  {% for user in mostprovengolds %}
    <tr>
      <td class="rank">{{ nth(loop.index) }}</td>
      <td class="name"><a href="/user/{{ user.user_id }}">{{ user.username }}</a></td>
      <td class="number">{{ user.count }}</td>
    </tr>
  {% endfor %}
</table>
