<div class="layout--content-primary layout--content-primary-readable">
  <h1>{{ t('404_title') }}</h1>

  <p>{{ t('404_content_top') }}</p>

  <ul class="staricon">
    <li>{{ t('404_content_list1') }}</li>

    <li>{{ t('404_content_list2') }}</li>
  </ul>

  <p>{{ prettify(t('404_content_bottom')) }}</p>
</div>
