<div class="layout--content-primary layout--content-primary-readable">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    <a href="/documentation">{{ t('general_documentation') }}</a> &rarr;
    {{ t('general_history') }}
  </div>

  <h1>{{ t('general_history') }}</h1>

  <h3>{{ t('history_last_update') }}</h3>

  <small>{{ t('history_authors') }}</small>

  <h3>{{ t('history_1_header') }}</h3>
  <p>{{ prettify(t('history_1_content')) }}</p>

  <h3>{{ t('history_2_header') }}</h3>
  <p>{{ prettify(t('history_2_content')) }}</p>

  <h3>{{ t('history_3_header') }}</h3>
  <p>{{ prettify(t('history_3_content')) }}</p>

  <h3>{{ t('history_4_header') }}</h3>
  <p>{{ prettify(t('history_4_content')) }}</p>

  <h3>{{ t('history_5_header') }}</h3>
  <p>{{ prettify(t('history_5_content')) }}</p>

  <h3>{{ t('history_6_header') }}</h3>
  <p>{{ prettify(t('history_6_content')) }}</p>

  <h3>{{ t('history_7_header') }}</h3>
  <p>{{ prettify(t('history_7_content')) }}</p>

  <h3>{{ t('history_8_header') }}</h3>
  <p>{{ prettify(t('history_8_content')) }}</p>

  <h3>{{ t('history_9_header') }}</h3>
  <p>{{ prettify(t('history_9_content')) }}</p>

  <h3>{{ t('history_10_header') }}</h3>
  <p>{{ prettify(t('history_10_content')) }}</p>

  <h3>{{ t('history_11_header') }}</h3>
  <p>{{ prettify(t('history_11_content')) }}</p>

  <h3>{{ t('history_12_header') }}</h3>
  <p>{{ prettify(t('history_12_content')) }}</p>

  <h3>{{ t('history_13_header') }}</h3>
  <p>{{ prettify(t('history_13_content')) }}</p>

  <h3>{{ t('history_14_header') }}</h3>
  <p>{{ prettify(t('history_14_content')) }}</p>

  <h3>{{ t('history_15_header') }}</h3>
  <p>{{ prettify(t('history_15_content')) }}</p>

  <p>{{ prettify(t('history_end')) }}</p>
</div>
