{{ render_component_with('home/index-introduction', []) }}

<div class="hbmiddle index-dashboard">
  <!-- Row 1 -->
  <div class="index-main-scoreboard">
    {{ render_component_with('widgets/main-scoreboard', {'widget_user': current_user}) }}
  </div>
  <div class="index-medals-scoreboard">
    {{ render_component_with('widgets/standard-scoreboard', {'widget_user': current_user}) }}
  </div>
  <div class="index-trophy-scoreboard">
    {{ render_component_with('widgets/trophy-scoreboard', {'widget_user': current_user}) }}
  </div>
  <div class="index-rainbow-scoreboard">
    {{ render_component_with('widgets/rainbow-scoreboard', {'widget_user': current_user}) }}
  </div>

  <!-- Row 2 -->
  <div class="index-speedrun-scoreboard">
    {{ render_component_with('widgets/speedrun-scoreboard', {'widget_user': current_user}) }}
  </div>
  <div class="index-arcade-scoreboard">
    {{ render_component_with('widgets/arcade-scoreboard', {'widget_user': current_user}) }}
  </div>
  <div class="index-solution-scoreboard">
    {{ render_component_with('widgets/solution-scoreboard', {'widget_user': current_user}) }}
  </div>
  <div class="index-site-news">
    {{ render_component_with('widgets/site-news', {'current_user': current_user}) }}
  </div>

  <!-- Row 3 -->
  <div class="index-challenge-scoreboard">
    {{ render_component_with('widgets/challenge-scoreboard', {'widget_user': current_user}) }}
  </div>
  <div class="index-collectible-scoreboard">
    {{ render_component_with('widgets/collectible-scoreboard', {'widget_user': current_user}) }}
  </div>
  <div class="index-incremental-scoreboard">
    {{ render_component_with('widgets/incremental-scoreboard', {'widget_user': current_user}) }}
  </div>
  <div class="index-user-news">
    {{ render_component_with('widgets/user-news', []) }}
  </div>

  <!-- Row 4 -->
  <div class="index-latest-submissions">
    {{ render_component_with('widgets/latest-submissions', {'widget_user': current_user}) }}
  </div>
  <div class="index-latest-games">
    {{ render_component_with('widgets/latest-games', {'widget_user': current_user}) }}
  </div>
  <div class="index-recentactivity-forum">
    
  </div>
</div>
