<div class="tabbed-modules">
  <div class="tabbed-modules-sidebar">
    <div class="sidebar-navigation">
      {{ render_component_with('tabbed-sidebar', {'sidebar': sidebar, 'src': src, 'name': 'staff'}) }}
    </div>
  </div>
  <div class="tabbed-modules-contents">
    <h1>{{ t('documentation_staff_title') }}</h1>
    <p>{{ t('documentation_staff_intro') }}</p>
    <div>
      {{ render_component_with('staff/' ~ src, []) }}
    </div>
  </div>
</div>
