<style text="css">
.smallflag {
  width: 16px;
  height: 16px;
  vertical-align: -20%;
}
td.stars {
  text-align: center;
  width: 100px;
  padding-left: 10px;
}
td.flag {
  width: 20px;
}
td.name {
  width: 280px;
}
</style>

<div class="layout--content-primary layout--content-primary-readable">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a> &rarr;
    <a href='/community'>{{ t('general_community') }}</a> &rarr;
    {{ t('general_footer_team') }}
  </div>

  <h1>{{ t('general_footer_team') }}</h1>

  <h3 class="middle">{{ t('general_team1') }}</h3>
  <table>
    <tr>
      <td class="flag"><img class="smallflag" src="/flags/GB.png"></td>
      <td class="name"><strong>Michael &ldquo;<a href="/user/1">MikkyX</a>&rdquo; Price</strong></td>
      <td class="stars"><img title="Owner" src="/images/Star_Pink16.png"> <img title="Administrator" src="/images/Star_Red16.png"> <img title="Developer" src="/images/Star_Violet16.png"></td>
      <td class="time">(April 2002 &ndash; April 2010)</td>
    </tr>
    <tr>
      <td class="flag"><img class="smallflag" src="/flags/GB.png"></td>
      <td class="name"><strong>Peter &ldquo;<a href="/user/3">AgimaCS</a>&rdquo; Price</strong></td>
      <td class="stars"><img title="Administrator" src="/images/Star_Red16.png"></td>
      <td class="time">(April 2002 &ndash; April 2010)</td>
    </tr>
  </table>
  <p>{{ t('general_team2') }}</p>
  <br />

  <h3 class="middle">The Current Staff</h3>
  {{ t('general_team5') }}

  {% for section in sections %}
    <table class="main">
      <tr>
        <th colspan="3">
          <h4>
            {% if section.star is defined %}<img alt="" src="{{ section.star }}">{% endif %}
            {{ section.title }}
          </h4>
        </th>
      </tr>
      {% for user in section.users %}
        <tr>
          <td class="flag">
            {{ country_flag_image_tag(user, {'class': 'smallflag'}) }}
          </td>
          <td class="name">
            <strong>{{ link_to_user(user, true) }}</strong>
          </td>
          <td class="stars">
            {{ user_star_image_tags(user) }}
          </td>
          <td class="time">
            {% if user.start_date is defined %}
              ({{ user.start_date }} – {{ user.end_date }})
            {% endif %}
          </td>
        </tr>
      {% endfor %}
      {% if section.note is defined %}
        <tr>
          <td colspan="4">{{ section.note }}</td>
        </tr>
      {% endif %}
    </table>
    <br />
  {% endfor %}
</div>
