<div class="layout--content-primary layout--content-primary-readable">
  <h1>Unauthorized access</h1>

  <p>You don't have permission to view this page.</p>

  {% if needs_login %}
    {{ t('general_login_needed_text')|raw }}

    <form class='login' method='post' action='/login'>
      <input type='hidden' value='{{ referrer|e('html_attr') }}' name='referrer'>
      <label class='ulabel' for="username">Username</label>
      <input class='username' type="text" name="username" id='username' required />

      <label class='plabel' for='password'>Password</label>
      <input class='password' type="password" name="password" id='password' required />

      <input class='submit' type="submit" value="{{ t('loginbox_login') }}" />

      <div class='other-actions'>
        <a href="/passwords/recover">{{ t('loginbox_forgot_password') }}</a>
        |
        <a href='/register.php'>{{ t('loginbox_register') }}</a>
      </div>
    </form>
  {% endif %}
</div>
