<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">{{ t('general_home') }}</a> 
    &rarr; {{ link_to_game(game_id) }} 
    &rarr; <a href="/mod_scripts/edit_game_groups.php?game_id={{ game_id }}">Edit game charts and groups</a> 
    &rarr; <a href="/game-modifiers/{{ game_id }}">Edit chart modifiers</a>
  </div>

  <p>
    The arcade chart-flag automatically applies when there are any CSP modifiers.
    The standard chart-flag automatically applies when there are no other chart flags.
  </p>

  <form method="post">
    <table class="games-edit-modifiers zebra">
      <thead>
        <tr>
          <th class="modifier-type modifier-type--chart">Chart</th>
          <th class="modifier-type modifier-type--modifier" colspan="{{ modifiers|length }}">CSP Modifiers</th>
          <th class="modifier-type modifier-type--flag" colspan="{{ flags|length }}">Chart Flags</th>
        </tr>
        <tr>
          <th rowspan='2'></th>

          <th class='modifier-category' colspan='2'>Gameplay differences</th>
          <th class='modifier-category' colspan='4'>Premium upgrades &amp; consumables</th>
          <th class='modifier-category' colspan='3'>Accessibility issues</th>
          <th class='modifier-category' colspan='3'>Secondary modifiers</th>

          {% for flag in flags %}
            <th rowspan='2'>
              <img class="modifier-icon" src="/skins4/default/images/modifiers/{{ flag.identifier }}.png">
              {{ flag.label }}
            </th>
          {% endfor %}
        </tr>
        <tr>
          {% for modifier in modifiers %}
            <th>
              <img class="modifier-icon" src="/skins4/default/images/modifiers/{{ modifier.identifier }}.png">
              {{ modifier.subcategory }}
            </th>
          {% endfor %}
        </tr>
      </thead>
      {% for group_id, charts in game_charts %}
        <tbody>
          <tr class="collapsed group {{ charts[0]['group_ranked'] }}">
            <td onclick="toggle(this)">
              + {{ charts[0]['group_name'] }}
            </td>

            {% for modifier in modifiers %}
              <td>
                <input
                  type='checkbox'
                  class='select-for-group type--modifier'
                  data-type="modifier"
                  data-modifier="{{ modifier.identifier }}"
                  data-arcade-modifier="{{ modifier.is_arcade_modifier }}"
                  title="{{ label }}"
                />
                <span class='count'></span>
              </td>
            {% endfor %}

            {% for flag in flags %}
              <td>
                <input
                  type='checkbox'
                  class='select-for-group type--flag'
                  data-type="flag"
                  data-modifier="{{ flag.identifier }}"
                  {% if flag.identifier in ['arcade', 'standard'] %}disabled{% endif %}
                  title="{{ modifier.label }}"
                />
                <span class='count'></span>
              </td>
            {% endfor %}
          </tr>
          {% for chart in charts %}
            <tr class="chart" data-levelid="{{ chart['level_id'] }}">
              <td>{{ chart['level_name'] }}</td>

              {% for modifier in modifiers %}
                <td>
                  <input
                    type="checkbox"
                    class="select-for-chart type--modifier"
                    data-type="modifier"
                    data-modifier="{{ modifier.identifier }}"
                    data-arcade-modifier="{{ modifier.is_arcade_modifier }}"
                    data-id="{{ chart['level_id'] }}"
                    title="{{ modifier.label }}"
                    name="modifiers[{{ chart['level_id'] }}][{{ modifier.identifier }}]"
                    value="on"
                    {% if selected_modifiers[chart['level_id']][modifier.identifier] %}checked='checked'{% endif %}
                  />
                </td>
              {% endfor %}

              {% for flag in flags %}
                <td>
                  <input
                    type="checkbox"
                    class="select-for-chart type--flag"
                    data-type="flag"
                    data-modifier="{{ flag.identifier }}"
                    data-id="{{ chart['level_id'] }}"
                    title="{{ flag.label }}"
                    name="flags[{{ chart['level_id'] }}][{{ flag.identifier }}]"
                    value="on"
                    {% if selected_modifiers[chart['level_id']][flag.identifier] %}checked='checked'{% endif %}
                  />
                </td>
              {% endfor %}
            </tr>
          {% endfor %}
        </tbody>
      {% endfor %}
    </table>

    <input type="submit" value="Apply changes" />
  </form>
</div>

<script type="text/javascript">
function toggle(e) {
  e.parentNode.classList.toggle('collapsed');
}

function updateGroupCounts() {
  let modifiers = document.querySelectorAll(".games-edit-modifiers thead th").length - 2;

  document.querySelectorAll(".games-edit-modifiers tbody").forEach(function (tbody) {
    let ncharts = tbody.querySelectorAll("tr.chart").length;
    tbody.querySelectorAll("tr.group td").forEach(function (td, index) {
      if (0 < index && index <= modifiers) {
        let nselected = 0;
        tbody.querySelectorAll(`tr.chart`).forEach(function (tr) {
          if (tr.querySelector(`td:nth-child(${index + 1}) input`).checked) {
            nselected++;
          }
        });
        td.querySelector('.count').innerHTML = `${nselected}/${ncharts}`;
        td.querySelector('input').checked = nselected == ncharts;
      }
    });
  });
}

function toggleModifierInGroup(ev) {
  const target = ev.target;
  const { type, modifier } = target.dataset;

  ev.target.closest("tbody").querySelectorAll(`.select-for-chart[data-type="${type}"][data-modifier="${modifier}"]`).forEach(function (e) {
    e.checked = ev.target.checked;
    chartModifierSelected({ target: e });
  });

  updateGroupCounts();
}

function toggleFlagInGroup(ev) {
  const target = ev.target;
  const { type, modifier } = target.dataset;

  ev.target.closest("tbody").querySelectorAll(`.select-for-chart[data-type="${type}"][data-modifier="${modifier}"]`).forEach(function (e) {
    e.checked = ev.target.checked;
    chartFlagSelected({ target: e });
  });

  updateGroupCounts();
}

function chartModifierSelected(eva) {
  const target = eva.target;
  const { type, id } = target.dataset;

  if (type != 'modifier') return;
  if (target.dataset.arcadeModifier != "1") return;

  if (target.checked) {
    document.querySelector(`.select-for-chart[data-type=flag][data-modifier=arcade][data-id="${id}"]`).checked = true;
    document.querySelector(`.select-for-chart[data-type=flag][data-modifier=standard][data-id="${id}"]`).checked = false;
  } else {
    if (Array.from(document.querySelectorAll(`.select-for-chart[data-type=modifier][data-arcade-modifier="1"][data-id="${id}"]`)).every((e) => !e.checked)) {
      document.querySelector(`.select-for-chart[data-type=flag][data-modifier=arcade][data-id="${id}"]`).checked = false;
      let isStandard = Array.from(document.querySelectorAll(`.select-for-chart[data-type=flag][data-id="${id}"]:not([data-modifier=standard])`)).every((e) => !e.checked);
      document.querySelector(`.select-for-chart[data-type=flag][data-modifier=standard][data-id="${id}"]`).checked = isStandard;
    }
  }
}

function chartFlagSelected(eva) {
  const target = eva.target;
  const { type, id } = target.dataset;

  if (type != 'flag') return;

  if (target.dataset.modifier == 'arcade' || target.dataset.modifier == 'standard') {
    eva.preventDefault();
    return false;
  }

  let isStandard = Array.from(document.querySelectorAll(`.select-for-chart[data-type=flag][data-id="${id}"]:not([data-modifier=standard])`)).every((e) => !e.checked);
  document.querySelector(`.select-for-chart[data-type=flag][data-modifier=standard][data-id="${id}"]`).checked = isStandard;
}


document.querySelectorAll(".games-edit-modifiers .select-for-chart.type--modifier").forEach(function(checkbox) {
  checkbox.addEventListener('click', chartModifierSelected);
});

document.querySelectorAll(".games-edit-modifiers .select-for-chart.type--flag").forEach(function(checkbox) {
  checkbox.addEventListener('click', chartFlagSelected);
});

document.querySelectorAll(".games-edit-modifiers .select-for-group.type--modifier").forEach(function(checkbox) {
  checkbox.addEventListener('click', toggleModifierInGroup);
});

document.querySelectorAll(".games-edit-modifiers .select-for-group.type--flag").forEach(function(checkbox) {
  checkbox.addEventListener('click', toggleFlagInGroup);
});

document.querySelectorAll(".games-edit-modifiers .select-for-chart:not([data-modifier=arcade]):not([data-modifier=standard])").forEach(function(checkbox) {
  checkbox.addEventListener('click', updateGroupCounts);
});

updateGroupCounts();
</script>
