<div class="layout--content-primary">
  <div id="breadcrumb" class="clearfix">
    <a href="/">Home</a> &rarr;
    <a href="info.php">Translation Home</a> &rarr;
    Translate country names
  </div>

  <h1>Translation</h1>

  <h2>Translate country names into {{ language_name }}</h2>

  <p>Make your changes below then click &lsquo;Save Changes&rsquo; to store them in the database.</p>

  <br />

  <form action="/translations/countries" method="post" accept-charset="utf8">
    <input type="hidden" name="language_id" value="{{ translate_lang_id }}" />
    <table class='zebra'>
      <tr>
        <td><b>Flag</b></td>
        <td><b>Country code</b></td>
        <td><b>English country name</b></td>
        <td><b>Translated country name</b></td>
        <td><b>Users from this country</b></td>
      </tr>
      {% for country in countries %}
        <tr>
          <td>{{ country_flag_image_tag(country) }}</td>
          <td>{{ country['country_code'] }}</td>
          <td>{{ country['country_name'] }}</td>
          <td>
            <input
                size="50"
                type="text"
                name="text[{{ country['country_id'] }}]"
                value="{{ country['translation'] }}"
                />
          </td>
          <td>{{ country['user_count'] }}</td>
        </tr>
      {% endfor %}
    </table>
    <br />
    <input type="submit" value="Save Changes" name="submit" />
  </form>
</div>

<div class="layout--sidebar-primary">
  {{ render_component_with("translations/menu", []) }}
</div>
